mixin social(object)
	//- array, type, size
	- var object = object || {}
	- var array = object.array || ['youtube','facebook','instagram']
	.social(class= object.type ? `social--${object.type}` : "",
				class= object.size ? `social--${object.size}` : "")
		ul
			each iconName in array
				li
					a(href="#")
						+icon(iconName)