.social {

	ul {
		display: flex;
		flex-wrap: wrap;
		margin-right: -12px;
		margin-bottom: -12px;
		font-size: 23px;

		@include media( map-get( $media, md ) ) {
			font-size: 19px;
		}
	}

	li {
		margin-bottom: 12px;
		margin-right: 12px;
	}

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.6956em;
		height: 1.6956em;
		border-radius: 50%;
		color: #fff;
		background: #505259;
		transition: .3s;

		&:hover {
			
			@include media( map-get( $media-min, lg ), 'min' ) {
				color: #fff;
				background: map-get( $color, dark );
			}
		}
	}

	&--alt {

		a {
			background: map-get( $color, accent );
			opacity: 0.56;

			&:hover {
				
				@include media( map-get( $media-min, lg ), 'min' ) {
					background: map-get( $color, accent );
					opacity: 1;
				}
			}
		}
	}

	&--md {

		ul {
			font-size: 30px;
		}

		a {
			width: 1.6em;
			height: 1.6em;
		}
	}
}