.title-page {
	text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
	line-height: 1;
	font-family: map-get( $ff, alt );
	font-weight: 500;
	font-size: 70px;
	text-transform: uppercase;

	@include media( map-get( $media, lg ) ) {
		font-size: 60px;
	}

	@include media( map-get( $media, md ) ) {
		font-size: 50px;
	}

	@include media( map-get( $media, sm ) ) {
		font-size: 35px;
	}
}

.title {
	line-height: 1;
	font-family: map-get( $ff, alt );
	font-weight: 500;
	font-size: 34px;
	margin-bottom: 0.875em;
	text-transform: uppercase;

	@include media( map-get( $media, md ) ) {
		font-weight: 400;
		font-size: 28px;
	}

	@include media( map-get( $media, sm ) ) {
		font-size: 24px;
	}
}

.title-md {
	font-size: 62px;
	line-height: 1;
	font-family: map-get( $ff, alt );
	font-weight: 400;
	text-transform: uppercase;

	@include media( map-get( $media, lg ) ) {
		font-size: 52px;
	}

	@include media( map-get( $media, md ) ) {
		font-size: 44px;
	}

	@include media( map-get( $media, sm ) ) {
		font-size: 36px;
	}
}

h2,
.title-sm {
	line-height: 1;
	font-family: map-get( $ff, alt );
	font-weight: 500;
	font-size: 32px;
	margin-bottom: 0.875em;
	text-transform: uppercase;

	@include media( map-get( $media, sm ) ) {
		font-size: 24px;
		font-weight: 400;
	}
}

.subtitle {
	font-size: 24px;
	color: #D5A880;
	font-family: map-get( $ff, other );

	@include media( map-get( $media, md ) ) {
		font-size: 18px;
	}
}