.section {
	margin: 75px 0;

	@include media( map-get( $media, md ) ) {
		margin: 50px 0;
	}

	@include media( map-get( $media, sm ) ) {
		margin: 40px 0;
	}

	&:first-child {
		margin-top: 0;
	}

	&--slider {
		position: relative;

		.section__header {
			padding-right: 100px;
		}

		.slick-arrow {
			position: absolute;
			bottom: 100%;
			margin-bottom: 25px;

			&.slick-prev {
				right: 50px;
			}

			&.slick-next {
				right: 0;
			}
		}

		.cards .card__drop {

			@include media( map-get( $media, md ) ) {
				padding-bottom: 0;
			}
		}
	}

	&--bg {
		padding: 40px 0 80px;

		@include media( map-get( $media, md ) ) {
			padding: 40px 0;
		}

		&--alt {
			@include media( map-get( $media-min, md ), 'min' ) {
				padding-top: 80px;
			}
		}

		&-mpt {

			@include media( map-get( $media, md ) ) {
				padding-top: 25px;
			}

			& > div.container {

				@include media( map-get( $media, md ) ) {
					padding-top: 25px;
				}
			}
		}

		& + .section--bg {
			margin-top: 0;

			@include media( map-get( $media-min, lg ), 'min' ) {
				padding-top: 65px;
			}
		}
	}

	&--gray {
		background-color: map-get( $color, gr );
	}

	&--dark {
		background-color: map-get( $color, dark );

		&.section--pic {

			@include media( map-get( $media, md ) ) {
				margin-top: 75px;
			}
		}

		.section__text {
			color: #fff;

			a {
				color: #CFA074;
			}
		}

		.choice__pic {

			span {
				color: map-get( $color, dark );
				border-left-color: map-get( $color, dark );
				border-right-color: map-get( $color, dark );

				&:after,
				&:before {
					border-left-color: map-get( $color, dark );
					border-right-color: map-get( $color, dark );
				}
			}
		}
	}

	&--pic {
		padding: 0;

		@include media( map-get( $media, md ) ) {
			padding: 0;
		}

		&--alt {
			padding-top: 0;
		}

		.section-pic {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: left bottom;
			mix-blend-mode: multiply;

			&--alt {
				margin-left: -84px;
				background-position: left top;
			}
		}

		.container {
			position: relative;
			padding-top: 40px;
			padding-bottom: 80px;

			@include media( map-get( $media, md ) ) {
				padding-top: 40px;
				padding-bottom: 40px;
			}

			&--alt {
				
				@include media( map-get( $media-min, md ), 'min' ) {
					padding-top: 80px;
				}
			}
		}
	}

	&--mb {
		
		@include media( map-get( $media-min, lg ), 'min' ) {
			margin-bottom: 100px;
		}
	}

	&--mbz {
		margin-bottom: 0;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 0;
		}

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 0;
		}
	}

	&--mz {
		margin-bottom: 0;
		margin-top: 0;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 0;
			margin-top: 0;
		}

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	&--center {
		text-align: center;
	}

	&__cols {

		@include media( map-get( $media-min, md ), 'min' ) {
			display: flex;
		}

		.section {

			&__header {
				display: block;
			}
		}

		&--alt {

			@include media( map-get( $media, lg ) ) {
				display: block;
			}

			.section__col {

				@include media( map-get( $media, lg ) ) {
					width: 100%;
					max-width: 100%;
					margin-right: 0;
				}

				&:not(.section__header) {
					
					@include media( map-get( $media, lg ) ) {
						margin-bottom: 30px;
	
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}

	&__col {
		
		@include media( map-get( $media-min, md ), 'min' ) {
			width: 33.3333%;
			max-width: 316px;
			flex: 33.3333%;
			margin-right: 53px;
		}

		&--lg {

			@include media( map-get( $media-min, md ), 'min' ) {
				margin-left: auto;
				display: flex;
				flex: 1;
				max-width: 685px;
				margin-right: -53px;
			}

			&.slider-mobile {

				@include media( map-get( $media, md ) ) {
					margin-top: 48px;
				}

				.slick-dots {

					@include media( map-get( $media, md ) ) {
						right: 50%;
						transform: translateX(50%);
						margin-bottom: 20px;
					}
				}
			}
		}

		&--md {

			@include media( map-get( $media-min, lg ), 'min' ) {
				flex: 1;
				max-width: 570px;
				margin-left: auto;
				margin-right: 0;
			}
		}

		&--pic {
			@include media( map-get( $media-min, lg ), 'min' ) {
				margin-left: -20px;
				width: 40%;
				max-width: 40%;
				flex: 0 0 40%;
			}
		}
	}

	&__box {

		@include media( map-get( $media-min, md ), 'min' ) {
			width: calc(50% - 53px);
			flex: 0 0 calc(50% - 53px);
			margin-right: 53px;
		}

		&:nth-child(n + 3) {

			@include media( map-get( $media-min, md ), 'min' ) {
				display: none;
			}
		}

		h3 {
			margin-bottom: 0;
		}
	}

	&__cont {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		z-index: 2;

		&--sm {
			max-width: 720px;
		}

		&--xl {
			max-width: 670px;

			.section__action {

				.btn {

					.icon {
						font-size: 22px;
					}
				}
			}
		}
	}

	&__header {
		display: flex;
		align-items: baseline;
		margin-bottom: 25px;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 14px;
		}

		&--mobile {

			&-center {

				@include media( map-get( $media, md ) ) {
					text-align: center;
				}
			}
		}
	}

	&__title {
		margin-bottom: 0;
		line-height: 1;

		a {
			pointer-events: none;

			@include media( map-get( $media, md ) ) {
				pointer-events: initial;
				text-decoration: underline;
			}
		}
	}

	&__text {
		font-size: 18px;
		line-height: 128%;

		@include media( map-get( $media, md ) ) {
			font-size: 16px;
		}

		@include media( map-get( $media, sm ) ) {
			font-size: 13px;
			line-height: 146%;
		}
	}

	&__action {
		display: flex;
		margin-top: 30px;

		.btn {
			margin-right: 23px;

			@include media( map-get( $media, sm ) ) {
				height: auto;
				padding: 12px;
				margin-right: 13px;
			}

			@include media( map-get( $media, xl ) ) {
				
				.icon {
					margin-right: 4px;
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__link {
		margin-left: 20px;
		font-weight: 600;
		color: #CFA074;
		font-size: 16px;
		text-decoration: underline;

		@include media( map-get( $media, md ) ) {
			display: none;
		}

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				text-decoration: none;
			}
		}
	}
}