.accordion {

	&-box {

		&.active {
			
			.accordion-box {

				&__btn {
					border-bottom-color: transparent;

					.icon {
						transform: rotate(180deg);
					}
				}

				&__content {
					display: block;
					margin-bottom: 13px;
				}
			}
		}

		&__btn {
			display: none;

			@include media( map-get( $media, md ) ) {
				width: 100%;
				cursor: pointer;
				text-align: left;
				display: flex;
				align-items: center;
				justify-content: space-between;
				position: relative;
				font-size: 25px;
				text-transform: uppercase;
				font-family: map-get( $ff, alt );
				border-bottom: 1px solid #D6D6D6;
				background: none;
				padding: 10px 10px 10px 2px;
			}

			.icon {
				color: #CFA074;
				font-size: 10px;
				margin-left: 20px;
			}
		}

		&__content {

			@include media( map-get( $media, md ) ) {
				display: none;
				background: #F5F0EB;
				margin-left: -15px;
				margin-right: -15px;
				padding-left: 15px;
				padding-right: 15px;
				padding-bottom: 40px;
				padding-top: 10px;
			}
		}
	}
}