.header {
	position: relative;
	z-index: 100;

	@include media( map-get( $media, lg ) ) {
		position: absolute;
		top: 46px;
		left: 0;
		right: 0;
		display: none;
		padding-bottom: 70px;
	}

	.container {

		@include media( map-get( $media, lg ) ) {
			padding: 0;
			display: flex;
			flex-direction: column-reverse;
		}
	}

	&.isFixed {

		@include media( map-get( $media-min, lg ), 'min' ) {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 200;
			background: #393B41;
			height: 55px;
			display: flex;
			align-items: center;

			.container {
				padding-left: 238px;
				padding-right: 135px;
				position: relative;
			}
			
			.header {

				&__main {
					padding: 0;
				}

				&__bottom {
					align-self: flex-start;
					height: 55px;

					&:before {
						display: none;
					}
				}

				&__logo {
					position: absolute;
					top: 50%;
					left: 25px;
					transform: translateY(-50%);
					width: 92px;

					img {

						&:first-child {
							display: none;
						}

						&:last-child {
							display: block;
						}
					}
				}

				&__info,
				&__top {
					display: none;
				}

				&__items {
					position: absolute;
					right: 35px;
					top: 50%;
					transform: translateY(-50%);
				}

				&__item {

					&-top {
						position: static;
						margin: 0;

						.icon {
							font-size: 29px;
						}
					}

					&--basket {
						min-width: initial;

						.icon {
							font-size: 34px;
						}
					}

					.icon-heart-full {

						& ~ span {
							margin-top: -2px;
						}
					}

					&-price,
					&-info,
					&-line {
						display: none;
					}
				}

				&__search {
					position: absolute;
					left: 140px;
					top: 50%;
					transform: translateY(-50%);
					margin: 0;
					height: auto;
					z-index: 10;

					.search-box {
						height: 55px;
						width: 55px;
						background: rgba(255, 255, 255, 0.12);
						border: none;

						&__btn {
							display: flex;
							width: 55px;
							height: 100%;
							display: flex;
							font-size: 19px;
							color: #fff;
						}

						&__form {
							display: none;
						}

						&__rezult {
							margin-top: -1px;
							padding-left: 50px;
							padding-right: 50px;
							padding-right: 66px;
							padding-left: 56px;

							&:before {
								display: block;
							}
						}

						&.active {
							border: none;
							width: 405px;

							input {
								padding-left: 50px;
							}

							.search-box__btn {
								// pointer-events: none;
								z-index: 99;
								color: map-get($color, accent);

								.icon {

									&-close-alt {
										display: flex;
									}

									&-search {
										display: none;
									}
								}
							}

							.search-box__form {
								display: flex;
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background: #fff;
							}

							.search-box__submit {
								background: #CFA074;
								height: 40px;
								color: #fff;
								width: 110px;
								display: flex;
								justify-content: center;
								align-self: center;
								margin-right: 10px;
								margin-left: 10px;

								span {
									display: block;
									font-size: 14px;
								}

								.icon {
									color: #fff;
									font-size: 11px;
									margin-left: 10px;
								}
							}
						}
					}
				}
			}

			.menu-more {
				height: 55px;
				width: 93px;
				min-width: 93px;
				margin-right: 0;
				border-right: 1px solid rgba(226, 226, 226, 0.35);
			}

			.search-box__btn {
				pointer-events: initial;
			}

			.menu {
				height: 55px;

				&.show-all .menu__list:after {
					top: 55px;
				}

				&-drop {
					left: 50%;
					right: auto;
					transform: translateX(-50%);
					width: calc(100vw + 20px);
					max-width: 1440px;
					padding-left: 40px;
					padding-right: 40px;
				}

				&-link {
					height: 55px;
				}

				&__list {
					justify-content: center;
				}

				&-item.hide:last-child {
					margin-right: initial;
				}
				&-item:not(.hide) + .hide {
					margin-left: initial;
				}

				&-drop {
					top: 55px;
				}
			}
		}
	}

	&__top {
		display: flex;
		align-items: center;
		position: relative;
		height: 47px;

		@include media( map-get( $media, lg ) ) {
			height: initial;
			display: block;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100vw;
			border-bottom: 1px solid #E2E2E2;

			@include media( map-get( $media, lg ) ) {
				display: none;
			}
		}

		& > * {
			margin-right: 42px;

			@include media( map-get( $media, lg ) ) {
				margin-right: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__address {
		padding-right: 64px;
		border-right: 1px solid #E2E2E2;
		display: flex;
		align-self: stretch;
		align-items: center;

		@include media( map-get( $media, lg ) ) {
			display: none;
		}

		&-line {
			display: flex;
		}

		.icon {
			color: map-get( $color, accent );
			margin-right: 12px;
			font-size: 15px;
		}

		span {
			line-height: 108%;
			font-size: 12px;
			font-weight: 600;
			color: map-get( $color, alt );
			width: 132px;
		}
	}

	&__user {
		margin-left: auto;
		font-size: 13px;
		line-height: 1;

		@include media( map-get( $media, lg ) ) {
			display: none;
		}

		& > span {
			
			.icon {
				font-size: 15px;
				margin-left: 6px;
				vertical-align: middle;
				position: relative;
				top: -1px;
			}
		}

		& > ul {
			display: flex;

			li {
				margin-right: 13px;
				padding-right: 17px;
				position: relative;

				&:last-child {
					margin-right: 0;
					padding-right: 0;

					&:after {
						display: none;
					}
				}

				&:after {
					content: '|';
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
				}
			}
		}
	}

	&__main {
		display: flex;
		align-items: center;
		padding: 19px 0 27px;

		@include media( map-get( $media, lg ) ) {
			display: none;
		}

		& > * {
			margin-right: 56px;

			@include media( 1340px ) {
				margin-right: 40px;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__logo {
		width: 189px;
		margin-right: 70px;

		@include media( 1340px ) {
			width: 150px;
			margin-right: 30px;
		}

		@include media( map-get( $media, lg ) ) {
			display: none;
		}

		img {
			
			&:last-child {
				display: none;
			}
		}
	}

	&__info {

		@include media( map-get( $media, lg ) ) {
			display: none;
		}
	}

	&__time {
		color: rgba(60, 62, 69, 0.6);
		font-size: 13px;
	}

	&__phone {
		display: flex;
		font-size: 17px;
		font-weight: 600;
		color: map-get( $color, alt );

		@include media( 1340px ) {
			font-size: 16px;
		}

		li {
			margin-right: 15px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__email {

		a {
			text-decoration: underline;

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					text-decoration: none;
				}
			}
		}
	}

	&__search {
		flex: 1;
		height: 40px;

		@include media( map-get( $media, lg ) ) {
			display: none;
		}
	}

	&__item {
		display: block;

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				color: inherit;
			}
		}

		&-pic {
			display: flex;
			position: relative;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				font-size: 12px;
				font-weight: 600;
				color: #fff;
				margin-top: -1px;
			}

			.icon {
				font-size: 27px;
				color: #CFA074;
			}
		}

		&-top {
			display: flex;
			align-items: center;
			margin-bottom: 7px;
			position: absolute;
			bottom: 100%;
			left: 0;

			.header__item-pic {
				margin-right: 12px;
			}
		}

		&-price {
			font-weight: 600;
			font-size: 17px;
			position: relative;
			bottom: -3px;
		}

		&--basket {
			min-width: 238px;
			position: relative;

			.header__item-pic {
				margin-left: -12px;

				.icon {
					font-size: 32px;

					&-basket-full {
						font-size: 36px;
					}
				}

				span {
					margin-top: -3px;
					margin-left: 4px;
				}
			}
		}

		&-info {
			margin-top: 5px;
			line-height: 1;
			font-size: 13px;
			white-space: nowrap;
			position: absolute;
			top: 100%;
			left: 0;

			b {
				margin-left: 3px;
				display: inline-block;
			}
		}

		&s {
			display: flex;
			align-items: center;

			@include media( map-get( $media, lg ) ) {
				display: none;
			}

			li {
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	&__bottom {
		display: flex;
		color: #fff;
		position: relative;
		height: 51px;

		@include media( map-get( $media, lg ) ) {
			height: initial;
			display: block;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 50%;
			bottom: 0;
			width: 100vw;
			background: map-get( $color, dark );
			transform: translateX(-50%);

			@include media( map-get( $media, lg ) ) {
				display: none;
			}
		}
	}

	&-mobile {
		position: absolute;
		right: 0;
		top: 0;
		left: 0;
		z-index: 200;

		@include media( map-get( $media-min, lg ), 'min' ) {
			display: none;
		}

		&__top {
			display: flex;
			align-items: center;
			height: 50px;
		}

		&__main {
			height: 46px;
			background: #393B41;
		}

		.container {
			display: flex;
			align-items: center;
		}

		.logo {
			width: 92px;
		}

		&__btns {
			display: flex;
			align-items: center;
			margin-left: auto;

			li {
				margin-left: 14px;
			}

			a {
				display: flex;
				align-items: center;
				font-size: 23px;
				
				.icon {
					color: #CFA074;

					&-basket-full,
					&-basket {
						font-size: 1.2em;
					}

					&-heart,
					&-heart-full {
						font-size: 1.06em;
					}
				}

				span {
					margin-left: 3px;
					font-size: 10px;
					font-weight: 600;
					color: #3C3E45;
				}
			}
		}

		&__search {
			margin-left: -10px;
			width: 46px;
			margin-right: 15px;

			.search-box {
				height: 46px;
				border: none;
				background: none;

				&__btn {
					height: 100%;
					pointer-events: initial;
				}

				&__form {
					display: none;
				}

				&.active {
					margin-left: -5px;
					z-index: 100;
					background: #EBECEF;
					width: 100vw;

					.search-box {

						&__btn {
							display: none;
						}

						&__form {
							display: flex;
						}

						&__close {
							height: 100%;
							width: 46px;
							display: flex;
							color: #CFA074;
							display: flex;
							align-items: center;
							justify-content: center;
							z-index: 1;
							position: absolute;
							top: 0;
							left: 5px;
							background: none;
						}

						&__submit {
							height: 100%;
							width: 46px;
							background: #CF9F74;

							.icon {
								color: #fff;

								&-angle-right {
									display: none;
								}

								&-search {
									font-size: 17px;
									display: flex;
								}
							}
						}
					}

					input {
						font-size: 14px;
						padding-left: 50px;

						@include placeholder(#505259);
					}
				}
			}
		}

		&__menu {
			flex: 1;

			button {
				display: flex;
				align-items: center;
				background: none;
				height: 46px;
				color: #fff;

				span {
					font-size: 13px;
					font-weight: 600;
					margin-left: 14px;
					text-transform: uppercase;
				}

				.icon {
					font-size: 20px;
	
					&-close {
						font-size: 14px;
						display: none;
					}
				}
			}
		}

		&__user {
			margin-right: -15px;
			display: flex;
			position: relative;

			button {
				height: 46px;
				width: 50px;
				color: #CFA074;
				display: flex;
				align-items: center;
				justify-content: center;
				background: none;

				.icon {
					font-size: 17px;
	
					&-close {
						display: none;
					}
				}
			}

			&-drop {
				top: 100%;
				right: 0;
				position: absolute;
				z-index: 1;
				display: none;
				background: #CFA074;
				padding: 20px 28px;
				width: 100vw;
				max-width: 400px;

				li {
					font-size: 12px;
					line-height: 1;
					color: #fff;
					border-bottom: 1px solid rgba(255, 255, 255, 0.29);

					&:last-child {
						border-bottom: none;
					}
				}

				a {
					display: flex;
					padding: 8px 0;
				}
			}

			&.active {

				button {
					color: #fff;
					background: #CFA074;

					.icon {

						&-user {
							display: none;
						}

						&-close {
							font-size: 14px;
							display: flex;
						}
					}
				}

				.header-mobile__user {

					&-drop {
						display: block;
					}
				}
			}
		}

		&.isFixed {
			position: fixed;

			.logo {
				display: none;
			}

			.header-mobile {

				&__search {
					margin-right: 0;
				}

				&__menu {

					span {
						display: none;
					}
				}

				&__user {
					display: none;
				}

				&__top {
					height: 0;
				}

				&__btns {
					position: absolute;
					top: 0;
					right: 15px;
					height: 46px;
				}

				&__btn-nofix {
					display: none;
				}
			}
		}
	}
}

body.mobile-menu-opened {

	@include media( map-get( $media, lg ) ) {
		overflow: hidden;

		.header-mobile {

			&.isFixed {

				& ~ .header {
					top: 46px;
					height: calc(100vh - 46px);
				}

				.header-mobile {

					&__menu {
						top: 0;

						button {

							span {
								display: block;
							}
						}
					}
				}
			}

			&__menu {
				position: absolute;
				z-index: 20;
				top: 50px;
				left: 0;
				width: 100vw;
				background: #393B41;

				button {
					justify-content: center;
					width: 100%;

					span {
						display: block;
						opacity: 0.4;
					}

					.icon {
	
						&-burger {
							display: none;
						}
	
						&-close {
							display: flex;
							font-size: 14px;
							margin-left: 10px;
							font-size: 12px;
						}
					}
				}
			}
		}

		.header {
			position: fixed;
			top: 96px;
			left: 0;
			right: 0;
			height: calc(100vh - 96px);
			display: block;
			z-index: 200;
			overflow-y: auto;
			overflow-x: hidden;
			background: #393B41;
			border-top: 1px solid #616161;
		}
	}
}