mixin header()
	.header-mobile
		.header-mobile__top
			.container
				+logo()
				ul.header-mobile__btns
					li.header-mobile__btn-nofix
						a(href="#")
							+icon('phone-alt')
					li
						a(href="#")
							if basketVal
								+icon('basket-full')
								span= basketVal
							else
								+icon('basket')
					li
						a(href="#")
							if favoriteVal
								+icon('heart-full')
								span= favoriteVal
							else
								+icon('heart')
		.header-mobile__main
			.container
				.header-mobile__search
					+search-box()
				.header-mobile__menu
					button
						+icon('burger')
						span каталог товаров
						+icon('close')
				.header-mobile__user
					button
						+icon('user')
						+icon('close')
					.header-mobile__user-drop
						ul
							li
								a(href="#") Личные данные
							li
								a(href="#") Корзина
							li
								a(href="#") Избранное
							li
								a(href="#") История покупок
							li
								a(href="#") Персональное предложение


	header.header
		.container.container--big
			.header__top
				.header__address
					.header__address-line
						+icon('address')
						span Московская область и Москва
				.header__nav
					+nav()
				.header__user
					if isLogin
						span Личный кабинет: 
							a(href="#")
								b Илона
								+icon('user')
					else
						ul
							li
								a(href="#") Войти  
							li
								a(href="#") Зарегистрироваться
			.header__main
				.header__logo
					a(href="index.html").logo
						img(src=`images/logo-dark@2x.png`, alt="")
						img(src=`images/logo-light@2x.png`, alt="")
				.header__info
					.header__time Звонки принимаются с 8.00 до 17.00
					ul.header__phone
						li
							a(href="tel:+7880134099876") +7 880 134 09 9876
						li
							a(href="tel:+7880132216789") +7 880 132  21  6789
					.header__email
						a(href="mailto:hello@primyase.ru") hello@primyase.ru
				.header__search
					+search-box()
				ul.header__items
					li
						a(href="#").header__item.header__item--basket
							span.header__item-top
								span.header__item-pic
									if isHeaderBasket
										+icon('basket-full')
										span 25
									else
										+icon('basket')
								span.header__item-price
									if isHeaderBasket
										| 10 245 ₽
									else
										| 0 ₽
							span.header__item-line
								span.progress-line
									if isHeaderBasket
										span(style="width: 80%")
									else
										span(style="width: 0%")
							.header__item-info До подарка осталось 
								if isHeaderBasket
									b 545 ₽
								else
									b 11 000 ₽
					li
						a(href="#").header__item
							span.header__item-pic
								if isHeaderBasket
									+icon('heart-full')
									span 12
								else
									+icon('heart')
			.header__bottom
				+menu()
