.basket {
	display: flex;
	flex-direction: column;

	@include media( map-get( $media, sm ) ) {
		display: block;
	}

	&-section {
		margin-top: 0;
		margin-bottom: 117px;
		order: 3;

		@include media( map-get( $media, lg ) ) {
			margin-bottom: 100px;
			margin-top: 0;
		}

		@include media( map-get( $media, md ) ) {
			margin-top: 0;
			margin-bottom: 70px;
		}

		@include media( map-get( $media, sm ) ) {
			margin-top: 0;
			margin-bottom: 10px;
			background: #FFFFFF;
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
			margin-left: -15px;
			margin-right: -15px;
			padding: 0 15px;
		}

		&.active {

			@include media( map-get( $media, sm ) ) {

				.section__trigger {
					padding-bottom: 13px;

					.icon:last-child {
						transform: rotate(180deg);
					}
				}
				
				.basket-slider {
					display: block;
				}
			}
		}

		.section__header {

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 0;
				padding-right: 0;
			}
		}

		.section__title {

			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}

		.section__trigger {

			@include media( map-get( $media-min, sm ), 'min' ) {
				display: none;
			}

			@include media( map-get( $media, sm ) ) {
				display: flex;
				align-items: center;
				padding: 22px 0;
				width: 100%;

				.icon {
					font-size: 20px;
					color: #505259;

					&:first-child {
						margin-right: 20px;
					}

					&:last-child {
						margin-left: auto;
						font-size: 10px;
					}
				}

				span {
					font-size: 20px;
					line-height: 1;
					text-transform: uppercase;
					font-family: map-get( $ff, alt );
					color: #CFA074;
				}
			}
		}

		.basket-slider {
			
			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}
	}

	&-top {
		order: 1;
		margin-bottom: 25px;

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 20px;
		}
	}

	&-progress {
		padding-top: 20px;

		@include media( map-get( $media, sm ) ) {
			padding-top: 0;
		}
	}

	&-items {
		order: 2;
		margin-bottom: 95px;

		@include media( map-get( $media, lg ) ) {
			margin-bottom: 75px;
		}

		@include media( map-get( $media, md ) ) {
			margin-bottom: 50px;
		}

		@include media( map-get( $media, sm ) ) {
			margin-left: -15px;
			margin-right: -15px;
			margin-bottom: 0;
		}
	}

	&-slider {

		@include media( map-get( $media, sm ) ) {
			display: block;
			position: relative;
			margin-top: 30px;
			padding-bottom: 30px;
		}

		.slick-list {
			margin-left: -9px;
			margin-right: -9px;
			
			@include media( map-get( $media, sm ) ) {
				margin-left: -8px;
				margin-right: -8px;
				overflow: visible;
			}
		}

		.slick-track {
			display: flex;
		}

		.slick-dots {
			right: 50%;
			transform: translateX(50%);
			margin-bottom: 20px;
		}

		&__item {
			display: flex !important;
			flex-direction: column;
			padding: 0 9px;
			height: initial;

			@include media( map-get( $media, sm ) ) {
				padding: 0 8px;
				width: 138px;
			}

			&-img {
				display: flex;
				position: relative;
				overflow: hidden;

				&:before {
					content: '';
					display: block;
					padding-top: 100%;
				}

				img {
					width: 100%;
					height: 100%;
					display: block;
					object-fit: cover;
					object-position: center;
				}
			}

			&-counter {
				display: none;
				height: 30px;

				.counter {
					height: 100%;
					background: #C4C4C4;

					&__btn {
						font-size: 27px;
						color: #fff;

						&:first-child {
							padding-left: 14px;
						}

						&:last-child {
							padding-right: 14px;
						}
					}

					&__val {
						font-size: 18px;
					}
				}
			}

			&.added {

				.basket-slider__item-counter {
					display: block;
				}

				.basket-slider__item-btn {
					display: none;
				}
			}

			&-btn {
				height: 30px;
				background: #CF9F74;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 13px;
				line-height: 1;
				width: 100%;
				color: #fff;
				transition: background .3s;

				&:before {
					content: '+';
					font-size: 1.77em;
					margin-right: 0.4em;
				}

				&:hover {
					background: #78AC74;
				}
			}

			&-title {
				margin-top: 10px;
				text-align: center;
				font-size: 12px;
				font-weight: 600;
				line-height: 1;
				margin-bottom: 12px;
			}

			&-price {
				margin-top: auto;
				font-size: 16px;
				font-weight: 600;
				line-height: 1;
				text-align: center;

				@include media( map-get( $media, sm ) ) {
					font-size: 19px;
				}
			}
		}
	}

	&-deliv {
		background: #CFA074;
		border-radius: 1px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		margin-bottom: 15px;
		height: 55px;

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 10px;
			height: 73px;
			text-align: center;
			padding: 0 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&--disabled {
			background: rgba(207, 160, 116, 0.5);
		}

		span {
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 600;

			@include media( map-get( $media, sm ) ) {
				font-size: 14px;
				line-height: 1;
			}
		}

		.icon {
			font-size: 37px;
			margin-left: 14px;

			@include media( map-get( $media, sm ) ) {
				font-size: 33px;
				margin-left: 7px;
			}
		}
	}

	&-box {

		@include media( map-get( $media-min, sm ), 'min' ) {
			display: none;
		}
		
		&__btn {
			margin-top: 4px;
			height: 59px;

			@include media( map-get( $media, md ) ) {
				height: 59px;
				font-size: 18px;
			}
		}
	}
}