.onTop {
	position: fixed;
	bottom: 40px;
	left: 45px;
	z-index: 50;
	width: 55px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(#393B41,.5);
	font-size: 19px;
	color: #fff;
	transition: background .3s;
	opacity: 0;
	visibility: hidden;

	@include media( map-get( $media, big ) ) {
		display: none;
	}

	&.active {
		opacity: 1;
		visibility: visible;
	}

	&:hover {

		@include media( map-get( $media-min, lg ), 'min' ) {
			background: rgba(#393B41,1);
		}
	}
}