mixin search-box()
	.search-box
		button.search-box__btn
			+icon('search')
			+icon('close-alt')
		form.search-box__form
			button.search-box__close
				+icon('close')
			input(type="text" name="search" placeholder="Поиск...")
			button(type="submit").search-box__submit
				span НАЙТИ
				+icon('angle-right')
				+icon('search')
		.search-box__rezult
			ul
				li
					a(href="#") стейк рибай из мраморной говядины...
				li
					a(href="#") мраморная говядина...
				li
					a(href="#") стейк рибай из мраморной говяд...
				li
					a(href="#") стейк рибай из мраморной говядины...
				li
					a(href="#") мраморная говядина...
				li
					a(href="#") стейк рибай из мраморной говяд...
				li
					a(href="#") стейк рибай из мраморной говядины...
				li
					a(href="#") мраморная говядина...
				li
					a(href="#") стейк рибай из мраморной говяд...