.search-box {
	width: 100%;
	height: 100%;
	background: #fff;
	border: 1px solid #E2E2E2;
	display: flex;
	position: relative;

	&__form {
		display: flex;
		height: 100%;
		position: relative;
		z-index: 2;
		flex: 1;

		input {
			background: transparent;
			padding-left: 44px;
			flex: 1;
			min-width: 0;

			@include placeholder(transparent);
		}
	}

	&__close {
		display: none;
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		color: #CFA074;
		background: transparent;
		width: 44px;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 1;

		.icon {

			&-close-alt {
				display: none;
			}
		}
	}

	&__submit {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 13px;
		background: transparent;

		span {
			display: none;
		}

		.icon {
			font-size: 13px;
			color: #CFA074;

			&-search {
				display: none;
			}
		}
	}

	&__rezult {
		position: absolute;
		z-index: 300;
		top: 100%;
		margin-top: 1px;
		left: 0;
		right: 0;
		padding: 22px 44px 27px 44px;
		background: #fff;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		display: none;
		overflow-y: auto;
		overflow-x: hidden;
		width: 100%;

		@include media( map-get( $media, lg ) ) {
			margin-top: -1px;
			background: #EBECEF;
			padding-left: 50px;
			padding-right: 20px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 25px;
			right: 10px;
			border-top: 1px solid #D7D7D7;
			display: none;

			@include media( map-get( $media, lg ) ) {
				left: 0;
				right: 0;
				display: block;
			}
		}

		&.active {
			display: block;
		}

		li {
			margin-bottom: 13px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			display: block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			color: #505259;
			font-size: 14px;
			line-height: 1;
			text-decoration: underline;

			&:hover {
				color: #505259;
				font-weight: 600;
			}
		}
	}
}