.tabs {

	&__controls {
		display: flex;
		justify-content: space-between;
		margin-bottom: 35px;
		border-bottom: 1px solid #CDCDCD;

		@include media( map-get( $media, md ) ) {
			display: none;
		}
	}

	&__btn {
		white-space: nowrap;
		font-size: 27px;
		font-weight: 500;
		font-family: map-get( $ff, alt );
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: -1px;
		background: none;
		color: #3C3E45;
		position: relative;
		padding: 0 15px 18px;
		display: flex;
		align-items: flex-start;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 5px;
			width: calc(100% - 30px);
			transition: .3s;
		}

		&.active {
			font-weight: 300;

			&:after {
				background: #CFA074;
			}
		}

		&:not(.active):hover {

			@include media( map-get( $media-min, lg ), 'min' ) {

				&:after {
					width: 100%;
					background: #CECECE;
				}
			}
		}

		&:first-child {
			padding-left: 0;

			&:after {
				width: calc(100% - 15px);
				left: 0;
				transform: none;
			}
		}

		&:last-child {
			padding-right: 0;

			&:after {
				width: calc(100% - 15px);
				transform: none;
				left: auto;
				right: 0;
			}
		}

		&-pic {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 8px;
			color: #fff;
			background: #E09E60;
			position: relative;
			top: -1em;
			margin-left: 5px;

			&--romb {
				height: 13px;
				width: 25px;

				&:after,
				&:before {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: 1;
					background: inherit;
				}

				&:after {
					transform: rotate(60deg);
				}

				&:before {
					transform: rotate(-60deg);
				}
			}

			&--dialog {
				width: 22px;
				height: 18px;
				border-radius: 4px;

				&:after {
					content: '';
					position: absolute;
					left: 6px;
					top: 100%;
					border-left: 6px solid #E09E60;
					border-bottom: 6px solid transparent;
				}
			}

			.icon {
				position: relative;
				z-index: 2;
			}
		}
	}

	&__box {
		display: none;

		@include media( map-get( $media, md ) ) {
			display: block;
		}

		&.active {
			display: block;
		}

		&-link {
			display: flex;
			justify-content: flex-end;

			@include media( map-get( $media, lg ) ) {
				margin-bottom: 30px;
			}

			@include media( map-get( $media, md ) ) {
				display: none;
			}

			a {
				display: flex;
				align-items: center;
				font-size: 15px;
				font-weight: 600;
				color: #CFA074;

				&:hover {

					@include media( map-get( $media-min, lg ), 'min' ) {
						text-decoration: none;
					}
				}

				span {
					text-decoration: underline;
				}

				.icon {
					font-size: 14px;
					margin-left: 10px;
				}
			}

			& + .section {

				@include media( map-get( $media-min, lg ), 'min' ) {
					margin-top: -6px;
				}
			}
		}

		&--color {

			@include media( map-get( $media-min, lg ), 'min' ) {
				padding: 60px 50px 50px;
			}

			@include media( map-get( $media-min, md ), 'min' ) {
				background: #F5F0EB;
				padding: 30px;
			}
		}

		.section__title {

			& + hr {
				margin-top: 25px;

				@include media( map-get( $media-min, lg ), 'min' ) {
					margin-bottom: 15px;
				}

				& + .section--slider {}
			}
		}
	}

	&--sm {

		.tabs {

			@include media( map-get( $media-min, lg ), 'min' ) {

				&__controls {
					margin-bottom: 25px;
				}

				&__btn {
					font-size: 32px;
					padding-left: 30px;
					padding-right: 30px;
					
	
					&:after {
						width: calc(100% - 60px);
					}
	
					&:first-child {
						padding-left: 0;
			
						&:after {
							width: calc(100% - 30px);
						}
					}
			
					&:last-child {
						padding-right: 0;
			
						&:after {
							width: calc(100% - 30px);
						}
					}
				}
			}
		}
	}

	.section {

		@include media( map-get( $media-min, md ), 'min' ) {
			margin: 0;
		}
	}

	.section--slider {

		.section__header {
			
			@include media( map-get( $media-min, md ), 'min' ) {
				display: none;
			}
		}
	}

	.page-more {

		@include media( map-get( $media, md ) ) {
			display: none;
		}
	}

	&--mobile {

		.tabs {

			&__controls {

				@include media( map-get( $media, md ) ) {
					display: flex;
				}

				@include media( map-get( $media, sm ) ) {
					display: block;
					border-bottom: none;
				}
			}

			&__btn {

				@include media( map-get( $media, md ) ) {
					font-size: 20px;
					padding-bottom: 10px;
				}

				@include media( map-get( $media, sm ) ) {
					padding: 0 0 0 24px;
					position: relative;
					margin-bottom: 20px;
					text-transform: none;
					font-size: 14px;
					line-height: 1;
					width: 100%;
					font-weight: bold;
				}

				&:last-child {
					
					@include media( map-get( $media, sm ) ) {
						margin-bottom: 0;
					}
				}

				&:before {

					@include media( map-get( $media, sm ) ) {
						content: '';
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						width: 17px;
						height: 17px;
						border: 1px solid #CFA074;
						border-radius: 50%;
					}
				}

				&:after {

					@include media( map-get( $media, md ) ) {
						height: 3px;
					}

					@include media( map-get( $media, sm ) ) {
						border-radius: 50%;
						width: 9px;
						height: 9px;
						top: 50%;
						left: 4px;
						transform: translateY(-50%);
					}
				}

				&.active {

					@include media( map-get( $media, sm ) ) {
						font-weight: bold;
						color: #CFA074;
					}
				}

				.tabs__btn-pic {

					@include media( map-get( $media, sm ) ) {
						display: none;
					}
				}
			}

			&__box {
		
				@include media( map-get( $media, md ) ) {
					display: none;
				}
		
				&.active {
					
					@include media( map-get( $media, md ) ) {
						display: block;
					}
				}
			}
		}
	}
}