.choice {

	&:last-child {
		margin-bottom: 0;
	}

	.section-pic {

		@include media( map-get( $media, md ) ) {
			background-position: left 30px;
		}

		@include media( map-get( $media, sm ) ) {
			background-position: -60px bottom;
			background-size: 270px;
		}
	}

	@include media( map-get( $media, sm ) ) {
		position: relative;
	}

	&__title {
		font-size: 53px;
		font-family: map-get( $ff, alt );
		text-transform: uppercase;
		margin-bottom: 20px;
		display: flex;
		justify-content: center;

		@include media( map-get( $media, md ) ) {
			color: map-get( $color, accent );
			font-size: 42px;
			margin-bottom: 13px;
		}

		@include media( map-get( $media, sm ) ) {
			letter-spacing: 0.03em;
			line-height: 117%;
			font-size: 30px;
			margin-bottom: 13px;
		}

		&--accent {
			color: #CFA074;
		}

		span {
			position: relative;

			&:after,
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				width: 109px;
				height: 1px;
				background: #CFA074;

				@include media( map-get( $media, sm ) ) {
					display: none;
				}
			}

			&:after {
				left: 100%;
				margin-left: 24px;
			}

			&:before {
				right: 100%;
				margin-right: 24px;
			}
		}

		&--more {
			position: relative;

			@include media( map-get( $media-min, lg ), 'min' ) {
				margin-bottom: 0;
			}

			span {
				position: static;

				&:after,
				&:before {
					width: 221px;
				}
			}
		}
	}

	&__pic {
		font-size: 37px;
		line-height: 1;
		color: #fff;
		text-transform: uppercase;
		background: map-get( $color, accent );
		width: 60px;
		height: 35px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin-bottom: 20px;
		margin-top: 20px;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 30px;
		}

		@include media( map-get( $media, sm ) ) {
			position: absolute;
			top: -40px;
			left: 50%;
			transform: translate(-50%,-50%);
			margin: 0;
			z-index: 10;
			width: 50px;
			height: 28px;
			font-size: 28px;
		}

		&:after,
		&:before {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			height: 100%;
			width: 100%;
			background: map-get( $color, accent );
		}

		&:after {
			transform: translate(-50%,-50%) rotate(60deg);
		}

		&:before {
			transform: translate(-50%,-50%) rotate(-60deg);
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 29px;
			border-left: 2px solid #FFFFFF;
			border-right: 2px solid #FFFFFF;
			position: relative;
			z-index: 2;

			@include media( map-get( $media, sm ) ) {
				width: 42px;
				height: 24px;
			}

			&:after,
			&:before {
				content: '';
				position: absolute;
				width: calc(100% + 4px);
				height: 100%;
				top: 50%;
				left: 50%;
				border-left: 2px solid #fff;
				border-right: 2px solid #fff;
			}

			&:after {
				transform: translate(-50%,-50%) rotate(60deg);
			}
			
			&:before {
				transform: translate(-50%,-50%) rotate(-60deg);
			}
		}
	}
}