mixin choice()
	section.section.choice.section--bg.section--gray.section--pic.section--center
		.container
			.section-pic(style="background-image:url(images/choise__bg.png);")
			.section__cont.section__cont--sm
				.choice__pic
					span ?
				.choice__title
					span не  знаете что выбрать?
				.section__text Мы с радостью поможем Вам не только определиться с Выбором правильного куска мяса, но и поделимся лучшими рецептами!
				.section__action
					a(href="#").btn.btn--accent.btn--full читать наш блог
					a(href="#").btn.btn--accent.btn--full заказать консультацию
