.block {
	box-shadow: 0px 0px 20px rgba(57, 59, 65, 0.2);

	&__top {
		padding: 41px 125px 45px;
		background: #78AC74;
		color: #fff;
		text-align: center;
		position: relative;

		@include media( map-get( $media, lg ) ) {
			padding: 20px 15px 35px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-repeat: no-repeat;
			background-position: center top;
			background-image: url('../images/block__pic.png');
			mix-blend-mode: darken;
		}

		& > * {
			position: relative;
			z-index: 2;
		}
	}

	&__title {
		font-size: 37px;
		line-height: 1;
		font-family: map-get( $ff, alt );
		text-transform: uppercase;
		font-weight: 500;
		display: flex;
		justify-content: center;
		margin-bottom: 21px;
		overflow: hidden;

		@include media( map-get( $media, md ) ) {
			font-size: 25px;
			margin-bottom: 10px;
		}

		span {
			padding: 0 18px;
			position: relative;

			&:after,
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				width: 100vw;
				border-bottom: 1px solid #fff;

				@include media( map-get( $media, md ) ) {
					display: none;
				}
			}

			&:after {
				right: 100%;
			}

			&:before {
				left: 100%;
			}
		}
	}

	&__info {
		font-size: 18px;
		max-width: 585px;
		margin-left: auto;
		margin-right: auto;
		line-height: 133%;

		@include media( map-get( $media, md ) ) {
			font-size: 13px;
			line-height: 115%;
		}
	}

	&__main {
		background: #3A3B40;
		color: #fff;
		padding: 50px 55px;
		position: relative;

		@include media( map-get( $media, md ) ) {
			padding: 36px 15px 40px;
		}
	}

	&__pic {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 60px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 37px;
		line-height: 1;
		color: #fff;
		background: #3C3E45;

		@include media( map-get( $media, md ) ) {
			width: 50px;
			height: 28px;
			font-size: 28px;
		}

		&:after,
		&:before {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			height: 100%;
			width: 100%;
			background: #3C3E45;
		}

		&:after {
			transform: translate(-50%,-50%) rotate(60deg);
		}

		&:before {
			transform: translate(-50%,-50%) rotate(-60deg);
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 29px;
			border-left: 2px solid #FFFFFF;
			border-right: 2px solid #FFFFFF;
			position: relative;
			z-index: 2;

			@include media( map-get( $media, md ) ) {
				width: 42px;
				height: 24px;
			}

			&:after,
			&:before {
				content: '';
				position: absolute;
				width: calc(100% + 4px);
				height: 100%;
				top: 50%;
				left: 50%;
				border-left: 2px solid #fff;
				border-right: 2px solid #fff;
			}

			&:after {
				transform: translate(-50%,-50%) rotate(60deg);
			}
			
			&:before {
				transform: translate(-50%,-50%) rotate(-60deg);
			}
		}
	}

	&__text {
		margin-bottom: 42px;
		text-align: center;

		@include media( map-get( $media-min, lg ), 'min' ) {
			font-size: 15px;
			color: rgba(255, 255, 255, 0.49);
			line-height: 133%;
		}

		a {
			color: #CF9F74;
			text-decoration: underline;

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					text-decoration: none;
				}
			}
		}
	}

	&__message {
		max-width: 765px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 44px;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 40px;
		}

		&.edit {
			
			.block__message-line {
				opacity: 0;
			}
		}

		&-area {
			position: absolute;
			z-index: 1;
			top: 50%;
			transform: translateY(-50%);
			overflow-y: auto;
			overflow-x: hidden;
			left: 0;
			width: calc(100% - 20px);
			max-height: 100%;
			padding: 0 15px;
			line-height: 1.1;
			min-height: 19px;

			@include media( map-get( $media, md ) ) {
				padding: 0 10px;
				font-size: 11px;
				line-height: 109%;
				color: #3C3E45;
				min-height: 13px;
			}

			&:focus {

				& ~ .block__message-line {
					opacity: 0;
				}
			}
		}
		
		&-row {
			display: flex;
			align-items: center;
			height: 67px;
			background: rgba(255, 255, 255, 0.05);
			padding: 12px 13px;
			color: #fff;
			font-size: 17px;
			font-weight: 600;

			@include media( map-get( $media, md ) ) {
				height: 47px;
				background: #EBECEF;
				padding: 0;
			}

			label {
				position: relative;
				height: 100%;
				display: flex;
				align-items: center;

				input {
					display: none;
				}
			}

			button {
				height: 43px;
				min-width: 43px;
				width: 43px;
				border: 1px solid rgba(196, 196, 196, 0.19);
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 13px;
				background: none;
				color: map-get($color,accent);

				@include media( map-get( $media, md ) ) {
					border: none;
					height: 100%;
					width: 47px;
					min-width: 47px;
					background: #CF9F74;
					color: #fff;
				}
			}
		}

		label {
			flex: 1;
		}

		&-line {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;

			@include media( map-get( $media, md ) ) {
				padding: 0 10px;
				justify-content: flex-start;
				font-size: 11px;
				line-height: 109%;
				color: #3C3E45;
			}

			.icon {
				font-size: 25px;
				margin-right: 14px;

				@include media( map-get( $media, md ) ) {
					color: #CFA074;
					margin-right: 12px;
				}
			}
		}
	}

	&__section {

		&-top {
			color: rgba(255, 255, 255, 0.5);
			text-align: center;

			@include media( map-get( $media, md ) ) {
				color: #fff;
			}
		}

		&-subtitle {
			font-size: 15px;
			line-height: 160%;

			@include media( map-get( $media, md ) ) {
				font-size: 11px;
				margin-bottom: 3px;
			}
		}

		&-title {
			font-size: 37px;
			line-height: 1;
			font-family: map-get( $ff, alt );
			text-transform: uppercase;
			overflow: hidden;
			margin-bottom: 38px;

			@include media( map-get( $media, md ) ) {
				font-size: 24px;
			}

			span {
				display: inline;
				position: relative;
				padding: 0 30px;

				@include media( map-get( $media, md ) ) {
					padding: 0;
				}

				&:after,
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					width: 100vw;
					border-bottom: 1px solid rgba(255, 255, 255, 0.13);

					@include media( map-get( $media, md ) ) {
						display: none;
					}
				}
	
				&:after {
					right: 100%;
				}
	
				&:before {
					left: 100%;
				}
			}

			a {
				pointer-events: none;

				@include media( map-get( $media, md ) ) {
					pointer-events: initial;
					text-decoration: underline;
				}
			}
		}

		.cards {

			@include media( map-get( $media-min, lg ), 'min' ) {
				margin-left: -19px;
				margin-right: -19px;
			}

			.card-alt {
				position: relative;
			}

			&__item {

				@include media( map-get( $media-min, lg ), 'min' ) {
					padding: 0 18px;

					&:hover {
						background: none;
						box-shadow: none;
					}
				}
			}
		}

		.slick-list {

			@include media( map-get( $media, md ) ) {
				margin: 0 -15px;
				padding: 0 6px;
			}

			.cards__item {
				padding: 0 9px;
				height: initial;
			}

			.card-alt {
				height: initial;
			}
		}

		.slick-dots {
			right: 50%;
			transform: translateX(50%);

			li {

				&:first-child {
	
					&:last-child {
						display: none;
					}
				}
			}
		}
	}

	&__action {
		margin-top: 20px;
		display: flex;
		justify-content: center;

		.btn {
			background: none;
		}
	}
}