.menu {
	position: relative;
	z-index: 2;
	flex: 1;
	height: 51px;
	display: flex;
	align-items: flex-start;

	@include media( map-get( $media, lg ) ) {
		height: auto;
		display: block;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		// justify-content: center;
		position: relative;

		@include media( map-get( $media, lg ) ) {
			display: block;
		}
	}

	&.show-all {
		height: auto;

		.menu__list {

			&:after {
				content: '';
				position: absolute;
				top: 51px;
				left: 0;
				right: 0;
				border-bottom: 1px solid rgba(226, 226, 226, 0.35);

				@include media( map-get( $media, lg ) ) {
					display: none;
				}
			}

			&:before {
				content: '';
				position: absolute;
				z-index: -1;
				top: 51px;
				left: 50%;
				transform: translateX(-50%);
				width: 200vw;
				height: calc(100% - 51px);
				background: map-get( $color, dark );

				@include media( map-get( $media, lg ) ) {
					display: none;
				}
			}
		}

		.menu-item {

			&.hide {
				border-bottom: none;
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&-item {

		@include media( map-get( $media, lg ) ) {

			&.active {
				background: #505259;

				.menu-link--drop {
					background: rgba(255, 255, 255, 0.12);

					&:after {
						transform: translateY(-50%) rotate(-45deg);
						border-color: #fff;
					}
				}

				.menu-drop {
					display: block;
				}
			}

			.menu-link--drop {

				&:after {
					background: none;
					border-top: none;
				}
			}
		}

		&.hide {

			@include media( map-get( $media-min, lg ), 'min' ) {
				opacity: 0;
				visibility: hidden;

				&:last-child {
					margin-right: auto;
				}

				.menu-drop {
					top: 100%;
				}
			}
		}

		&:not(.hide) {
			// margin-right: auto;

			&:first-child {
				// margin-right: 0;
			}

			& + *:not(.hide) {
				// margin-right: 0;
			}

			& + .hide {
				margin-left: auto;
			}
		}

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {

				.menu-link--drop {

					&:after {
						opacity: 1;
						visibility: visible;
					}
				}

				.menu-drop {
					z-index: 599;
					opacity: 1;
					visibility: visible;
				}
			}
		}

		
	}

	&-link {
		height: 51px;
		display: flex;
		align-items: center;
		white-space: nowrap;
		padding: 0 24px;
		font-weight: 600;
		text-transform: uppercase;

		@include media( map-get( $media, lg ) ) {
			height: initial;
			position: relative;
			display: block;
			padding: 11px 50px 11px 38px;
			font-size: 12px;
		}

		&.active {
			color: inherit;
			background: map-get( $color, accent );
		}

		&:hover {
			position: relative;

			@include media( map-get( $media-min, lg ), 'min' ) {
				color: inherit;
			}
		}

		&--accent {
			color: map-get( $color, accent );

			@include media( map-get( $media, lg ) ) {

				&:before {
					background: map-get( $color, accent );
				}
			}

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					color: map-get( $color, accent );
				}
			}
		}

		&--alt {
			color: map-get( $color, alt );

			@include media( map-get( $media, lg ) ) {

				&:before {
					background: map-get( $color, alt );
				}
			}

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					color: map-get( $color, alt );
				}
			}
		}

		&--accent,
		&--alt {

			@include media( map-get( $media, lg ) ) {
				color: #fff;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 14px;
					z-index: 1;
				}
			}
		}

		&--drop {
			@include media( map-get( $media-min, lg ), 'min' ) {
				position: relative;
				z-index: 600;

				&:after {
					content: '';
					position: absolute;
					z-index: 3;
					top: 51px;
					left: 50%;
					transform: translateX(-50%);
					border-top: 10px solid map-get( $color, dark );
					border-right: 15px solid transparent;
					border-left: 15px solid transparent;
					opacity: 0;
					visibility: hidden;
					// transition: .3s;
				}
			}

			@include media( map-get( $media, lg ) ) {
				position: relative;

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 38px;
					width: 6px;
					height: 6px;
					border-bottom: 1px solid rgba(255, 255, 255, 0.28);
					border-right: 1px solid rgba(255, 255, 255, 0.28);
					transform: translateY(-50%) rotate(45deg);
				}
			}

			&.active {

				&:after {
					border-top: 10px solid map-get( $color, accent );
				}
			}
		}
	}

	&-drop {
		position: absolute;
		z-index: 1;
		top: 51px;
		left: 0;
		right: 0;
		background: #FFFFFF;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
		color: map-get( $color, text );
		padding: 30px 55px 20px;
		display: flex;
		flex-wrap: wrap;
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s;

		@include media( map-get( $media, lg ) ) {
			position: static;
			opacity: 1;
			visibility: visible;
			box-shadow: none;
			display: none;
			background: none;
			padding: 10px 38px;
		}

		&__box {
			// flex: 1;
			margin-bottom: 20px;

			@include media( map-get( $media, lg ) ) {
				margin-bottom: 0;
				border-bottom: 1px solid #6A6A6A;
				margin-right: -7px;

				&:last-child {
					border: none;
				}

				&.active {

					.menu-drop__box-title {
						font-weight: bold;

						a {

							&:after {
								transform: translateY(-50%) rotate(-45deg);
								border-color: #fff;
							}
						}
					}

					ul {
						display: flex;
					}
				}
			}

			&:first-child {
				.menu-drop__box-title,
				.menu-drop__box-title a,
				ul {
					@include media( map-get( $media-min, lg ), 'min' ) {
						padding-left: 0;
					}
				}
				
				ul {
					@include media( map-get( $media-min, lg ), 'min' ) {
						margin-left: -20px;
					}
				}
			}

			&:last-child {
				.menu-drop__box-title,
				.menu-drop__box-title a,
				ul {
					@include media( map-get( $media-min, lg ), 'min' ) {
						padding-right: 0;
					}
				}
				
				ul {
					@include media( map-get( $media-min, lg ), 'min' ) {
						margin-right: -20px;
					}
				}
			}

			&-title {
				border-bottom: 1px solid #E2E2E2;
				padding: 0 12px;
				font-weight: 600;
				font-size: 16px;

				@include media( map-get( $media, lg ) ) {
					font-weight: 400;
					padding: 0;
					font-size: 12px;
					border: none;
				}

				&--drop {

					a {

						&:after {
							content: '';
							position: absolute;
							top: 50%;
							right: 7px;
							width: 6px;
							height: 6px;
							border-bottom: 1px solid rgba(255, 255, 255, 0.28);
							border-right: 1px solid rgba(255, 255, 255, 0.28);
							transform: translateY(-50%) rotate(45deg);
						}
					}
				}

				a {
					display: inline-flex;
					white-space: nowrap;
					padding: 0 20px;
					border-bottom: 5px solid transparent;
					padding-bottom: 7px;

					@include media( map-get( $media, lg ) ) {
						position: relative;
						padding: 0;
						border: none;
						color: #fff;
						display: flex;
						padding: 3px 20px 4px 0;
					}

					&.active {
						border-bottom-color: #CFA074;
						pointer-events: none;
					}
				}
			}

			ul {
				padding: 0 12px;
				font-size: 13px;
				line-height: 108%;
				margin-top: 8px;

				@include media( map-get( $media, lg ) ) {
					display: none;
					flex-wrap: wrap;
					padding: 8px 0 10px 20px;
					font-size: 12px;
					font-weight: 600;
					color: #CFA074;
					margin-top: 0;
				}

				li {

					@include media( map-get( $media, lg ) ) {
						margin-bottom: 7px;
						margin-right: 20px;
					}
				}

				a {
					display: inline-flex;
					padding: 7px 20px;

					@include media( map-get( $media, lg ) ) {
						display: block;
						padding: 0;
					}

					&.active {
						@include media( map-get( $media-min, lg ), 'min' ) {
							background: rgba(214, 214, 214, 0.54);
							pointer-events: none;
						}
					}
				}
			}
		}
	}

	&-more {
		background: transparent;
		align-items: center;
		justify-content: center;
		height: 51px;
		width: 128px;
		min-width: 128px;
		margin-right: -35px;
		display: none;
		border-left: 1px solid rgba(226, 226, 226, 0.35);

		&.active {
			display: flex;

			@include media( map-get( $media, lg ) ) {
				display: none;
			}
		}

		span {
			display: flex;
			border-radius: 50%;
			width: 9px;
			height: 9px;
			border: 2px solid #fff;
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}