mixin menu()
	.menu
		ul.menu__list
			each object in main.menu.nav
				li.menu-item
					a(href="#", 
						class= (pageName === object.name) ? "active" : "",
						class= object.list ? "menu-link--drop" : "",
						class= object.className ? object.className : ""
						).menu-link= object.name
					if object.list
						.menu-drop
							each box in object.list
								.menu-drop__box
									.menu-drop__box-title(class= box.items ? "menu-drop__box-title--drop" : "")
										a(href="#",
											class= box.className ? box.className : "",
											)= box.name
									if box.items
										ul
											each className,link in box.items
												li
													a(href="#",
														class= className ? className : ""
														)= link

		button.menu-more
			span
			span
			span



