.cards {
	display: flex;
	flex-wrap: wrap;
	margin-left: -37px;
	margin-right: -37px;

	@include media( map-get( $media, lg ) ) {
		margin-left: -9px;
		margin-right: -9px;
		margin-top: -23px;
	}

	& > .cards__item {
		width: 33.3333%;
		max-width: 33.3333%;
		flex: 0 0 33.3333%;
		padding: 35px;

		@include media( map-get( $media, lg ) ) {
			padding: 0 9px;
			margin-top: 23px;
		}

		@include media( map-get( $media, xl ) ) {
			width: 50%;
			max-width: 50%;
			flex: 0 0 50%;
		}
	}

	.card__drop {

		@include media( map-get( $media-min, lg ), 'min' ) {
			margin-left: -35px;
			margin-right: -35px;
			padding-left: 35px;
			padding-right: 35px;
			padding-bottom: 35px;
		}

		@include media( map-get( $media, md ) ) {
			padding-bottom: 17px;
		}
	}

	&--md {
		margin-left: -20px;
		margin-right: -20px;

		@include media( map-get( $media, lg ) ) {
			margin-left: -9px;
			margin-right: -9px;
			margin-top: -23px;
		}

		& > .cards__item {
			width: 25%;
			max-width: 25%;
			flex: 0 0 25%;
			padding: 27px 20px;

			@include media( map-get( $media, lg ) ) {
				width: 33.3333%;
				max-width: 33.3333%;
				flex: 0 0 33.3333%;
				padding: 0 9px;
				margin-top: 23px;
			}

			@include media( map-get( $media, xl ) ) {
				width: 50%;
				max-width: 50%;
				flex: 0 0 50%;
			}

			.card__drop {

				@include media( map-get( $media-min, lg ), 'min' ) {
					margin-left: -20px;
					margin-right: -20px;
					padding-left: 20px;
					padding-right: 20px;
					padding-bottom: 27px;
				}
			}

			@include media( map-get( $media-min, lg ), 'min' ) {
				.counter {

					&__btn {
						width: 17px;
						font-size: 28px;
					}

					&__val {
						font-size: 20px;

						&-wrap {
							width: 60px;
						}
					}
				}

				.card__bottom {

					.btn {
						padding: 0 15px;
					}
				}
			}
		}
	}

	&__item {
		// transition: box-shadow .3s;
		border-radius: 1px;
		position: relative;

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
				z-index: 10;
				background: #fff;

				.card__favorite {
					opacity: 1;
					visibility: visible;
				}

				.card__info {

					&:after {
						content: '';
						position: absolute;
						top: -20px;
						left: -55px;
						right: -55px;
						bottom: -40px;
						background-image: linear-gradient(rgba(255,255,255,.05), #fff 20px);
					}
				}

				.card__drop {
					display: block;
					box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);

					&:before {
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						bottom: 100%;
						height: 20px;
						background: #fff;
					}
				}

				.card__view {
					z-index: 260;
				}

				.card-alt__title {
					color: map-get($color,accent);
				}
			}
		}
	}

	&-nums {
		display: flex;

		li {
			margin-right: 7px;

			&:last-child {
				margin-right: 0;
			}
		}

		a {
			width: 34px;
			height: 34px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid rgba(207, 160, 116, 0.4);
			color: #CFA074;
			font-weight: 600;
			font-size: 13px;

			&.active {
				background: #CFA074;
				border-color: #CFA074;
				color: #fff;
			}

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					background: #CFA074;
					border-color: #CFA074;
					color: #fff;
				}
			}
		}
	}
}