.box {

	&-zig {
		background: #FFFFFF;
		box-shadow: 0px -3px 25px rgba(0, 0, 0, 0.15);
		padding: 30px;
		position: relative;
		margin-top: 7px;

		@include media( map-get( $media, sm ) ) {
			padding: 20px 15px 80px;
			margin-left: -15px;
			margin-right: -15px;
			margin-top: 0;
		}

		&:before {
			content: "";
			position: absolute;
			bottom: 100%;
			height: 9px;
			left:0;
			width: 100%;
			background: linear-gradient(-45deg, #fff 7px,  transparent 0),
							linear-gradient(45deg, #fff 7px, transparent 0);
			background-position: left top;
			background-repeat: repeat-x;
			background-size: 18px;
		}

		.title-sm {
			text-align: center;
			margin-bottom: 21px;

			@include media( map-get( $media, sm ) ) {
				font-weight: 500;
				font-family: map-get( $ff, alt );
				padding-bottom: 20px;
				border-bottom: 1px solid #C9CCD3;

				span {
					font-weight: 400;
					margin-top: 7px;
					display: block;
					font-size: 15px;
					line-height: 1;
					text-transform: none;
					font-family: map-get( $ff, main );
				}
			}
		}

		&__box {
			margin-bottom: 20px;

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 14px;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&--mobile {
				@include media( map-get( $media-min, sm ), 'min' ) {
					display: none;
				}
			}

			&--summa {
				padding-top: 16px;
				border-top: 1px solid #C9CCD3;

				@include media( map-get( $media, sm ) ) {
					padding-top: 24px;
					margin-top: 20px;
					margin-bottom: 0;
				}
			}

			&--accent {

				.box-block__val.edit,
				.box-block__top {
					color: #CFA074;
				}
			}
		}

		&__summa {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			line-height: 1;
			font-weight: 600;
			text-transform: uppercase;

			@include media( map-get( $media, sm ) ) {
				justify-content: center;
			}

			span {

				&:first-child {
					font-size: 32px;
					font-weight: 500;
					font-family: map-get( $ff, alt );

					@include media( map-get( $media, sm ) ) {
						font-size: 0;
					}
				}

				&:last-child {
					font-size: 24px;

					@include media( map-get( $media, sm ) ) {
						font-size: 24px;
					}
				}
			}
		}

		&__btn {
			
			@include media( map-get( $media, md ) ) {
				height: 59px;
				font-size: 18px;
			}

			@include media( map-get( $media, sm ) ) {
				margin-top: 24px;
			}
		}

		&__info {
			margin-top: 10px;
			line-height: 110%;
			font-size: 10px;
			text-align: center;

			a {
				color: #BB2331;
			}
		}

		&__title {

			@include media( map-get( $media, sm ) ) {
				display: none;
			}

			&--mobile {
				display: none;

				@include media( map-get( $media, sm ) ) {
					display: block;
					font-size: 32px;
				}
			}
		}
	}

	&-block {

		&--trigger {

			&.edit {

				.box-block__trigger {

					.icon {
						display: none;
					}
				}
			}

			&.active {

				.box-block--trigger {

					.icon {
						transform: rotate(180deg);
					}
				}
				
				.box-block__content {
					display: block;
				}
			}

			.box-block__content {
				display: none;
			}
		}

		&__top {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			&--mobile {
				
				@include media( map-get( $media-min, md ), 'min' ) {
					display: none;
				}
			}
		}

		&__title {
			line-height: 113%;
			font-size: 15px;
			font-weight: bold;

			@include media( map-get( $media, sm ) ) {
				font-size: 14px;
			}
		}

		&__trigger {
			display: inline-flex;
			align-items: center;
			cursor: pointer;

			.icon {
				font-size: 8px;
				margin-left: 10px;
			}
		}

		&__val {
			padding-left: 10px;
			color: #000000;
			font-size: 12px;
			line-height: 142%;
			white-space: nowrap;

			@include media( map-get( $media, sm ) ) {
				font-size: 15px;
				font-weight: 600;
				line-height: 1;
			}

			&.edit {
				color: #3C3E45;
				font-weight: bold;
				font-size: 15px;
				line-height: 1;

				@include media( map-get( $media, sm ) ) {
					font-weight: 600;
				}
			}

			&.accent {
				color: #CFA074;
			}
		}

		&__content {
			margin-top: 2px;
			line-height: 125%;
			font-size: 12px;
			display: block;

			@include media( map-get( $media, sm ) ) {
				margin-top: 5px;
			}
		}
	}

	&-code {
		display: flex;
		height: 43px;

		input {
			height: 100%;
		}

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 43px;
			min-width: 43px;
			height: 100%;
			background: #C4C4C4;
			color: #fff;
		}
	}
}