.text {

	&--alt {

		@include media( map-get( $media-min, md ), 'min' ) {
			font-size: 15px;
		}
	}

	&:not(.text--cols) > * {

		&:last-child {
			margin-bottom: 0;
		}
	}

	hr {
		margin: 32px 0;
		border: none;
		border-bottom: 1px solid #CDCDCD;
	}

	h3 {
		font-weight: bold;
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 1.57em;
	}

	ul {
		margin-bottom: 1.57em;
	}

	&--cols {
		display: flex;
		margin-right: -45px;
		margin-bottom: -17px;

		@include media( map-get( $media, md ) ) {
			display: block;
			margin-right: 0;
		}
	}

	&--reverse {
		flex-direction: row-reverse;
	}

	&__col {
		margin-right: 45px;
		margin-bottom: 17px;

		@include media( map-get( $media, sm ) ) {
			margin-right: 0;
		}

		&--lg {
			flex: 1;
		}

		&--sm {
			width: 350px;
			flex: 0 0 350px;

			@include media( map-get( $media, sm ) ) {
				width: 100%;
			}
		}
	}

	&__line {
		margin-bottom: 20px;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 5px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__links {
		margin-right: -40px;

		a {
			font-weight: 600;
			font-size: 15px;
			color: #CFA074;
			border-bottom: 1px dashed;
			margin-right: 40px;

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					border-bottom-color: transparent;
				}
			}
		}
	}

	&__table {
		margin: 35px 0;
		display: flex;

		@include media( map-get( $media, lg ) ) {
			display: block;
		}

		@include media( map-get( $media, md ) ) {
			margin-bottom: 0;
			margin-top: 13px;
		}

		@include media( map-get( $media-min, md ), 'min' ) {
			font-size: 13px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&-col {
			flex: 1;
			
			&--lg {
				flex: 0 0 238px;
				width: 253px;
				margin-right: 35px;

				@include media( map-get( $media, lg ) ) {
					width: 100%;
					margin-right: 0;
					margin-bottom: 15px;
				}
			}

			&--columns {
				column-count: 3;
				column-gap: 40px;

				@include media( map-get( $media, xl ) ) {
					column-count: 2;
					column-gap: 20px;
				}
			}
		}

		&-line {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			b {
				display: inline-block;
				padding-right: 10px;
			}
		}
	}

	&__pic {
		display: block;
		margin-left: -16px;
		margin-top: 45px;

		img {
			display: block;
			max-width: 100%;
		}
	}
}