.nav {
	
	@include media( map-get( $media, lg ) ) {
		border-top: 1px solid #616161;
		margin-top: 28px;
		margin-left: -15px;
		margin-right: -15px;
		padding: 28px 15px 0;
	}

	ul {
		display: flex;
		font-size: 13px;

		@include media( map-get( $media, lg ) ) {
			display: block;
			padding: 0 38px;
		}
	}

	li {
		margin-right: 20px;

		@include media( map-get( $media, lg ) ) {
			margin-right: 0;
			color: #CFA074;
			font-weight: 600;
			font-size: 12px;
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		&:last-child {
			margin-right: 0;

			@include media( map-get( $media, lg ) ) {
				margin-bottom: 0;
			}
		}
	}
}