.stat {

	&s {
		position: absolute;
		top: 12px;
		right: 18px;

		@include media( map-get( $media, md ) ) {
			top: 8px;
			right: 6px;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
		}

		li {
			width: 42px;
			height: 48px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;

			@include media( map-get( $media, md ) ) {
				width: 21px;
				height: 24px;
			}

			&:nth-child(3) {
				position: absolute;
				right: 0;
				transform: translate(-50%,75%);
			}

			&:nth-child(4) {
				position: absolute;
				right: 0;
				transform: translate(-150%,75%);
			}

			&:nth-child(6) {
				position: absolute;
				right: 0;
				transform: translate(-250%,75%);
			}
		}

		&--down {
			top: auto;
			bottom: 20px;

			@include media( map-get( $media, md ) ) {
				top: auto;
				bottom: 8px;
			}

			li {

				&:nth-child(3) {
					transform: translate(-50%,-75%);
				}
	
				&:nth-child(4) {
					transform: translate(-150%,-75%);
				}
	
				&:nth-child(6) {
					transform: translate(-250%,-75%);
				}
			}
		}
	}
}