.counter {
	display: flex;
	height: 49px;

	&__btn {
		position: relative;
		width: 24px;
		height: 100%;
		font-size: 38px;
		font-weight: 300;
		display: flex;
		align-items: center;
		justify-content: center;
		background: none;
		color: #B8B8B8;

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				color: map-get( $color, dark );
			}
		}
	}

	&__val {
		display: flex;
		align-items: baseline;
		justify-content: center;
		font-size: 25px;
		color: #040200;
		
		&-wrap {
			width: 90px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&-num {
			margin-right: 0.3em;
		}
	}
}