mixin counter(num,type,step)
	- var num = num || 1;
	- var type = type || "шт";
	- var step = step || 1;
	.counter(data-step= step)
		button(data-type="dec").counter__btn -
		.counter__val-wrap
			.counter__val
				.counter__val-num= num
				.counter__val-type= type
		button(data-type="inc").counter__btn +