mixin popup-callback()
  #popup-callback.popup-callback.popup.popup--sh
    .popup__content
      .popup__title.title-sm Заказать звонок
      form
        label.form__label
          input(type="text" name="name" placeholder="Ваше имя").form__input
        label.form__label
          input(type="tel" name="phone" placeholder="Ваш телефон").form__input
        .form__action.popup__action
          button.btn.btn--accent Отправить
          