mixin pagination()
	.pagination
		ul
			li
				a(href="#").pagination__arrow
					+icon('angle-left')
			li
				a(href="#") 1
			li
				a(href="#").active 2
			li
				a(href="#") 3
			li
				a(href="#") 4
			li
				a(href="#") 5
			li
				a(href="#") ...
			li
				a(href="#").pagination__arrow
					+icon('angle-right')