.pagination {
	margin-top: 100px;

	@include media( map-get( $media, md ) ) {
		display: none;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: -4px -4px 0;
	}

	li {
		margin: 4px 4px 0;
	}

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid rgba(207, 160, 116, 0.4);
		font-weight: 600;
		font-size: 15px;
		line-height: 1;
		width: 42px;
		height: 42px;
		color: map-get( $color, accent );
		box-shadow: inset 0 0 0 1px transparent;
		transition: .3s;

		&.active {
			color: #000;
			font-weight: 400;
			box-shadow: inset 0 0 0 1px #CFA074;
			border-color: #CFA074;
			pointer-events: none;
		}

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				box-shadow: inset 0 0 0 1px #CFA074;
				border-color: #CFA074;
			}
		}

		&.pagination__arrow {
			border: none;
			color: #505259;

			&:hover {
				@include media( map-get( $media-min, lg ), 'min' ) {
					color: map-get( $color, accent );
					box-shadow: none;
				}
			}
		}
	}
}