mixin filter()
	.filter
		form.filter__form
			.filter__icon
				+icon('settings')
			.filter__items
				each name in ["Тушить","Жарить","Варить","Запекать","Для фарша"]
					.filter__item
						label.form__label.form__label--check
							input(type="checkbox" name="check[]").form__check
							span.form__label-name= name
							span.form__check-box
				button(type="reset").filter__reset.filter__item
					span Сбросить
					+icon('close')
		.filter__sort
			.filter-sel.filter__type
				label.filter-sel__label
					span.filter-sel__val
						span По популярности
						+icon('burger')
						+icon('long-arrow-down')
				.filter-sel__dropdown
					ul
						li.selected 
							span По популярности
							+icon('burger')
							+icon('long-arrow-down')
						li
							span По новинкам
						li
							span По убывающе цене
							+icon('burger')
							+icon('long-arrow-down')
						li
							span По возрастающей цене
							+icon('burger')
							+icon('long-arrow-up')
						li
							span По скидкам
			ul.cards-nums
				li
					a(href="#") 10
				li
					a(href="#") 20
				li
					a(href="#") 30