.filter {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 10px;

	@include media( map-get( $media, lg ) ) {
		margin-bottom: 20px;
	}

	@include media( map-get( $media, md ) ) {
		display: block;
		margin-bottom: 17px;

		&:first-child {
			margin-top: -54px;
		}
	}

	@include media( map-get( $media, sm ) ) {

		&:first-child {
			margin-top: -35px;
		}
	}

	&__form {
		display: flex;
		margin-right: 60px;
		padding-top: 8px;

		@include media( map-get( $media, md ) ) {
			padding: 17px 15px 5px;
			margin: 0 -15px 14px;
			background: #F5F0EB;
		}
	}

	&__icon {
		font-size: 22px;
		margin-right: 16px;
		display: flex;
		color: #CFA074;

		@include media( map-get( $media, md ) ) {
			display: none;
		}
	}

	&__item {
		margin-right: 30px;
		margin-bottom: 10px;
		display: flex;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 12px;
			margin-right: 12px;
		}

		@include media( map-get( $media, low ) ) {
			width: calc(30% - 12px);
			flex: 0 0 calc(30% - 12px);
			// margin-right: 5px;

			&:nth-child(8),
			&:nth-child(5),
			&:nth-child(2) {
				width: calc(40% - 12px);
				flex: 0 0 calc(40% - 12px);
			}
		}

		.form__label {
			margin: 0;
			align-items: center;

			@include media( map-get( $media, md ) ) {
				flex-direction: row-reverse;
				justify-content: flex-end;
			}

			.form__check-box {

				@include media( map-get( $media, md ) ) {
					margin-left: 0;
					margin-right: 8px;
					background: #fff;
				}
			}
		}
		
		&s {
			display: flex;
			flex-wrap: wrap;
			margin-right: -30px;
			margin-bottom: -10px;

			@include media( map-get( $media, md ) ) {
				margin-bottom: 0;
				margin-right: -12px;
			}

			@include media( map-get( $media, low ) ) {
				// margin-right: -5px;
			}
		}
	}

	&__reset {
		display: flex;
		align-items: center;
		background: none;
		color: #CFA074;

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {

				span {
					text-decoration: none;
				}
			}
		}

		span {
			font-weight: 600;
			text-decoration: underline;
		}

		.icon {
			font-size: 11px;
			margin-left: 9px;

			@include media( map-get( $media, md ) ) {
				display: none;
			}
		}
	}

	&__sort {
		display: flex;
		align-items: center;

		@include media( map-get( $media, md ) ) {
			justify-content: center;
			position: relative;
			z-index: 120;
		}
	}

	&-sel {
		position: relative;
		color: #CFA074;
		display: flex;
		align-items: center;

		&__label {
			display: flex;
			align-items: center;
		}

		&.opened {

			.filter-sel__dropdown {
				display: block;
			}
		}

		&__val span {
			font-size: 15px;
			font-weight: 600;
			text-decoration: underline;

			@include media( map-get( $media, md ) ) {
				font-size: 12px;
			}
		}

		.icon {
			font-size: 16px;
			margin-left: 10px;

			@include media( map-get( $media, md ) ) {
				font-size: 12px;
				position: relative;
				bottom: -1px;

				& + .icon {
					margin-left: 4px;
				}
			}

			&-burger {
				display: none;

				@include media( map-get( $media, md ) ) {
					display: flex;
				}
			}
		}

		&__val {
			cursor: pointer;
			display: flex;
			align-items: center;
			background: none;
			white-space: nowrap;

			&:hover {
	
				@include media( map-get( $media-min, lg ), 'min' ) {
	
					span {
						text-decoration: none;
					}
				}
			}
		}

		&__dropdown {
			display: none;
			position: absolute;
			top: 100%;
			padding-top: 10px;
			left: 0;
			min-width: 100%;
			z-index: 100;

			@include media( map-get( $media, md ) ) {
				margin-left: -20px;
			}

			@include media( map-get( $media, xl ) ) {
				margin-left: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 100vw;
			}

			.icon-burger {
				display: none !important;
			}

			ul {
				border: 1px solid #E4DBD9;
				background: #FFFFFF;
			}

			li {
				border-bottom: 1px solid #E4DBD9;
				white-space: nowrap;
				display: flex;
				align-items: center;
				padding: 0 30px;
				height: 39px;
				cursor: pointer;

				@include media( map-get( $media, md ) ) {
					padding: 0 20px;
				}

				&:last-child {
					margin-bottom: 0;
				}

				&.selected {
					display: none;
				}

				&:hover {
					
					span {
						text-decoration: none;
					}
				}
			}
		}
	}

	&__type {
		display: flex;
	}

	.cards-nums {
		margin-left: 35px;

		@include media( map-get( $media, md ) ) {
			display: none;
		}
	}
}