mixin basket-item(object)
	.basket-item(class= object.isDisabled ? "basket-item--disabled" : "",
		class= object.gift ? "basket-item--gift" : ""
		)
		if object.tags
			ul.basket-item__tags
				if object.price.old
					li.basket-item__tag.basket-item__tag--accent.basket-item__tag--mobile %
				each type,name in object.tags.list
					li.basket-item__tag(class= type ? `basket-item__tag--${type}` : '')= name
		a(href="#").basket-item__img
			img(src="images/" + object.imgName, alt="")
		.basket-item__info
			if object.gift
				if object.gift.title
					.basket-item__gift-title= object.gift.title
			.basket-item__title
				a(href="#")= object.title
			.basket-item__price
				if object.price.old
					.basket-item__price-old= object.price.old
				if object.price.new
					.basket-item__price-new= object.price.new
				if object.price.old
					.basket-item__price-sale - 25%
			if object.checks
				.basket-item__checks
					each type,val in object.checks
						label.form__label.form__label--check(
							class= type ? "form__label--check-" + type : ""
						)
							input(type="checkbox" name="check[]" checked).form__check
							span.form__check-box
							span.form__label-name!= val
			if object.alert
				.basket-item__alert
					.alert(class= object.alert.type ? "alert--" + object.alert.type : "")
						span= object.alert.text
		if !object.gift
			.basket-item__counter
				+counter()
		if object.gift
			if object.gift.val
				.basket-item__gift-val= object.gift.val
		.basket-item__bottom
			.basket-item__line
				.basket-item__summa= object.summa.val
				if !object.gift
					button.basket-item__favorite.btn--trigger
						+icon('heart')
						+icon('heart-full')
				button.basket-item__del
					+icon('del')
			if object.summa.info
				.basket-item__inf= object.summa.info

			
mixin basket-item-simple(object)
	.basket-item
		if object.tags
			ul.basket-item__tags
				if object.price.old
					li.basket-item__tag.basket-item__tag--accent.basket-item__tag--mobile %
				each type,name in object.tags.list
					li.basket-item__tag(class= type ? `basket-item__tag--${type}` : '')= name
		a(href="#").basket-item__img
			img(src="images/" + object.imgName, alt="")
		.basket-item__info
			.basket-item__title
				a(href="#")= object.title
			.basket-item__price
				if object.price.old
					.basket-item__price-old= object.price.old
				if object.price.new
					.basket-item__price-new= object.price.new
				if object.price.old
					.basket-item__price-sale - 25%
			if object.checks
				.basket-item__checks
					each type,val in object.checks
						.form__label.form__label--check(
							class= type ? "form__label--check-" + type : ""
						)
							span.form__label-name!= val
		.basket-item__counter= object.num + ' шт'
		.basket-item__bottom
			.basket-item__line
				.basket-item__summa= object.summa.val


