.basket-item {
	margin-bottom: 15px;
	padding: 33px 25px;
	display: flex;
	align-items: center;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	border-radius: 1px;
	transition: .3s;
	position: relative;

	@include media( map-get( $media, sm ) ) {
		margin-bottom: 10px;
		padding: 20px 15px 20px 150px;
		min-height: 200px;
		display: block;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&:hover {

		@include media( map-get( $media-min, lg ), 'min' ) {
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
		}
	}

	&:last-child {
		margin-bottom: 0;
	}

	&--disabled {
		
		.basket-item__info > *:not(.basket-item__alert),
		& > *:not(.basket-item__info) {
			opacity: 0.4;
		}
	}

	&--gift {

		@include media( map-get( $media, sm ) ) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			min-height: 159px;

			.basket-item__price {
				display: none;
			}
			
			.basket-item__gift-val {
				order: -1;
			}

			.basket-item__info {
				min-height: 0;
				flex: 1;
			}

			&:last-child {
				margin-bottom: 24px;
			}
		}
	}

	&__tags {
		position: absolute;
		top: 45px;
		left: 25px;
		z-index: 2;

		@include media( map-get( $media, sm ) ) {
			top: 30px;
			left: 15px;
		}
	}

	&__tag {
		padding: 0 6px;
		height: 16px;
		font-weight: 600;
		line-height: 1;
		font-size: 10px;
		color: #fff;
		text-align: center;
		min-width: 32px;
		display: flex;
		align-items: center;
		justify-content: center;

		&--accent {
			background: map-get( $color, accent );
		}

		&--alt {
			background: map-get( $color, alt );
		}

		&--mobile {

			@include media( map-get( $media-min, sm ), 'min' ) {
				display: none;
			}
		}
	}

	&__img {
		position: relative;
		display: block;
		margin-right: 18px;
		width: 107px;
		min-width: 107px;
		height: 107px;
		overflow: hidden;

		@include media( map-get( $media, sm ) ) {
			position: absolute;
			top: 20px;
			left: 15px;
			width: 119px;
			height: 119px;
			margin-right: 0;
		}

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-position: center;
			object-fit: cover;
		}
	}

	&__info {
		flex: 1;
		max-width: 270px;
		margin-right: 10px;

		@include media( map-get( $media, sm ) ) {
			max-width: 100%;
			margin-right: 0;
			min-height: 119px;
		}
	}

	&__title {
		display: inline;
		font-size: 16px;
		font-weight: 600;
		line-height: 125%;

		@include media( map-get( $media, sm ) ) {
			margin-top: -0.1em;
			display: block;
			line-height: 1;
			font-size: 13px;
			margin-bottom: 8px;
		}
	}

	&__price {
		display: inline-flex;
		line-height: 1;
		font-size: 16px;
		font-weight: bold;
		align-items: baseline;
		white-space: nowrap;

		@include media( map-get( $media, sm ) ) {
			font-size: 14px;
			font-weight: 600;
			display: flex;
			margin-bottom: 10px;
		}

		&-old {
			font-size: 14px;
			font-weight: 600;
			color: #CFA074;
			margin-right: 12px;
		}

		&-sale {
			height: 22px;
			padding: 0 6px;
			display: flex;
			align-items: center;
			color: #fff;
			font-size: 13px;
			line-height: 1;
			font-weight: 600;
			background: #CF9F74;
			margin-left: 12px;

			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}
	}

	&__checks {
		margin-top: 15px;

		@include media( map-get( $media, sm ) ) {
			margin-top: 0;
		}

		.form__label {
			margin-bottom: 8px;
			line-height: 1;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.form__label-name b {

			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}
	}

	&__alert {
		margin-top: 10px;
		max-width: 192px;

		@include media( map-get( $media, sm ) ) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			margin: 0;
			width: 192px;
		}

		span {
			font-size: 13px;
			font-weight: 600;
			padding: 5px 14px;
		}
	}

	&__counter {
		width: 125px;
		min-width: 125px;
		margin-right: 10px;

		@include media( map-get( $media, sm ) ) {
			width: 119px;
			min-width: 0;
			position: absolute;
			top: 148px;
			left: 15px;
		}

		.counter {

			@include media( map-get( $media, sm ) ) {
				height: 29px;
				background: #EDEDED;
			}

			&__btn {
				font-size: 27px;
				font-weight: 300;

				@include media( map-get( $media, sm ) ) {

					&:first-child {
						padding-left: 8px;
					}

					&:last-child {
						padding-right: 8px;
					}
				}
			}

			&__val {
				font-size: 20px;

				@include media( map-get( $media, sm ) ) {
					font-size: 14px;
				}
			}
		}
	}

	&__bottom {
		position: relative;
		flex: 1;
		max-width: 190px;
		margin-left: auto;

		@include media( map-get( $media, sm ) ) {
			margin-left: 0;
			max-width: 100%;
			margin-top: 9px;
		}
	}

	&__line {
		display: flex;
		align-items: center;

		.icon {
			font-size: 25px;

			@include media( map-get( $media, sm ) ) {
				font-size: 20px;
			}
		}
	}

	&__summa {
		font-size: 20px;
		font-weight: 600;
		line-height: 1;
		flex: 1;

		@include media( map-get( $media, sm ) ) {
			font-size: 19px;
			margin-right: 10px;
			white-space: nowrap;
			min-height: 29px;
			display: flex;
			align-items: center;
		}
	}

	&__favorite {
		background: none;
		display: flex;
		color: #CF9F74;

		.icon {

			&-heart {
				display: flex;
			}

			&-heart-full {
				display: none;
			}
		}

		&.active {

			.icon {
	
				&-heart {
					display: none;
				}
	
				&-heart-full {
					display: flex;
				}
			}
		}
	}

	&__del {
		background: none;
		display: flex;
		margin-left: 20px;
		color: rgba(196, 196, 196, 0.72);

		@include media( map-get( $media, sm ) ) {
			margin-left: 12px;
		}

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				color: rgba(196, 196, 196, 1);
			}
		}
	}

	&__inf {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		margin-top: 8px;
		color: rgba(60, 62, 69, 0.56);
		font-size: 12px;
		line-height: 117%;

		@include media( map-get( $media, sm ) ) {
			margin-top: 12px;
			font-size: 10px;
			line-height: 1;
			position: static;
		}
	}

	&__gift {

		&-title {
			position: absolute;
			top: 33px;
			left: 150px;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 600;
			color: #CF9F74;
			line-height: 1;

			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}

		&-val {
			margin-left: 30px;
			margin-right: auto;
			color: #CF9F74;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 600;

			@include media( map-get( $media, sm ) ) {
				margin-left: 0;
				font-size: 14px;
				line-height: 1;
				font-weight: bold;
				margin-bottom: 10px;
			}

			& ~ .basket-item__bottom {
				flex: initial;

				@include media( map-get( $media, sm ) ) {
					width: 100%;
				}

				.basket-item__summa {
					margin-right: 24px;

					@include media( map-get( $media-min, sm ), 'min' ) {
						color: #CF9F74;
					}

					@include media( map-get( $media, sm ) ) {
						margin-right: 10px;
					}
				}
			}
		}
	}
}