.map {
	position: relative;

	&:before {
		content: '';
		display: block;
		height: 37.3vw;
		max-height: 537px;
		min-height: 400px;
	}

	ymaps {
		position: absolute;
		top: 0;
		left: 0;
	}

	[class*="ymaps-2"][class*="-ground-pane"] {
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
		-webkit-filter: grayscale(100%);
	}

	.ymaps-2-1-78-controls-pane,
	.ymaps-2-1-78-controls__control {
		display: none !important;
	}
}