mixin map()
	.map
		iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d287398.20734003815!2d37.5091443454505!3d55.75331676190027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1609163844622!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")