mixin footer()
	footer.footer
		.footer__main
			.container
				.footer__box
					+subscribe()
				.footer__nav
					ul
						each name in ["О нас","Контакты","Условия доставки и оплаты","Обмен и возврат","Личный кабинет ","Блог","Программа лояльности","Производители","Условия и соглашения"]
							li
								a(href="#")= name
				.footer__info
					.footer__logo
						+logo('light')
					.footer__time Время работы службы заказов 
						br
						| с 8.00 до 20.00
					ul.footer__phone
						li
							a(href="tel:+7880134099876") +7 880 134 09 9876
						li
							a(href="tel:+7916132216789") +7 916 132 21 6789
					.footer__email
						a(href="mailto:hello@primyase.ru") hello@primyase.ru
					.footer__social
						+social()
		.footer__bottom
			.container
				.footer__address Адрес: г. Москва, 4-я Магистральная улица, 11с2
				.footer__copy ООО “Примясе”, 2020 
				.footer__pic
					img(src="images/market.jpg", alt="")