.footer {
	background: #3C3E45;
	color: #fff;
	padding: 60px 0 30px;

	@include media( map-get( $media, lg ) ) {
		padding-top: 50px;
	}

	@include media( map-get( $media, sm ) ) {
		padding: 23px 0 15px;
	}

	.container {
		display: flex;

		@include media( map-get( $media, sm ) ) {
			display: block;
			padding: 0 20px;
			position: relative;
		}
	}

	&__info {
		width: 225px;
		flex: 0 0 225px;
		margin-right: 100px;

		@include media( map-get( $media, lg ) ) {
			margin-right: 50px;
		}

		@include media( map-get( $media, md ) ) {
			margin-right: 30px;
		}
		
		@include media( map-get( $media, sm ) ) {
			margin-right: 0;
			width: 100%;
			margin-top: 30px;
		}
	}

	&__logo {
		order: 1;
		margin-bottom: 26px;
		max-width: 178px;

		@include media( map-get( $media, md ) ) {
			max-width: 128px;
			margin-bottom: 19px;
		}

		@include media( map-get( $media, sm ) ) {
			position: absolute;
			top: 0;
			left: 20px;
			margin-bottom: 0;
		}
	}

	&__time {
		font-size: 12px;
		color: #A0A0A0;
		margin-bottom: 12px;

		@include media( map-get( $media, md ) ) {
			font-size: 10px;
		}

		@include media( map-get( $media, sm ) ) {
			display: none;
		}
	}

	&__phone {
		line-height: 145%;
		font-size: 22px;
		margin-bottom: 6px;

		@include media( map-get( $media, md ) ) {
			font-size: 19px;
			line-height: 168%;
			color: rgba(255, 255, 255, 0.4);
		}

		@include media( map-get( $media, sm ) ) {
			text-align: center;
		}

		li {
			margin-bottom: 7px;

			@include media( map-get( $media, md ) ) {
				margin-bottom: 3px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__email {
		font-weight: 600;
		color: #CFA15C;

		@include media( map-get( $media, sm ) ) {
			text-align: center;
		}

		a {
			text-decoration: underline;

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					text-decoration: none;
				}
			}
		}
	}

	&__social {
		margin-top: 46px;

		@include media( map-get( $media, md ) ) {
			margin-top: 25px;
		}

		@include media( map-get( $media, sm ) ) {
			position: absolute;
			top: 0;
			right: 20px;
			margin-top: 12px;
		}
	}

	&__box {
		order: 3;
		width: 374px;
		align-self: flex-start;
		position: relative;

		@include media( map-get( $media, md ) ) {
			width: 265px;
		}

		@include media( map-get( $media, sm ) ) {
			width: 100%;
			margin-bottom: 13px;
			padding-top: 66px;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 6px;
			left: -300px;
			width: 486px;
			height: 319px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url('../images/email__bg.png');
			opacity: 0.9;
			mix-blend-mode: color-burn;

			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}
	}

	&__nav {
		order: 2;
		margin-right: auto;
		max-width: 240px;
		font-size: 15px;
		padding-top: 10px;

		@include media( map-get( $media, md ) ) {
			font-size: 12px;
			padding-top: 5px;
		}

		@include media( map-get( $media, sm ) ) {
			padding-top: 0;
			column-count: 2;
			column-gap: 35px;
			max-width: 100%;
			line-height: 1.1;
		}

		li {
			margin-bottom: 4px;

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 10px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__bottom {
		margin-top: 53px;
		color: #A0A0A0;

		@include media( map-get( $media, md ) ) {
			margin-top: 40px;
		}

		@include media( map-get( $media, sm ) ) {
			text-align: center;
			margin-top: 20px;
		}

		.container {
			position: relative;
		}
	}

	&__address {
		font-size: 13px;

		@include media( map-get( $media, md ) ) {
			font-size: 10px;
		}
	}

	&__copy {
		margin-left: auto;
		font-size: 12px;

		@include media( map-get( $media, md ) ) {
			font-size: 10px;
		}
	}

	&__pic {
		position: absolute;
		bottom: 100%;
		margin-bottom: 13px;
		right: map-get( $margin, main );

		@include media( map-get( $media, lg ) ) {
			right: map-get( $margin, alt );
		}

		@include media( map-get( $media, sm ) ) {
			position: static;
			margin-bottom: 0;
			width: 57px;
			opacity: 0.2;
			margin-top: 10px;
			margin-left: auto;
			margin-right: auto;
		}

		img {
			display: block;
			max-width: 100%;
		}
	}
}