.checkout {

	@include media( map-get( $media, sm ) ) {
		display: none;
	}

	&__top {
		display: none;

		@include media( map-get( $media, sm ) ) {
			display: block;
			text-align: center;
			padding-bottom: 18px;
			margin-bottom: 20px;
			border-bottom: 1px solid #C9CCD3;
		}
	}

	&__back {
		display: flex;
		background: none;
		align-items: center;
		justify-content: center;
		line-height: 1;
		color: #CFA074;
		margin: -10px auto 20px;

		.icon {
			font-size: 10px;
			margin-right: 7px;
		}

		span {
			text-decoration: underline;
			font-size: 12px;
			font-weight: 600;
		}
	}

	&__title {
		font-size: 30px;
		text-transform: uppercase;
		line-height: 1;
		font-weight: 500;
		font-family: map-get( $ff, alt );
	}

	.tabs {
		
		@include media( map-get( $media, sm ) ) {
			margin-top: 25px;
		}
	}

	.tabs__controls {
		margin-bottom: 31px;
	}

	&--aside {

		@include media( map-get( $media, lg ) ) {
			margin-top: 40px;
			
			.aside-box {
				height: auto !important;
				position: static !important;
				width: 100% !important;

				& > * {
					position: static !important;
					width: 100% !important;
					height: auto !important;
				}
			}
		}

		@include media( map-get( $media, sm ) ) {
			display: none;
		}
	}

	&-box {
		margin-top: 45px;
		position: relative;

		@include media( map-get( $media, sm ) ) {
			margin-top: 25px;
		}

		&:first-child {
			margin-top: 0;
		}

		&--mobile {
			
			@include media( map-get( $media-min, sm ), 'min' ) {
				display: none;
			}
		}

		&__title {
			text-transform: uppercase;
			line-height: 1;
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 15px;
			color: #000000;

			@include media( map-get( $media, sm ) ) {
				text-transform: none;
				margin-bottom: 6px;
				font-size: 14px;
				font-weight: bold;
			}
		}

		&__btn {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			align-items: center;
			color: #CFA074;
			font-weight: 600;

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {

					span {
						text-decoration: none;
					}
				}
			}

			span {
				text-decoration: underline;
			}

			.icon {
				font-size: 16px;
				margin-left: 10px;
			}

			.form__calendar {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				opacity: 0;
				height: 1px;
			}
		}

		&__day {
	
			@include media( map-get( $media, sm ) ) {
				position: relative;
	
				& .icon,
				& > span {
					display: none;
				}
	
				.form__calendar {
					position: static;
					opacity: 1;
					height: 47px;
					background: rgba(226, 226, 226, 0.64);
					padding: 0 30px 0 17px;
				}

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 12px;
					border-top: 5px solid #3C3E45;
					border-right: 5px solid transparent;
					border-left: 5px solid transparent;
				}
			}
		}
	}

	&-row {
		background: rgba(226, 226, 226, 0.64);
		padding: 20px;

		@include media( map-get( $media, sm ) ) {
			position: absolute;
			z-index: 1;
			top: 100%;
			left: 0;
			right: 0;
			display: none;
			padding: 15px;
			background:#fff;
			box-shadow: 0 0 10px rgba(0,0,0,.2);
		}

		.form__label--check {
			align-items: center;
		}

		.form__label-name {

			b {
				@include media( map-get( $media-min, sm ), 'min' ) {
					display: none;
				}
			}
		}

		&__items {
			display: flex;
			margin-right: -30px;
			margin-bottom: -11px;
			line-height: 121%;

			@include media( map-get( $media, sm ) ) {
				display: block;
				margin: 0;
			}

			& > * {
				margin-right: 30px;
				margin-bottom: 11px;

				@include media( map-get( $media, sm ) ) {
					margin: 0 0 10px 0;
				}
				
				&:last-child {
					margin-bottom: 11px;

					@include media( map-get( $media, sm ) ) {
						margin-bottom: 0;
					}
				}
			}

			&--alt {

				& > * {
					min-width: 90px;
					max-width: 180px;

					@include media( map-get( $media, sm ) ) {
						min-width: 0;
						max-width: 100%;
					}

					&.form__label--check {
						align-items: flex-start;
					}

					.form__label-name {

						br {

							@include media( map-get( $media, sm ) ) {
								display: none;
							}
						}
					}
				}
			}

			.form__label-name {

				.form__label-pic {

					@include media( map-get( $media, sm ) ) {
						width: 22px;
					}

					& + b {

						@include media( map-get( $media, sm ) ) {
							transform: translateY(-100%);
							display: block;
							margin-left: 30px;
						}
					}
				}
			}
		}

		.form__check-box {
			background: #fff;
			width: 20px;
			height: 20px;
			min-width: 20px;
			border-color: #C4C4C4;
			margin-right: 10px;

			&:after {
				width: 10px;
				height: 10px;
				background: #3C3E45;
			}
		}
	}

	&-dates {
		display: flex;
		margin-right: -10px;

		@include media( map-get( $media, sm ) ) {
			display: none;
		}
	}

	&-date {
		position: relative;
		flex: 1;
		margin-right: 10px;
		cursor: pointer;

		&.active {
			background: rgba(226, 226, 226, 0.64);
		}

		&:before {
			content: '';
			padding-top: 100%;
			display: block;
		}

		&__val {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			line-height: 121%;
			font-weight: 600;
			font-size: 14px;
			white-space: nowrap;

			span {
				display: block;
				text-transform: uppercase;
			}
		}
	}

	&-sel {

		@include media( map-get( $media, sm ) ) {
			position: relative;
			z-index: 10;
		}

		&.active {

			@include media( map-get( $media, sm ) )  {
				z-index: 20;

				.checkout-row {
					display: block;
				}
			}
		}

		&__value {
			display: none;

			@include media( map-get( $media, sm ) ) {
				display: flex;
				align-items: center;
				position: relative;
				padding: 0 30px 0 17px;
				position: relative;
				height: 47px;
				background: rgba(226, 226, 226, 0.64);
				font-size: 12px;
				line-height: 1;
			}

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 12px;
				border-top: 5px solid #3C3E45;
				border-right: 5px solid transparent;
				border-left: 5px solid transparent;
			}

			&--alt {
				text-transform: uppercase;
			}

			br {
				display: none;
			}

			b {
				white-space: nowrap;
				margin-left: 5px;
				font-size: 14px;
			}

			.form__label-pic {
				order: -1;
				width: 22px;
				min-width: 22px;
				margin-right: 9px;
				margin-top: 0;
			}
		}
	}

	&-items {
		display: flex;
		flex-wrap: wrap;
		margin-right: -10px;

		@include media( map-get( $media, sm ) ) {
			margin-right: -6px;
		}
	}

	&-item {
		position: relative;
		margin-right: 10px;
		margin-top: 10px;
		background: #BBC4E3;
		padding: 10px 12px 10px 61px;
		min-height: 59px;
		width: 225px;
		font-size: 12px;
		font-weight: 600;
		line-height: 117%;
		display: block;

		@include media( map-get( $media, sm ) ) {
			width: 168px;
			margin-top: 6px;
			margin-right: 6px;
			padding: 6px 6px 6px 45px;
			font-size: 9px;
			line-height: 133%;
			min-height: 46px;
		}

		&__img {
			display: block;
			position: absolute;
			top: 10px;
			left: 12px;
			width: 41px;
			height: 41px;
			overflow: hidden;

			@include media( map-get( $media, sm ) ) {
				width: 34px;
				height: 34px;
				top: 6px;
				left: 6px;
			}

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-position: center;
				object-fit: cover;
			}
		}

		&__title {
			display: block;
			color: #fff;
		}

		&__text {
			display: block;
			color: #393B41;
		}
	}
}