.form {

	&__items {}

	&__label {
		display: block;
		margin-bottom: 11px;

		&:last-child {
			margin-bottom: 0;
		}

		&-name {}

		&-pic {
			display: block;
			margin-top: 9px;

			img {
				display: block;
				max-width: 100%;
			}
		}

		&--check {
			display: flex;
			cursor: pointer;

			&-alt {

				.form__check-box {
					border-color: #C4C4C4;
				}

				.form__check:checked ~ .form__check-box {
					border-color: #CFA074;
				}
			}

			.form__label-name {

				b {
					margin-left: 10px;
				}
			}

			.icon {
				font-size: 19px;
				margin-left: 5px;
				color: #C4C4C4;
			}

			&-other {

				.form__check-box {
					border-color: #CFA074;
					margin-right: 12px;
					bottom: -1px;
				}

				.form__label-name {

					span {
						font-size: 15px;
					}
				}

				.form__check:checked {

					& ~ .form__check-box {
						border-color: #BB2331;
	
						&:after {
							background: #BB2331;
						}
					}

					& ~ .form__label-name {
						color: #BB2331;
						font-weight: 600;
					}
				}
			}
		}

		&--required {
			position: relative;

			&:before {
				content: '*';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 14px;
				font-size: 20px;
				color: #BB2331;

				@include media( map-get( $media, sm ) ) {
					font-size: 13px;
				}
			}

			input {
				padding-left: 30px;
				
				@include media( map-get( $media, sm ) ) {
					padding-left: 25px;
				}
			}
		}
	}
	
	&__input,
	&__select,
	&__textarea {}

	&__input {
		background: rgba(201, 204, 211, 0.4);
		height: 50px;
		padding: 0 15px;
		width: 100%;
		min-width: 0;
		display: block;

		@include media( map-get( $media, md ) ) {
			height: 47px;
			font-size: 13px;
		}

		@include media( map-get( $media, sm ) ) {
			height: 43px;
		}

		&--sm {
			height: 43px;
		}

		&--center {
			text-align: center;
		}
	}

	&__textarea {
		background: rgba(201, 204, 211, 0.4);
		padding: 15px;
		height: 118px;
		display: block;
		width: 100%;

		@include media( map-get( $media, sm ) ) {
			height: 93px;
		}
	}

	&__check {
		display: none;

		&:checked {

			& ~ .form__check-box {

				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&-box {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 17px;
			min-width: 17px;
			height: 17px;
			border: 1px solid #CFA074;
			position: relative;
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
				margin-left: 5px;
			}

			&:after {
				content: '';
				width: 9px;
				height: 9px;
				display: block;
				background: #CFA074;
				opacity: 0;
				visibility: hidden;
				transition: .3s;
			}

			&:not(.form__check-box--circle) {

				@include media( map-get( $media, md ) ) {
					width: 14px;
					min-width: 14px;
					height: 14px;
				}

				&:after {

					@include media( map-get( $media, md ) ) {
						width: 100%;
						height: 100%;
					}
				}
			}

			&--circle {
				border-radius: 50%;

				&:after {
					border-radius: inherit;
				}
			}
		}
	}
}