.play {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background: #3C3E45;
	font-size: 55px;
	color: #F9F0E9;
	display: flex;
	align-items: center;
	justify-content: center;

	@include media( map-get( $media, md ) ) {
		width: 65px;
		height: 65px;
		font-size: 40px;
	}

	@include media( map-get( $media, sm ) ) {
		width: 53px;
		height: 53px;
		font-size: 30px;
	}
}