block ../template/pug/vars
include ../template/pug/blocks

block styles
	style.
		@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
		.s-box {
			max-width: 1200px;
			padding: 0 15px;
			margin: 50px auto;
			font-family: "Roboto", sans-serif;
		}
		.s-box__title {
			font-size: 26px;
			margin-bottom: .6em;
		}
		.s-box__list li {
			margin-bottom: 10px;
		}
		.s-box__list li:last-child {
			margin-bottom: 0;
		}
		.s-box__list a {
			color: inherit;
			font-size: 16px;
		}
		.s-box__list a.disabled {
			opacity: .5;
			pointer-events: none;
		}
		.content {
			padding-top: 0 !important;
		}

doctype html
html(lang="ru")
	include ../template/pug/head

	body
		.wrapper
			main.content
				block content

				.s-box
					.s-box__title Страницы
					ul.s-box__list
						li
							a(href="index.html" target="_blank") Главная
						li
							a(href="catalog-min.html" target="_blank") Каталог min
						li
							a(href="catalog-max.html" target="_blank") Каталог max
						li
							a(href="item-min.html" target="_blank") Карточка товара min
						li
							a(href="item-max.html" target="_blank") Карточка товара max
						li
							a(href="basket-min.html" target="_blank") Корзина min
						li
							a(href="basket-max.html" target="_blank") Корзина max
						li
							a(href="complete.html" target="_blank") Спасибо
						li
							a(href="orders.html" target="_blank") История покупок
						li
							a(href="blog.html" target="_blank") Блог
						li
							a(href="recipe.html" target="_blank") Рецепт
						li
							a(href="article.html" target="_blank") Статья
						li
							a(href="singup.html" target="_blank") Регистрация
						li
							a(href="text.html" target="_blank") Текстовая

				.s-box
					.s-box__title Попапы
					ul.s-box__list
						li
							a(href="#popup-complete").js-popup Завершение заказа
						li
							a(href="#popup-callback").js-popup Заказать звонок

			.hidden
				+popup-complete()
				+popup-callback()
				block popup
		script(src="js/main.js")
		block script