extends ../template/pug/layout

block content
	+banner()
		.banner__breadcrumbs.banner__breadcrumbs--mobile
			+breadcrumbs({
			"Наш блог": "#",
			"Статьи": ""
			})
		.banner__title.title-page
			span.nomobile Наш блог
			span.mobile Статьи

	.lvl
		.lvl-line.lvl-line--alt.lvl-line--dis
			.container
				ul
					li
						a(href="#", data-box="1").active Статьи
					li
						a(href="#", data-box="1") Рецепты
					li
						a(href="#", data-box="1") Новости

	.page-search.page-search--nomobile
		.container
			form.page-search__form
				+icon('search')
				input(type="text" name="search" placeholder="Поиск по блогу")
				button(type="submit")
					+icon('angle-right')

	.page.page--mt
		.container
			.inner
				.inner__main
					.page-controls
						a(href="#").page-link
							+icon('angle-left')
							span Вернуться 
								span ко всем Статьям
						a(href="#").page-link.page-link--mobile
							span Похожие рецепты
							+icon('angle-right')
					.title КАКАЯ-ТО СТАТЬЯ С ДЛИННЫМ ИЛИ КОРОТКИМ НАЗВАНИЕМ
				.inner__aside.inner__aside--nomobile
			.inner
				.inner__main
					.article__banner
						a(href="https://www.youtube.com/embed/fPpseD3x-r0").js-popup.article__banner-link
						+play()
						.article__banner-title 5 вкусных и простых рецептов на каждый день
						img(src="images/article__img-1.jpg", alt="")
					.article__boxs
						.article__box
							.article__box-title Вам понадобится:
							ul
								li микс салатов
								li креветки - 60 гр.
								li авокадо - 20 гр.
								li ягоды (вишня или черешня) - 5-6 ягод (также можно заменить на другой сезонный фрукт манго, абрикос, арбуз или персик)
								li орехи пекан
						.article__box
							.article__box-title Для соуса:
							ul
								li пюре маракуйя - 2 ст.ложки
								li масло оливковое - 20 мл
								li масло растительное - 20 мл.
								li мед - чайная ложка
					hr
					.article__box.article__box--single
						.article__box-title пошаговый текст рецепта
						.article__box-nums.slider-mobile
							.article__box-num Стейк из мраморной говядины характеризуется утонченным вкусом, неповторимой нежностью и сочностью. Тонкая жировая прослойка плавится при жарке, делая вкус стейка сочным и нежным. Главное – нарезать мясо на куски шириной не менее одного дюйма, подобрать специи, найти хорошую сковороду и разогреть ее до нужной температуры. Подавать на стол стейк нужно горячим, тогда сохранятся его аромат и сочность. Стейк из мраморной говядины характеризуется утонченным вкусом, неповторимой нежностью и сочностью. Тонкая жировая прослойка плавится при жарке, делая вкус стейка сочным и нежным. Главное – нарезать мясо на куски шириной не менее одного дюйма, подобрать специи, найти хорошую сковороду и разогреть ее до нужной температуры. Подавать на стол стейк нужно горячим, тогда сохранятся его аромат и сочность.
							.article__box-num Стейк из мраморной говядины характеризуется утонченным вкусом, неповторимой нежностью и сочностью. Тонкая жировая прослойка плавится при жарке, делая вкус стейка сочным и нежным. Главное – нарезать мясо на куски шириной не менее одного дюйма, подобрать специи, найти хорошую сковороду и разогреть ее до нужной температуры. Подавать на стол стейк нужно горячим, тогда сохранятся его аромат и сочность. Стейк из мраморной говядины характеризуется утонченным вкусом, неповторимой нежностью и сочностью. Тонкая жировая прослойка плавится при жарке, делая вкус стейка сочным и нежным. Главное – нарезать мясо на куски шириной не менее одного дюйма, подобрать специи, найти хорошую сковороду и разогреть ее до нужной температуры. Подавать на стол стейк нужно горячим, тогда сохранятся его аромат и сочность.
							.article__box-num Стейк из мраморной говядины характеризуется утонченным вкусом, неповторимой нежностью и сочностью. Тонкая жировая прослойка плавится при жарке, делая вкус стейка сочным и нежным. Главное – нарезать мясо на куски шириной не менее одного дюйма, подобрать специи, найти хорошую сковороду и разогреть ее до нужной температуры. Подавать на стол стейк нужно горячим, тогда сохранятся его аромат и сочность. Стейк из мраморной говядины характеризуется утонченным вкусом, неповторимой нежностью и сочностью. Тонкая жировая прослойка плавится при жарке, делая вкус стейка сочным и нежным. Главное – нарезать мясо на куски шириной не менее одного дюйма, подобрать специи, найти хорошую сковороду и разогреть ее до нужной температуры. Подавать на стол стейк нужно горячим, тогда сохранятся его аромат и сочность.
							.article__box-num Стейк из мраморной говядины характеризуется утонченным вкусом, неповторимой нежностью и сочностью. Тонкая жировая прослойка плавится при жарке, делая вкус стейка сочным и нежным. Главное – нарезать мясо на куски шириной не менее одного дюйма, подобрать специи, найти хорошую сковороду и разогреть ее до нужной температуры. Подавать на стол стейк нужно горячим, тогда сохранятся его аромат и сочность. Стейк из мраморной говядины характеризуется утонченным вкусом, неповторимой нежностью и сочностью. Тонкая жировая прослойка плавится при жарке, делая вкус стейка сочным и нежным. Главное – нарезать мясо на куски шириной не менее одного дюйма, подобрать специи, найти хорошую сковороду и разогреть ее до нужной температуры. Подавать на стол стейк нужно горячим, тогда сохранятся его аромат и сочность.
						a(href="#").btn.btn--accent.share-btn.share-btn--mobile
							span ПОНРАВИЛОСЬ? 
								br
								| РАССКАЖИ ДРУЗЬЯМ
							+icon('share')
					hr
					+share().share--nomobile

				.inner__aside.inner__aside--nomobile
					.aside__title.title ЕЩЕ ПО ТЕМЕ
					each object in main['card-alt'].aside
						+card-alt(object)
			


	
	+choice()