extends ../template/pug/layout

block vars
	- var basketVal = "38";
	- var favoriteVal = "126";

block content
	+banner()
		.banner__title.title-page
			span.nomobile личный кабинет
			span.mobile Корзина

	.lvl
		.lvl-line.lvl-line--alt.lvl-line--dis-sm
			.container
				ul
					li
						a(href="#") Личные данные  
					li
						a(href="#").active Корзина
					li
						a(href="#") Избранное
					li
						a(href="#") История  покупок
					li
						a(href="#") Персональное предложение

	.page.page--mt-lg.page--basket
		.container
			.inner.inner--basket
				.inner__main
					.basket
						.basket-top
							.basket-progress
								.progress
									.progress-summa 20 000 ₽
									.progress-line.progress-line--price
										span(style="width: 55%;", data-price="12 500 ₽")
									.progress-cont
										.progress__title
											+icon('gift')
											span До подарка осталось 
												span 1 500 ₽
										ul.progress-links
											li
												a(href="#")
													+icon('angle-left')
													span Вернуться к покупкам
											li
												a(href="#", data-link-scroll="recom")
													+icon('lamp')
													span Посмотреть рекомендации
										.progress-box
											.progress-box__items
												.progress-box__item.progress-box__item--simple
													span.progress-box__item-title Бесплатная <br>доставка
						
						section.section.basket-section(data-box-scroll="recom").section--slider
							.section__header
								.section__title.title-sm мы рекомендуем
								.section__trigger
									+icon('lamp')
									span рекомендуем добавить
									+icon('angle-down')
							.basket-slider
								each object in main.basket.slider
									.basket-slider__item
										a(href="#").basket-slider__item-img
											img(src="images/" + object.imgName, alt="")
										.basket-slider__item-counter
											+counter()
										button.basket-slider__item-btn Добавить
										.basket-slider__item-title
											a(href="#")= object.title
										.basket-slider__item-price= object.price
								each object in main.basket.slider
									.basket-slider__item
										a(href="#").basket-slider__item-img
											img(src="images/" + object.imgName, alt="")
										.basket-slider__item-counter
											+counter()
										button.basket-slider__item-btn Добавить
										.basket-slider__item-title
											a(href="#")= object.title
										.basket-slider__item-price= object.price
						
						.basket-items
							each object in main.basket.items
								+basket-item(object)

							.basket-deliv.basket-deliv--disabled
								span + БЕСПЛАТНАЯ ДОСТАВКА ПРИ ПОКУПКЕ 5 000 ₽

						.basket-box
							.box-zig
								.title-sm итого в корзине
									span 10 товаров
								.box-zig__box
									.box-block.box-block--trigger
										.box-block__top
											.box-block__title
												.box-block__trigger Промокод
													+icon('angle-down')
											.box-block__val
										.box-block__content
											.box-code.form__label.form__label--required
												input(type="text" name="" placeholder="Введите Промокод (если есть)").form__input
												button
													+icon('angle-right')
								.box-zig__box
									.box-block.box-block--trigger
										.box-block__top
											.box-block__title Стоимость заказа без доставки
											.box-block__val.edit 123 500 ₽
								.box-zig__box.box-zig__box--accent
									.box-block.box-block--trigger
										.box-block__top
											.box-block__title Подарки
											.box-block__val.edit -
								button.basket-box__btn.js-basket-trigger.btn.btn--dark.btn--lg.btn--f-lg.btn--full ОФОРМИТЬ ЗАКАЗ

					.checkout
						.checkout__top
							button.checkout__back.js-basket-trigger
								+icon('angle-left')
								span Вернуться к товарам в корзине
							.checkout__title оформление заказа

						.checkout-box.checkout-box--mobile
							.checkout-box__title Личные данные
							.checkout-box__val
								form.form
									label.form__label.form__label--required
										input(type="text" name="name" placeholder="Введите Имя" required).form__input.form__input--sm
									label.form__label.form__label--required
										input(type="tel" name="phone" placeholder="Тел  +7 (___) ___- __- __" required).form__input.form__input--sm
									label.form__label.form__label--required
										input(type="email" name="email" placeholder="Е-mail" required).form__input.form__input--sm

						.tabs.tabs--mobile
							.tabs__controls
								button.tabs__btn(data-box="1").active Доставка курьером
								button.tabs__btn(data-box="2") Экспресс-доставка / 24 часа
									span.tabs__btn-pic.tabs__btn-pic--dialog
										+icon('exclamation')
								button.tabs__btn(data-box="3") Самовывоз
							.tabs__boxs
								.tabs__box(data-box="1").active
									form.form
										+select-custom({
											"required": true,
											"value": "За пределы МКАД в <b>40 км</b>",
											"placeholder": "Расстояние доставки"
										})
										+select-custom({
											"required": true,
											"placeholder": "Населенный пункт, коттеджный поселок"
										})
										+input-custom({
											"required": true,
											"placeholder": "Улица, дом, корпус, строение"
										})
										+input-custom({
											"required": true,
											"placeholder": "Подъезд, квартира, этаж"
										})
										+input-custom({
											"required": false,
											"placeholder": "Домофон,парковка, как добраться (не обязательно)"
										})
										
										.checkout-box
											.checkout-box__title Дата доставки
											label.checkout-box__btn.checkout-box__day
												span Выбрать другую дату
												+icon('calendar')
												input(type="text" name="date").form__calendar
											.checkout-box__val
												.checkout-dates
													.checkout-date.active
														span.checkout-date__val
															span ПН
															| 5 дек
													.checkout-date
														span.checkout-date__val
															span ВТ
															| 6 дек
													.checkout-date
														span.checkout-date__val
															span СР
															| 7 дек
													.checkout-date
														span.checkout-date__val
															span ЧТ
															| 8 дек
													.checkout-date
														span.checkout-date__val
															span ПТ
															| 9 дек
													.checkout-date
														span.checkout-date__val
															span СБ
															| 10 дек
													.checkout-date
														span.checkout-date__val
															span ВС
															| 11 дек
													.checkout-date
														span.checkout-date__val
															span ПН
															| 12 дек
													.checkout-date
														span.checkout-date__val
															span ВТ
															| 13 дек
													.checkout-date
														span.checkout-date__val
															span СР
															| 14 дек
										
										.checkout-box
											.checkout-box__title Интервал доставки
											.checkout-box__val
												.checkout-sel
													.checkout-sel__value.checkout-sel__value--alt Ночью
													.checkout-row
														.checkout-row__items
															label.form__label.form__label--check
																input(type="radio" name="deliv").form__check
																span.form__check-box.form__check-box--circle
																span.form__label-name С 9:30 до 15:00
															label.form__label.form__label--check
																input(type="radio" name="deliv").form__check
																span.form__check-box.form__check-box--circle
																span.form__label-name С 12:00 до 18:00
															label.form__label.form__label--check
																input(type="radio" name="deliv").form__check
																span.form__check-box.form__check-box--circle
																span.form__label-name С 15:00 до 21:00
															label.form__label.form__label--check
																input(type="radio" name="deliv" checked).form__check
																span.form__check-box.form__check-box--circle
																span.form__label-name Ночью

										.checkout-box
											.checkout-box__title Cпособ оплаты
											.checkout-box__val
												.checkout-sel
													.checkout-sel__value Наличными <br>курьеру
														span.form__label-pic
															img(src="images/form__pic-1.svg", alt="")
														b + 0 ₽
													.checkout-row
														.checkout-row__items.checkout-row__items--alt
															label.form__label.form__label--check
																input(type="radio" name="pay" checked).form__check
																span.form__check-box.form__check-box--circle
																span.form__label-name Наличными <br>курьеру
																	span.form__label-pic
																		img(src="images/form__pic-1.svg", alt="")
																	b + 0 ₽
															label.form__label.form__label--check
																input(type="radio" name="pay").form__check
																span.form__check-box.form__check-box--circle
																span.form__label-name Банковской картой <br>курьеру
																	span.form__label-pic
																		img(src="images/form__pic-2.svg", alt="")
																	b + 10 ₽
															label.form__label.form__label--check
																input(type="radio" name="pay").form__check
																span.form__check-box.form__check-box--circle
																span.form__label-name Он-лайн оплата <br>банковской картой <br>после комплектации
																	span.form__label-pic
																		img(src="images/form__pic-3.svg", alt="")
																	b + 990 ₽
															label.form__label.form__label--check
																input(type="radio" name="pay").form__check
																span.form__check-box.form__check-box--circle
																span.form__label-name Оплата по Q-коду
																	span.form__label-pic
																		img(src="images/form__pic-4.svg", alt="")
																	b + 55 ₽
										
										.checkout-box
											.checkout-box__title Комментарии к заказу
											.checkout-box__val
												textarea.form__textarea

								.tabs__box(data-box="2") 2
								.tabs__box(data-box="3") 3
				.inner__aside.checkout--aside
					.aside-box.aside-box--fixed
						.box-zig
							.box-zig__title.title-sm ваш заказ
							.box-zig__title.box-zig__title--mobile.title-sm итого
							.box-zig__box
								form.form
									label.form__label.form__label--required
										input(type="text" name="name" placeholder="Введите Имя" required).form__input.form__input--sm
									label.form__label.form__label--required
										input(type="tel" name="phone" placeholder="Тел  +7 (___) ___- __- __" required).form__input.form__input--sm
									label.form__label.form__label--required
										input(type="email" name="email" placeholder="Е-mail" required).form__input.form__input--sm
							.box-zig__box.box-zig__box--mobile
								.box-block
									.box-block__top
										.box-block__title Товаров
										.box-block__val.edit 10 шт / 12 кг
							.box-zig__box.box-zig__box--mobile.box-zig__box--accent
								.box-block
									.box-block__top
										.box-block__title Подарки
										.box-block__val.edit 2 шт/ 0 ₽
							.box-zig__box
								.box-block
									.box-block__top
										.box-block__title Стоимость без скидки
										.box-block__val.edit 153 000 ₽
									.box-block__content 10 товаров
							.box-zig__box
								.box-block.box-block--trigger
									.box-block__top
										.box-block__title
											.box-block__trigger Промокод
												+icon('angle-down')
										.box-block__val
									.box-block__content
										.box-code.form__label.form__label--required
											input(type="text" name="" placeholder="Введите Промокод (если есть)").form__input
											button
												+icon('angle-right')
							.box-zig__box
								.box-block
									.box-block__top
										.box-block__title Доставка Курьером
										.box-block__val.edit 1 000 ₽
									.box-block__content
										| Россия, Московская область, Щелково, Проспект Мира, 8, кв. 234 подъезд 5, этаж 4
										br
										| +7 (916) ***-**-66
										br
										br
										| 16 июля (ПТ) c 11 до 13 ч
							.box-zig__box
								.box-block
									.box-block__top
										.box-block__title Оплата картой курьеру
										.box-block__val.edit.accent 0 ₽
							.box-zig__box.box-zig__box--mobile
								.box-block
									.box-block__top
										.box-block__title Комментарии
									.box-block__content Прошу предупредить о приезде курьера заранее, позвонив мне по номеру....
							.box-zig__box.box-zig__box--summa
								.box-zig__summa
									span итого
									span 153 000 ₽
							a(href="#").box-zig__btn.btn.btn--dark.btn--lg.btn--f-lg.btn--full ЗАКАЗАТЬ
							.box-zig__info
								| Нажимая кнопку, вы даете согласие на обработку ваших персональных данных. 
								a(href="#") Политика конфиденциальности