extends ../template/pug/layout

block content
	+banner()
		.banner__title.title-page Наш блог

	.lvl
		.lvl-line.lvl-line--alt.lvl-line--dis
			.container
				ul
					li
						a(href="#") Статьи
					li
						a(href="#") Рецепты
					li
						a(href="#") Новости

	.page-search
		.container
			form.page-search__form
				+icon('search')
				input(type="text" name="search" placeholder="Поиск по блогу")
				button(type="submit")
					+icon('angle-right')

	
	.page.page--mt
		.container
			.page-filter.page-filter--mobile
				label.form__label.form__label--check
					input(type="radio" name="sort").form__check
					span.form__check-box.form__check-box--circle
					span.form__label-name Статьи
				label.form__label.form__label--check
					input(type="radio" name="sort").form__check
					span.form__check-box.form__check-box--circle
					span.form__label-name Рецепты
				label.form__label.form__label--check
					input(type="radio" name="sort").form__check
					span.form__check-box.form__check-box--circle
					span.form__label-name Новости
				label.form__label.form__label--check
					input(type="radio" name="sort" checked).form__check
					span.form__check-box.form__check-box--circle
					span.form__label-name Все
			.page-line
				.page-date
					.page-date__line
						span Архив за 
						select.date-select
							option(value="" selected) Апрель 2020
							option(value="") Февраль 2020
							option(value="") Январь 2020
							option(value="") Декабрь 2019
							option(value="") Ноябрь 2019
							option(value="") Октябрь 2019
							option(value="") Сентябрь 2019
							option(value="") Август 2019
						+icon('calendar')
					
					
				ul.cards-nums
					li
						a(href="#") 10
					li
						a(href="#") 20
					li
						a(href="#") 30
			.cards.cards--md
				each object in main['card-alt'].blog
					.cards__item
						+card-alt(object)

			+pagination()
			.page-more.page-more--mobile
				a(href="#").btn.btn--gray
					span смотреть ещЁ 10
					+icon('angle-down')
	
	+choice()