extends ../template/pug/layout

block vars
	- var isLogin = true;
	- var isHeaderBasket = true;
	- var pageName = "Мясо";

block content
	+banner('simple')
		.banner__breadcrumbs
			+breadcrumbs({
			"Мясо": "#",
			"Мраморное мясо": ""
			})
		.banner__title.title-page говяжья Вырезка
		.banner__text Только специальный мясной откорм (от 100 до 360 дней зернового откорма, если Grass Fed, то Grain Finished).  Только специальный мясной откорм (от 100 до 360 дней зернового откорма, если Grass Fed, то Grain Finished).

	.lvl
		.lvl-line
			.container
				ul
					li
						a(href="#", data-box="1") Баранина
					li
						a(href="#", data-box="2") Телятина
					li
						a(href="#", data-box="3") Говядина
					li
						a(href="#", data-box="4").active Мраморное Мясо
					li
						a(href="#", data-box="5") Свинина
					li
						a(href="#", data-box="6") Кролик
					li
						a(href="#", data-box="7") Нутрия
					li
						a(href="#", data-box="8") Дичь
		.lvl-line.lvl-line--alt
			.container
				ul
					li
						a(href="#").active Вырезка
					each name in ["Рибай","Стриплойн","Альтернативные стейки","Ребра","Субпродукты","Праймбиф","Филе-миньон"]
						li
							a(href="#")= name

	.page
		.container

			+filter()

			.cards.cards--md
				each object in main.card.catalog1
					.cards__item
						+card(object)
			.page-more
				a(href="#").btn.btn--gray
					span смотреть ещЁ 
						span.mobile 10
					+icon('angle-down')

	
	+choice()

	section.section.section--slider.section--mb
		.container
			.section__header
				.section__title.title-sm рецепты по теме
				a(href="#").section__link Смотреть всё
			.slider.slider--simple
				each object in main['card-alt']['slider-simple']
					.slider__item
						+card-alt(object)