extends ../template/pug/layout

block vars
	- var isLogin = true;
	- var isHeaderBasket = true;
	- var pageName = "Мясо";

block content
	+banner('simple')
		.banner__breadcrumbs
			+breadcrumbs({
			"Мясо": "#",
			"Мраморное мясо": ""
			})
		.banner__title.title-page говяжья Вырезка
		.banner__text Только специальный мясной откорм (от 100 до 360 дней зернового откорма, если Grass Fed, то Grain Finished).  Только специальный мясной откорм (от 100 до 360 дней зернового откорма, если Grass Fed, то Grain Finished).

	.lvl
		.lvl-line
			.container
				ul
					li
						a(href="#", data-box="1") Баранина
					li
						a(href="#", data-box="2") Телятина
					li
						a(href="#", data-box="3") Говядина
					li
						a(href="#", data-box="4").active Мраморное Мясо
					li
						a(href="#", data-box="5") Свинина
					li
						a(href="#", data-box="6") Кролик
					li
						a(href="#", data-box="7") Нутрия
					li
						a(href="#", data-box="8") Дичь
		.lvl-line.lvl-line--alt
			.container
				ul
					li
						a(href="#").active Вырезка
					each name in ["Рибай","Стриплойн","Альтернативные стейки","Ребра","Субпродукты","Праймбиф","Филе-миньон"]
						li
							a(href="#")= name

	.page
		.container

			+filter()

			.cards
				each object in main.card.catalog
					.cards__item
						+card(object)
			.page-more
				a(href="#").btn.btn--gray
					span смотреть ещЁ 
						span.mobile 10
					+icon('angle-down')

	section.section.section--cols.section--bg.section--gray.section--pic.section--bg-mpt
		.container
			.section-pic(style="background-image:url(images/section__bg-1.png);").nomobile
			.section__cont
				.section__cols
					.section__col.section__header.section__header--mobile-center
						.subtitle Что такое
						.section__title.title-md идеальный стейк
					.section__col--lg.slider-mobile
						.section__box
							.text
								h3 Об идеальных стейках
								p Стейк из мраморной говядины характеризуется утонченным вкусом, неповторимой нежностью и сочностью. Тонкая жировая прослойка плавится при жарке, делая вкус стейка сочным и нежным. Главное – нарезать мясо на куски шириной не менее одного дюйма, подобрать специи, найти хорошую сковороду и разогреть ее до нужной температуры. Подавать на стол стейк нужно горячим, тогда сохранятся его аромат и сочность.
						.section__box
							.text
								h3 Рекомендации по хранению
								p Продукт рекомендуется хранить не более 1-2 суток после вскрытия вакуумной упаковки при температуре 0-2 °С. Если часть стейка вы уже использовали, а другую хотите сохранить, промокните его чистой бумажной салфеткой — это позволит убрать лишнюю влагу. Затем заверните мясо в вафельное полотенце, чтобы оно сохранило мягкость и сочность, и уберите в холодильник подальше от кисломолочных продуктов. Полотенце нужно менять ежедневно — так вы сохраните вкус и нежность стейка.
						.section__box
							.text
								h3 Рекомендации по хранению
								p Продукт рекомендуется хранить не более 1-2 суток после вскрытия вакуумной упаковки при температуре 0-2 °С. Если часть стейка вы уже использовали, а другую хотите сохранить, промокните его чистой бумажной салфеткой — это позволит убрать лишнюю влагу. Затем заверните мясо в вафельное полотенце, чтобы оно сохранило мягкость и сочность, и уберите в холодильник подальше от кисломолочных продуктов. Полотенце нужно менять ежедневно — так вы сохраните вкус и нежность стейка.
						.section__box
							.text
								h3 Рекомендации по хранению
								p Продукт рекомендуется хранить не более 1-2 суток после вскрытия вакуумной упаковки при температуре 0-2 °С. Если часть стейка вы уже использовали, а другую хотите сохранить, промокните его чистой бумажной салфеткой — это позволит убрать лишнюю влагу. Затем заверните мясо в вафельное полотенце, чтобы оно сохранило мягкость и сочность, и уберите в холодильник подальше от кисломолочных продуктов. Полотенце нужно менять ежедневно — так вы сохраните вкус и нежность стейка.

	section.section.section--slider.section--mb
		.container
			.section__header
				.section__title.title-sm рецепты по теме
				a(href="#").section__link Смотреть всё
			.slider.slider--simple
				each object in main['card-alt']['slider-simple']
					.slider__item
						+card-alt(object)