extends ../template/pug/layout

block content
	+banner().nomobile
		.banner__title.title-page личный кабинет

	.lvl
		.lvl-line.lvl-line--alt.lvl-line--dis-sm
			.container
				ul
					li
						a(href="#").active Личные данные  
					li
						a(href="#") Корзина
					li
						a(href="#") Избранное
					li
						a(href="#")  История  покупок
					li
						a(href="#") Персональные рекомендации

	.page.page--mb.page--mz
		.container
			.page-box.page-box--md
				.block
					.block__top
						.block__title
							span спасибо за ваш заказ!
						.block__info Ваш заказ №12345 от 01.05.2020 успешно создан и скоро начнет комплектоваться.
					.block__main
						.block__pic
							span !
						.block__text
							p В ближайшее время с Вами свяжется наш оператор для подтверждения заказа. Если этого не произошло в течение 1 часа с момента заказа (мы работаем ежедневно с 09:00 до 19:30) просим Вас написать нам по адресу 
								a(href="mailto:info@primyase.ru") info@primyase.ru
								|  или позвонить нам по телефону 
								a(href="tel:+7 916 348-24-45") +7 916 348-24-45
								| .
							p Вы можете следить за выполнением своего заказа в 
								a(href="#") Персональном разделе сайта
								| . Обратите внимание, что для входа в этот раздел вам необходимо будет ввести логин и пароль пользователя сайта.

						form.block__message
							.block__message-row
								label
									input(type="text" name="")
									span(contenteditable="true").block__message-area
									span.block__message-line
										+icon('mess')
										span Напишите, чтобы Вы хотели видет у нас в продаже?...
								button(type="submit")
									+icon('angle-right')
						.block__section
							.block__section-top
								.block__section-subtitle Пока мы собираем заказ, посмотрите наши
								.block__section-title
									span 
										a(href="#") интересные рецепты
							.cards.slider-mobile-alt
								each object in main['card-alt'].comp
									.cards__item
										.card-alt.card-alt--other
											a(href="#").card-alt__link
											.card-alt__view
												.card-alt__img
													img(src=`images/${object.imgName}`, alt="")
											.card-alt__info
												.card-alt__title= object.title
							
