extends ../template/pug/layout

block content
	+banner('pb')
		.banner__breadcrumbs
			+breadcrumbs({
			"Мясо": "#",
			"Мраморное мясо": "#",
			"Вырезка": ""
			})
	
	.container
		.item
			.item__title Стейк Рибай Вагю a5 
			.item__price
				.item__price-new 1 500 ₽/кг
			.item__text Нью-йормаксимальная степень мраморности, нереальная сочность и нежность. все это сочетает в себе стейк из отруба рибайк стейк топ чойс
			.item__view
				.item__stats
					+stat(['ice','fermer','order'],'top')
				.item__deliv
					+stat(['deliv'],'down')
				.item__slider
					.item__slide
						img(src="images/item__img-1.jpg", alt="")
					.item__slide
						img(src="images/item__img-1.jpg", alt="")
					.item__slide
						img(src="images/item__img-1.jpg", alt="")
			.item__val
				.item__box
					.item__box-title РАЗМЕР
					.item__box-val
						select.form__select.form__select--accent
							option(value="" selected) шт
							option(value="") кг
							option(value="") авось
				.item__box.item__counter
					.item__box-title количество
					.item__box-val
						+counter()
			.item__list
				label.form__label.form__label--check
					input(type="checkbox" name="check[]").form__check
					span.form__check-box
					span.form__label-name Нарезать кусочками 
						b + 20 ₽/кг
				label.form__label.form__label--check
					input(type="checkbox" name="check[]").form__check
					span.form__check-box
					span.form__label-name Замариновать для запекания
				.alert.alert--alt
					span доступна экспресс доставка
			.item__action
				.item__summa 500 995 ₽
				.item__btns
					button.item__btn.item__btn--favorite.btn--trigger
						+icon('heart')
						+icon('heart-full')
					button.item__btn.btn--trigger
						+icon('share')
				a(href="#").item__basket.btn.btn--dark.btn--f-lg.btn--sm.btn--p-md В КОРЗИНУ

		.tabs.item__tabs
			.tabs__controls
				button.tabs__btn(data-box="1").active описание
				button.tabs__btn(data-box="2") о бренде
				button.tabs__btn(data-box="3") доставка
				button.tabs__btn(data-box="4") отзывы
				button.tabs__btn(data-box="5") рецепты
			.tabs__boxs
				.tabs__box(data-box="1").active
					.accordion-box
						button.accordion-box__btn описание товара
							+icon('angle-down')
						.accordion-box__content
							.text.text--cols.text--reverse
								.text__col.text__col--sm
									.text__line
										b Производитель:
										|  OOO FABN
									.text__line
										b Страна изготовления:
										|  Россия
									.text__line
										b Хранение (условия и срок):
										|  t от +1 до +4 С 15 суток
									.text__line
										b Способ разморозки:
										|  обычный
									.text__pic.nomobile
										img(src="images/bull-neck.svg", alt="")
								.text__col.text__col--lg
									p Сорт мраморной говядины - Вагю. Мраморность - A5. Вес - от 300 до 400 грамм. Именно такие характеристики должны быть у идеального стейка. И наш стейк из отруба Рибай полностью им соответствует!
									p Мраморная говядина сорта Вагю А5 имеет много жировых вкраплений, благодаря которым смягчается жесткость мышечных волокон отруба. Японское мясо славится большим содержанием в нем различных витаминов и жирных кислот, которые так порой необходимы нашему организму.
									p Достав мясо из морозильной камеры, мы советуем подождать минут 10-15, чтобы оно приобрело комнатную температуру. Приготовить премиальный стейк можно как на гриле, так и на домашней сковороде. В качестве дополнительных специй рекомендуем использовать классику - розмарин, черный перец, соль и тимьян.
									.text__table
										.text__table-col.text__table-col--lg
											.text__table-line
												b Энергетическая и пищевая ценность на 100 грамм продукта:  
												| 209 кКал / 209 кдж
										.text__table-col.text__table-col--columns
											- for (var i = 1; i <= 3; i++ ) {
												.text__table-line
													b Клетчатка
													| 0 гр
												.text__table-line
													b Протеины
													| 0 гр 
												.text__table-line
													b Соль
													| 0 гр 
											- }
									.text__links.nomobile
										a(href="#") Сертификат 1
										a(href="#") Сертификат 2
				.tabs__box(data-box="2")
					.accordion-box
						button.accordion-box__btn о бренде
							+icon('angle-down')
						.accordion-box__content Контент - о бренде
				.tabs__box(data-box="3")
					.accordion-box
						button.accordion-box__btn доставка
							+icon('angle-down')
						.accordion-box__content Контент - доставка
				.tabs__box(data-box="4")
					.accordion-box
						button.accordion-box__btn отзывы
							+icon('angle-down')
						.accordion-box__content Контент - отзывы
				.tabs__box(data-box="5").tabs__box--color
					.accordion-box
						button.accordion-box__btn рецепты
							+icon('angle-down')
						.accordion-box__content
							.page__cols
								.page__col
									.subtitle Как  приготовить
									.title-md идеальный стейк
								.page__col.page__col--flex
									.article__boxs
										.article__box
											.article__box-title Вам понадобится:
											ul
												li микс салатов
												li креветки - 60 гр.
												li авокадо - 20 гр.
												li ягоды (вишня или черешня) - 5-6 ягод (также можно заменить на другой сезонный фрукт манго, абрикос, арбуз или персик)
												li орехи пекан
										.article__box
											.article__box-title Для соуса:
											ul
												li пюре маракуйя - 2 ст.ложки
												li масло оливковое - 20 мл
												li масло растительное - 20 мл.
												li мед - чайная ложка
							hr
							.page__cols
								.page__col.page__col--flex
									.article__banner
										a(href="https://www.youtube.com/embed/fPpseD3x-r0").js-popup.article__banner-link
										+play()
										.article__banner-title 5 вкусных и простых рецептов на каждый день
										img(src="images/article__img-1.jpg", alt="")
								.page__col.page__col--md
									.article__box
										.article__box-title пошаговый текст рецепта
										.article__box-text
											| Стейк из мраморной говядины характеризуется утонченным вкусом, неповторимой нежностью и сочностью. Тонкая жировая прослойка плавится при жарке, делая вкус стейка сочным и нежным. Главное – нарезать мясо на куски шириной не менее одного дюйма, подобрать специи, найти хорошую сковороду и разогреть ее до нужной температуры. Подавать на стол стейк нужно горячим, тогда сохранятся его аромат и сочность. Стейк из мраморной говядины характеризуется утонченным вкусом, неповторимой нежностью и сочностью. Тонкая жировая прослойка плавится при жарке, делая вкус стейка сочным и нежным. Главное – нарезать мясо на куски шириной не менее одного дюйма, подобрать специи, найти хорошую сковороду и разогреть ее до нужной температуры. Подавать на стол стейк нужно горячим, тогда сохранятся его аромат и сочность.

							.section__title.title-sm.nomobile товары из рецепта
							hr.nomobile
							section.section.section--slider.section--mz
								.section__header
									.section__title.title-sm товары из рецепта
								.cards.slider.slider-mobile-alt
									.cards__item.slider__item
										+card(main.card.catalog['1'])
									.cards__item.slider__item
										+card(main.card.catalog['2'])
									.cards__item.slider__item
										+card(main.card.catalog['3'])
									.cards__item.slider__item
										+card(main.card.catalog['4'])
									.cards__item.slider__item
										+card(main.card.catalog['5'])
									.cards__item.slider__item
										+card(main.card.catalog['6'])
							.page-more.nomobile
								a(href="#").btn.btn--gray
									span другие рецепты
									+icon('angle-right')


	hr.hr-single

	section.section.section--slider
		.container
			.section__header
				.section__title.title-sm с этим товаром покупают
			.cards.cards--md.slider.slider--default-card
				each object in main.card.catalog
					.slider__item.cards__item
						+card(object)
						
	
	hr.hr-single

	section.section.section--slider.section--mb
		.container
			.section__header
				.section__title.title-sm рекомендуем
			.cards.cards--md.slider.slider--default-card
				each object in main.card.catalog
					.slider__item.cards__item
						+card(object)
	
	+choice()