extends ../template/pug/layout

block content
	+banner()
		.banner__title.title-page
			span.nomobile личный кабинет
			span.mobile История покупок

	.lvl
		.lvl-line.lvl-line--alt.lvl-line--dis-sm
			.container
				ul
					li
						a(href="#") Личные данные  
					li
						a(href="#") Корзина
					li
						a(href="#") Избранное
					li
						a(href="#").active История  покупок
					li
						a(href="#") Персональные рекомендации

	.page.page--mb.page--orders
		.container
			.page-box
				.orders
					.order
						button.order__btn
							.order__title заказ №12389
							.order__date от 20.20.20
							.order__status.order__status--complete
								span ЗАКАЗ 
								| ДОСТАВЛЕН
							.order__price 21 000 ₽
							+icon('angle-down')
						.order__content
							+orders('complete','21 000 ₽','2')
					.order
						button.order__btn
							.order__title заказ №12389
							.order__date от 20.20.20
							.order__status.order__status--complete
								span ЗАКАЗ 
								| ДОСТАВЛЕН
							.order__price 5 000 ₽
							+icon('angle-down')
						.order__content
							+orders('complete','5 000 ₽','1')
					.order
						button.order__btn
							.order__title заказ №12389
							.order__date от 20.20.20
							.order__status.order__status--form
								span ЗАКАЗ 
								| СФОРМИРОВАН
							.order__price 153 000 ₽
							+icon('angle-down')
						.order__content
							+orders('form','153 000 ₽','4')
					.order
						button.order__btn
							.order__title заказ №12389
							.order__date от 20.20.20
							.order__status.order__status--complete
								span ЗАКАЗ 
								| ДОСТАВЛЕН
							.order__price 21 000 ₽
							+icon('angle-down')
						.order__content
							+orders('complete','21 000 ₽','2')
					.order
						button.order__btn
							.order__title заказ №12389
							.order__date от 20.20.20
							.order__status.order__status--complete
								span ЗАКАЗ 
								| ДОСТАВЛЕН
							.order__price 5 000 ₽
							+icon('angle-down')
						.order__content
							+orders('complete','5 000 ₽','1')
					.order
						button.order__btn
							.order__title заказ №12389
							.order__date от 20.20.20
							.order__status.order__status--form
								span ЗАКАЗ 
								| СФОРМИРОВАН
							.order__price 153 000 ₽
							+icon('angle-down')
						.order__content
							+orders('form','153 000 ₽','4')