extends ../template/pug/layout

block content
	+banner()
		.banner__title.title-page личный кабинет

	.lvl
		.lvl-line.lvl-line--alt.lvl-line--dis-sm
			.container
				ul
					li
						a(href="#").active Личные данные  
					li
						a(href="#") Корзина
					li
						a(href="#") Избранное
					li
						a(href="#")  История  покупок
					li
						a(href="#") Персональные рекомендации

	.page.page--mb
		.container
			.page-box.page-box--min.page-box--center
				.page-box__title.title-sm войти через
				+social({
					"type": "alt",
					"size": "md",
					"array": ['youtube','vk','facebook','instagram','od']
				})
				form.page-box__form
					label.form__label
						input(type="text" name="login" placeholder="E-mail или Логин").form__input.form__input--center
					label.form__label
						input(type="password" name="password" placeholder="Пароль").form__input.form__input--center
					label.form__label.form__label--check.form__label--check-alt
						input(type="checkbox" name="").form__check
						span.form__check-box.form__check-box--circle
						span.form__label-name Запомнить меня на этом компьютере
					.form__action
						button.btn.btn--dark.btn--f-lg.btn--full ВОЙТИ
					.page-box__line.page-box__line--center
						a(href="") Забыли пароль?