extends ../template/pug/layout

block content
	+banner()
		.banner__title.title-page Доставка

	.page.page--mb
		.container
			.text
				h2 заголовок 1
				hr
				h3 заголовок 2
				p Мы доставляем свежее охлаждённое мясо по Москве, Московской области и всей России ежедневно c 9.30 до 21.00 (кроме 1, 2 и 3 января). Пожалуйста, сделайте заказ до 19:00, чтобы мы успели подготовить его для Вас и доставить на следующий день.
				p Интервалы доставки: с 9:30 до 15:00, с 15:00 до 21:00, с 12:00 до 18:00 или в течение дня.
					br
					| Выбирайте удобный для Вас интервал на странице оформления заказа. 
				p Вы можете воспользоваться услугой "Экспресс-доставка в день заказа". За дополнительную плату заказ будет доставлен вам в течение 3-х часов (в зависимости от загрузки производства время доставки может быть увеличено). Экспресс-доставка возможна, если заказ сделан в интервале с 9:00 до 18:00.
					br
					| Такой заказ может быть оплачен только банковской картой онлайн после его комплектации.
				hr
				h3 стоимость доставки
				p Минимальная сумма заказа отсутствует (при доставке на 29, 30 или 31 декабря минимальная сумма заказа составляет 6900 руб.)
				p При заказе от 3000 руб. вы получаете ПОДАРОК 1 или ПОДАРОК 2 или ПОДАРОК 3 или ПОДАРОК 4. Выберите свой на странице оформления заказа.
				p Доставка в пределах МКАД — 350 руб.
					br
					| Экспресс-доставка в день заказа — 695 руб.
				p Доставка за пределы МКАД до 10 км — 490 руб.
					br
					| Экспресс-доставка в день заказа — 1195 руб.
				p Доставка за пределы МКАД до 40 км — 790 руб.
					br
					| Экспресс-доставка в день заказа — 1750 руб.
				p Доставка за пределы МКАД от 40 до 60 км — 30 руб. за 1 км от МКАД.
				hr
				h3 как мы работаем
				p Стейк из мраморной говядины характеризуется утонченным вкусом, неповторимой нежностью и сочностью. Тонкая жировая прослойка плавится при жарке, делая вкус стейка сочным и нежным. Главное – нарезать мясо на куски шириной не менее одного дюйма, подобрать специи, найти хорошую сковороду и разогреть ее до нужной температуры. Подавать на стол стейк нужно горячим, тогда сохранятся его аромат и сочн

	.map#map

block script
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=67d8298a-9086-4a17-8897-80ca319a6cdc")
	script.
		var myMap;

		// Дождёмся загрузки API и готовности DOM.
		ymaps.ready(init);

		function init () {
			var myMap = new ymaps.Map('map', {
				center: [55.751574, 37.573856],
				zoom: 9
			}),

			// Создаём макет содержимого.
			MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
				''
			),

			myPlacemark = new ymaps.Placemark([55.661574, 37.573856], {
				hintContent: ''
			}, {
				// Опции.
				// Необходимо указать данный тип макета.
				iconLayout: 'default#image',
				// Своё изображение иконки метки.
				iconImageHref: 'images/map__pic.svg',
				// Размеры метки.
				iconImageSize: [25, 31],
				// Смещение левого верхнего угла иконки относительно
				// её "ножки" (точки привязки).
				iconImageOffset: [-12, -31]
			}),

			myPlacemark1 = new ymaps.Placemark([55.761574, 37.673856], {
				hintContent: ''
			}, {
				// Опции.
				// Необходимо указать данный тип макета.
				iconLayout: 'default#image',
				// Своё изображение иконки метки.
				iconImageHref: 'images/map__pic-1.svg',
				// Размеры метки.
				iconImageSize: [25, 31],
				// Смещение левого верхнего угла иконки относительно
				// её "ножки" (точки привязки).
				iconImageOffset: [-12, -31]
			});

			myMap.geoObjects
				.add(myPlacemark)
				.add(myPlacemark1);
		}