.lvl {
	color: #fff;

	@include media( map-get( $media, lg ) ) {
		display: none;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	a {
		display: flex;
		align-items: center;
		padding: 0 27px;
		font-size: 17px;
		line-height: 1;
		height: 51px;
		border: 2px solid transparent;

		&:not(.active):hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				color: #A5A5A5;
			}
		}

		&.active {
			border-color: #CF9F74;
			color: #fff;
			font-weight: 400;
		}
	}

	&-line {
		background: #393B41;
		padding: 20px 0;

		&--alt {
			background: #33353b;

			a {
				padding: 0 24px;
				height: 34px;
				font-size: 15px;
				font-weight: 600;
				color: #CFA074;
				border-width: 1px;
			}
		}

		&--dis {

			ul {
				margin-left: -30px;
				margin-right: -30px;
			}

			li {
				margin-left: 30px;
				margin-right: 30px;
			}

			&-sm {

				ul {
					margin-left: -20px;
					margin-right: -20px;
				}
	
				li {
					margin-left: 20px;
					margin-right: 20px;
				}
			}
		}
	}
}