.breadcrumbs {
	position: relative;
	padding: 13px 30px 12px;
	background: map-get( $color, accent );
	margin-left: 16px;
	margin-right: 16px;

	@include media( map-get( $media-min, sm ), 'min' ) {
		@supports (clip-path: polygon(0 0, 100% 100%)) {
			margin-left: 0;
			margin-right: 0;
			padding-left: 45px;
			padding-right: 45px;
			clip-path: polygon(0 0, calc(100% - 16px) 0, 100% 50%, calc(100% - 16px) 100%, 0 100%, 16px 50%);
		}

		&:after,
		&:before {
			content: '';
			position: absolute;
			right: 100%;
			border-right: 16px solid map-get( $color, accent );

			@supports (clip-path: polygon(0 0, 100% 100%)) {
				display: none;
			}
		}

		&:after {
			border-top: 22px solid transparent;
			bottom: 0;
		}
	
		&:before {
			border-bottom: 22px solid transparent;
			top: 0;
		}
	}

	@include media( map-get( $media, sm ) ) {
		width: 100vw;
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	ul {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		line-height: 1.13;
		font-size: 15px;
		font-weight: 600;
		margin-right: -1.3em;

		@include media( map-get( $media-min, sm ), 'min' ) {
			&:before {
				content: '';
				position: absolute;
				left: 100%;
				top: 0;
				border-left: 16px solid map-get( $color, accent );
				border-bottom: 21px solid transparent;
				border-top: 21px solid transparent;
	
				@supports (clip-path: polygon(0 0, 100% 100%)) {
					display: none;
				}
			}
		}

		@include media( map-get( $media, sm ) ) {
			justify-content: center;
			font-size: 14px;
		}
	}

	li {
		position: relative;
		margin-right: .3em;
		padding-right: 1em;

		@include media( map-get( $media, sm ) ) {

			&:first-child {
				display: none;
			}
		}

		&:after {
			content: '/';
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}

		&:last-child {

			&:after {
				display: none;
			}
		}
	}

	a {
		display: flex;

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				color: inherit;

				span {
					border-bottom-color: transparent;
				}
			}
		}

		span {
			border-bottom: 1px solid;
			transition: .3s;
		}
	}

	.icon {
		font-size: 18px;
		margin-right: 0.2em;
	}
}