mixin breadcrumbs(object)
	.breadcrumbs
		ul
			li
				a(href="index.html")
					+icon('home')
			each href,name in object
				li
					if href
						a(href= href)
							span= name
					else
						span= name