$icon_font_name:"iconFont";

@font-face {
  font-family:$icon_font_name;
  src: url('../fonts/iconFont.woff') format('woff'),
  url('../fonts/iconFont.woff2') format('woff2');
}

%icon-address,
%icon-angle-down,
%icon-angle-left,
%icon-angle-right,
%icon-angle-up,
%icon-basket-full,
%icon-basket,
%icon-bill,
%icon-burger,
%icon-calendar,
%icon-close-alt,
%icon-close,
%icon-del,
%icon-deliv,
%icon-dialog,
%icon-email,
%icon-exclamation,
%icon-facebook,
%icon-gift,
%icon-heart-full,
%icon-heart,
%icon-home,
%icon-instagram,
%icon-lamp,
%icon-long-arrow-down-light,
%icon-long-arrow-down,
%icon-long-arrow-left,
%icon-long-arrow-right,
%icon-long-arrow-up,
%icon-mess,
%icon-num,
%icon-od,
%icon-pan,
%icon-persent,
%icon-phone-alt,
%icon-phone,
%icon-refresh,
%icon-search,
%icon-settings,
%icon-share,
%icon-spec,
%icon-user,
%icon-vk,
%icon-youtube,
%last_selector {
    &:before {
      font-family:$icon_font_name;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      text-decoration: none;
      text-transform: none;
    }
  }

%icons_before_after {
  &:before,
  &:after {
    font-family: $icon_font_name;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

%icons_after {
  &:after {
    font-family: $icon_font_name;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

%icon-address:before {
  content:'\E001';
}
%icon-angle-down:before {
  content:'\E002';
}
%icon-angle-left:before {
  content:'\E003';
}
%icon-angle-right:before {
  content:'\E004';
}
%icon-angle-up:before {
  content:'\E005';
}
%icon-basket-full:before {
  content:'\E006';
}
%icon-basket:before {
  content:'\E007';
}
%icon-bill:before {
  content:'\E008';
}
%icon-burger:before {
  content:'\E009';
}
%icon-calendar:before {
  content:'\E00A';
}
%icon-close-alt:before {
  content:'\E00B';
}
%icon-close:before {
  content:'\E00C';
}
%icon-del:before {
  content:'\E00D';
}
%icon-deliv:before {
  content:'\E00E';
}
%icon-dialog:before {
  content:'\E00F';
}
%icon-email:before {
  content:'\E010';
}
%icon-exclamation:before {
  content:'\E011';
}
%icon-facebook:before {
  content:'\E012';
}
%icon-gift:before {
  content:'\E013';
}
%icon-heart-full:before {
  content:'\E014';
}
%icon-heart:before {
  content:'\E015';
}
%icon-home:before {
  content:'\E016';
}
%icon-instagram:before {
  content:'\E017';
}
%icon-lamp:before {
  content:'\E018';
}
%icon-long-arrow-down-light:before {
  content:'\E019';
}
%icon-long-arrow-down:before {
  content:'\E01A';
}
%icon-long-arrow-left:before {
  content:'\E01B';
}
%icon-long-arrow-right:before {
  content:'\E01C';
}
%icon-long-arrow-up:before {
  content:'\E01D';
}
%icon-mess:before {
  content:'\E01E';
}
%icon-num:before {
  content:'\E01F';
}
%icon-od:before {
  content:'\E020';
}
%icon-pan:before {
  content:'\E021';
}
%icon-persent:before {
  content:'\E022';
}
%icon-phone-alt:before {
  content:'\E023';
}
%icon-phone:before {
  content:'\E024';
}
%icon-refresh:before {
  content:'\E025';
}
%icon-search:before {
  content:'\E026';
}
%icon-settings:before {
  content:'\E027';
}
%icon-share:before {
  content:'\E028';
}
%icon-spec:before {
  content:'\E029';
}
%icon-user:before {
  content:'\E02A';
}
%icon-vk:before {
  content:'\E02B';
}
%icon-youtube:before {
  content:'\E02C';
}


.icon:before {
  font-family: $icon_font_name;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-address:before {
  content:'\E001';
}
.icon-angle-down:before {
  content:'\E002';
}
.icon-angle-left:before {
  content:'\E003';
}
.icon-angle-right:before {
  content:'\E004';
}
.icon-angle-up:before {
  content:'\E005';
}
.icon-basket-full:before {
  content:'\E006';
}
.icon-basket:before {
  content:'\E007';
}
.icon-bill:before {
  content:'\E008';
}
.icon-burger:before {
  content:'\E009';
}
.icon-calendar:before {
  content:'\E00A';
}
.icon-close-alt:before {
  content:'\E00B';
}
.icon-close:before {
  content:'\E00C';
}
.icon-del:before {
  content:'\E00D';
}
.icon-deliv:before {
  content:'\E00E';
}
.icon-dialog:before {
  content:'\E00F';
}
.icon-email:before {
  content:'\E010';
}
.icon-exclamation:before {
  content:'\E011';
}
.icon-facebook:before {
  content:'\E012';
}
.icon-gift:before {
  content:'\E013';
}
.icon-heart-full:before {
  content:'\E014';
}
.icon-heart:before {
  content:'\E015';
}
.icon-home:before {
  content:'\E016';
}
.icon-instagram:before {
  content:'\E017';
}
.icon-lamp:before {
  content:'\E018';
}
.icon-long-arrow-down-light:before {
  content:'\E019';
}
.icon-long-arrow-down:before {
  content:'\E01A';
}
.icon-long-arrow-left:before {
  content:'\E01B';
}
.icon-long-arrow-right:before {
  content:'\E01C';
}
.icon-long-arrow-up:before {
  content:'\E01D';
}
.icon-mess:before {
  content:'\E01E';
}
.icon-num:before {
  content:'\E01F';
}
.icon-od:before {
  content:'\E020';
}
.icon-pan:before {
  content:'\E021';
}
.icon-persent:before {
  content:'\E022';
}
.icon-phone-alt:before {
  content:'\E023';
}
.icon-phone:before {
  content:'\E024';
}
.icon-refresh:before {
  content:'\E025';
}
.icon-search:before {
  content:'\E026';
}
.icon-settings:before {
  content:'\E027';
}
.icon-share:before {
  content:'\E028';
}
.icon-spec:before {
  content:'\E029';
}
.icon-user:before {
  content:'\E02A';
}
.icon-vk:before {
  content:'\E02B';
}
.icon-youtube:before {
  content:'\E02C';
}