html {
	font-size: map-get($font, size);
	line-height: map-get($font, lineHeight);

	@include media( map-get( $media, md ) ) {
		font-size: 12px;
	}
}

body {
	font-family: map-get($ff, main), Arial, sans-serif;
	font-weight: map-get($font, weight);
	background-color: map-get($color, bg);
	color: map-get($color, text);
	min-width: 320px;
}

.hidden {
	display: none;
}

p {
	margin-bottom: 1.57em;

	&:last-child {
		margin-bottom: 0;
	}

	a {
		text-decoration: underline;
		color: inherit;

		&:hover {
			text-decoration: none;
			color: map-get($color, accent);
		}
	}
}

a {
	transition: .3s;
	color: inherit;

	&:hover {
		
		@include media( map-get( $media-min, lg ), 'min' ) {
			color: map-get( $color, accent );
		}
	}
}

hr {
	margin: 32px 0;
	border: none;
	border-bottom: 1px solid #CDCDCD;

	@include media( map-get( $media, md ) ) {
		display: none;
	}

	&.hr-single {
		margin: 50px auto;
		width: calc(100vw - 70px);
		max-width: 1170px;

		@include media( map-get( $media, lg ) ) {
			width: calc(100vw - 30px);
		}

		& + .section {
			margin-top: 50px;

			&:not(.section--mb) {
				// margin-bottom: 50px;
			}
		}
	}
}

.nomobile {

	@include media( map-get( $media, md ) ) {
		display: none;
	}
}

.mobile {
	
	@include media( map-get( $media-min, md ), 'min' ) {
		display: none;
	}
}