.wrapper {
	width: 100%;
	overflow: hidden;

	@supports (flex-direction: column) {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
}

.content {
	flex: 1;

	@include media( map-get( $media, lg ) ) {
		padding-top: 96px;
	}
}

.container {
	width: 100%;
	max-width: 1170px + map-get($margin, main) + map-get($margin, main);
	margin: 0 auto;
	padding: 0 map-get($margin, main);

	@include media( map-get( $media, lg ) ) {
		padding: 0 map-get($margin, alt);
	}

	&--big {
		max-width: 1440px;
	}

	& + .choice {

		@include media( map-get( $media-min, lg ), 'min' ) {
			margin-top: 100px;
		}
	}
}