.slick-dots {
	position: absolute;
	bottom: 100%;
	margin-bottom: 15px;
	right: 0;
	display: flex;
	margin-right: -5px;

	li {
		margin-right: 5px;
		display: flex;
		line-height: 1;

		&.slick-active {
			display: flex;

			button {
				background: #CFA074;
			}
		}

		&.after,
		&.before {
			// display: flex;
		}
	}

	button {
		width: 6px;
		height: 6px;
		background: #D6D6D6;
		cursor: pointer;
		font-size: 0;
	}
}

.slick-arrow {
	width: 42px;
	height: 42px;
	background: #F5F0EB;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	color: #CFA074;

	&.slick-prev {
		padding-right: 1px;
	}

	&.slick-next {
		padding-left: 1px;
	}
}


.jq-selectbox {

	&:hover {
		box-shadow: none;
	}

	&:active {}
}

.jq-selectbox {
	width: 100%;

	&:hover,
	&.focused,
	&:focus {

		.jq-selectbox__select {
			box-shadow: none;
			background: #EDEDED;
			border: none;
			outline: none;
		}

		.jq-selectbox__trigger-arrow {
			border-top: 6px solid #505259;
		}
	}
}

.jq-selectbox__select {
	box-shadow: none;
	background: #EDEDED;
	outline: none;
	border: none;
	padding: 0 40px 0 15px;
	height: 36px;
	border-radius: 0;
	display: flex;
	align-items: center;
}

.jq-selectbox__select-text {
	font-family: map-get( $ff, main );
	font-size: 13px;
	line-height: 1;
	color: #3C3E45;
	text-shadow: none;
	
	&.placeholder {
	}
}

.jq-selectbox__trigger {
	width: 40px;
	border: none;
}

.jq-selectbox__trigger-arrow {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-top: 6px solid #505259;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}

.jq-selectbox__dropdown {
	width: auto;
	min-width: 100%;

	ul {
	}

	li {

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {}
		}

		&.selected {
		}
	}
}

.form__select--accent {
	
	&.jq-selectbox {
	
		&:hover,
		&.focused,
		&:focus {
	
			.jq-selectbox__select {
				background: #CFA074;
			}

			.jq-selectbox__trigger-arrow {
				border-top-color: #fff;
			}
		}
	}
	
	.jq-selectbox__select {
		background: #CFA074;
	}

	.jq-selectbox__select-text {
		color: #fff;
		font-size: 16px;
	}

	.jq-selectbox__trigger-arrow {
		border-top-color: #fff;
	}
}

.fancybox-bg {
	background: rgba(#fff,.7);
}

.fancybox-slide--html {

	@include media( map-get( $media, md ) ) {
		padding: 0 !important;
	}
}



.datepicker--nav-title {
	text-transform: uppercase;
	color: #CF9F74;
	font-size: 14px;
	font-weight: 600;
	font-family: map-get( $ff, main );

	i {
		color: inherit;
	}
}

.datepicker--nav-action path {
	stroke: #CF9F74;
}

.datepicker {
	padding: 10px 25px 15px;
	width: 230px;
}

.datepicker--nav {
	border-bottom: none;
	padding: 0;
	font-family: map-get( $ff, main );
}

.datepicker--content {
	padding: 0;
}

.datepicker--days-names {
	margin: 0;
	padding: 6px 0;
	font-size: 11px;
	border-top: 1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
}

.datepicker--day-name {
	color: #3C3E45;
}

.datepicker--cell {
	font-size: 13px;
	font-family: map-get( $ff, main );
	border-radius: 0;

	&.-current- {
		background: #A9A9A9;
		color: #fff;
	}

	&:not(.-disabled-):hover,
	&.-selected-,
	&.-current-.-selected- {
		background: #CF9F74;
		color: #fff;
	}
}

.datepicker--pointer {
	display: none;
}

.jq-selectbox__dropdown {
	border: 1px solid #E4DBD9;
	background: #FFFFFF;
	border-radius: 0;
	margin-top: 0;
}
.jq-selectbox__dropdown li {
	border-bottom: 1px solid #E4DBD9;
	font-size: 14px;
	transition: color .3s;

	&:last-child {
		border-bottom: none;
	}

	&.sel {
		display: none;
	}

	&:hover {
		background: none;
		color: map-get($color, accent);
	}
}