include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/btn/btn
include ../../blocks/icon/icon
include ../../blocks/logo/logo
include ../../blocks/burger/burger
include ../../blocks/popup/popup
include ../../blocks/form/form
include ../../blocks/title/title
include ../../blocks/text/text
include ../../blocks/section/section
include ../../blocks/card/card
include ../../blocks/cards/cards
include ../../blocks/nav/nav
include ../../blocks/social/social
include ../../blocks/page/page
include ../../blocks/pagination/pagination
include ../../blocks/banner/banner
include ../../blocks/breadcrumbs/breadcrumbs
include ../../blocks/map/map
include ../../blocks/play/play
include ../../blocks/share/share
include ../../blocks/subscribe/subscribe
include ../../blocks/search-box/search-box
include ../../blocks/progress/progress
include ../../blocks/menu/menu
include ../../blocks/slider/slider
include ../../blocks/card-alt/card-alt
include ../../blocks/choice/choice
include ../../blocks/lvl/lvl
include ../../blocks/inner/inner
include ../../blocks/article/article
include ../../blocks/stat/stat
include ../../blocks/counter/counter
include ../../blocks/filter/filter
include ../../blocks/onTop/onTop
include ../../blocks/item/item
include ../../blocks/alert/alert
include ../../blocks/tabs/tabs
include ../../blocks/accordion/accordion
include ../../blocks/part/part
include ../../blocks/advant/advant
include ../../blocks/main-slider/main-slider
include ../../blocks/complete/complete
include ../../blocks/block/block
include ../../blocks/popup-complete/popup-complete
include ../../blocks/orders/orders
include ../../blocks/box/box
include ../../blocks/basket/basket
include ../../blocks/checkout/checkout
include ../../blocks/input-custom/input-custom
include ../../blocks/select-custom/select-custom
include ../../blocks/basket-item/basket-item
include ../../blocks/popup-callback/popup-callback
