block vars
include blocks

doctype html
html(lang="ru")
	include head

	body
		.wrapper
			+header()
			main.content
				block content
			+onTop()
			+footer()
			.hidden
				+popup-complete()
				+popup-callback()
				block popup
		script(src="js/main.js")
		block script