mixin subscribe()
	.subscribe
		.subscribe__title Подпишись 
			br
			| на нашу рассылку 
		.subscribe__text и получай бонусы и актуальные новости 
			span первым  
		form.subscribe__form
			input(type="email" name="email" placeholder="Введите Ваш e-mail")
			button(type="submit")
				+icon('email')
		.subscribe__info Нажимая кнопку, вы даете согласие на обработку ваших персональных данных. 
			a(href="#") Политика конфиденциальности