.subscribe {
	background: #494B53;
	padding: 30px 40px;
	position: relative;
	z-index: 2;

	@include media( map-get( $media, md ) ) {
		padding: 20px 20px 35px;
	}

	&__title {
		font-weight: 600;
		font-size: 26px;
		line-height: 115%;
		margin-bottom: 8px;

		@include media( map-get( $media, md ) ) {
			font-size: 14px;
			line-height: 136%;
			text-transform: uppercase;
		}

		@include media( map-get( $media, sm ) ) {
			text-align: center;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 150%;
		margin-bottom: 22px;

		@include media( map-get( $media, md ) ) {
			font-size: 11px;
			line-height: 126%;
			font-weight: 600;
			color: #CFA074;
			margin-bottom: 10px;

			span {
				display: none;
			}
		}

		@include media( map-get( $media, sm ) ) {
			text-align: center;
		}
	}

	&__form {
		height: 46px;
		display: flex;
		margin-bottom: 17px;

		@include media( map-get( $media, md ) ) {
			height: 40px;
			margin-bottom: 10px;
		}

		input {
			flex: 1;
			min-width: 0;
			background: #FFFFFF;
			border: 1px solid #CFCFCF;
			border-right: none;
			padding: 0 15px;
			height: 100%;

			@include placeholder(#919191);

			@include media( map-get( $media, sm ) ) {
				text-align: center;
			}
		}

		button {
			background: #E09E60;
			width: 46px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 21px;
			color: #fff;

			@include media( map-get( $media, md ) ) {
				width: 40px;
				font-size: 18px;
			}
		}
	}

	&__info {
		color: #747680;
		font-size: 12px;
		line-height: 125%;

		@include media( map-get( $media, md ) ) {
			font-size: 8px;
			line-height: 1;
			color: #C9CCD3;
		}

		@include media( map-get( $media, sm ) ) {
			text-align: center;
		}
	}
}