mixin orders(type, price, num)
	.order-item
		.order-item__info
			.order-item__top
				.order-item__line
					.order-item__title заказ №12389
					button.order-item__del
						+icon('del')
				.order-item__status.order__status(class="order__status--" + type)
					if (type == 'complete')
						span ЗАКАЗ 
						| ДОСТАВЛЕН
					if (type == 'form')
						span ЗАКАЗ 
						| СФОРМИРОВАН
					if (type == 'cancel')
						span ЗАКАЗ 
						| отменён
				.order-item__date от 20.20.20
				button.order-item__toggle
					+icon('angle-up')
			.box-zig__box.box-zig__box--mobile
				.box-block
					.box-block__top
						.box-block__title Личные данные:
					.box-block__content
						| Альфред Петрович
						br
						| +7 (916) ***-**-66
						br
						| mail@mail.ru
			.box-zig__box.box-zig__box--mobile
				.box-block
					.box-block__top
						.box-block__title Товаров
						.box-block__val.edit 10 шт / 12 к
			.box-zig__box.box-zig__box--mobile
				.box-block
					.box-block__top
						.box-block__title Подарки
						.box-block__val.edit 2 шт/ 0 ₽
			.box-zig__box.box-zig__box--mobile
				.box-block
					.box-block__top
						.box-block__title Промокод
						.box-block__val.edit - 500 ₽
			.box-zig__box
				.box-block
					.box-block__top
						.box-block__title Доставка Курьером
						.box-block__val.edit 1 000 ₽
					.box-block__content
						| Россия, Московская область, Щелково, Проспект Мира, 8, кв. 234 подъезд 5, этаж 4
						br
						| +7 (916) ***-**-66
			.box-zig__box
				.box-block
					.box-block__top.box-block__top--mobile
						.box-block__title Дата и время доставки
					.box-block__content 16 июля (ПТ) c 11 до 13 ч
			.box-zig__box
				.box-block
					.box-block__top
						.box-block__title Оплата картой курьеру
						.box-block__val.edit 0 ₽
			.box-zig__box.box-zig__box--mobile
				.box-block
					.box-block__top
						.box-block__title Комментарии
					.box-block__content Прошу предупредить о приезде курьера заранее, позвонив мне по номеру....
			.box-zig__box.box-zig__box--summa
				.box-zig__summa
					span итого
					span 153 000 ₽
			a(href="#").box-zig__btn.order-item__btn.btn.btn--dark.btn--lg.btn--f-lg.btn--full
				span ПОВТОРИТЬ ЗАКАЗ
				+icon('refresh')
			.order-item__inf.box-zig__info Все товары из данного заказа будут снова добавлены в Вашу корзину

		.order-item__items
			button.order-item__trigger товары в заказе
			.basket-items
				each object in main.orders.items
					+basket-item-simple(object)