.orders {}

.order {
	margin-bottom: 5px;

	@include media( map-get( $media, md ) ) {
		margin-bottom: 0;

		&:first-child {
			
			.order__btn {
				border-top: none;
			}
		}
	}

	&.active {

		& + .order {

			.order__btn {
				border-top: none;
			}
		}

		.order {

			&__btn {
				border-color: transparent;

				@include media( map-get( $media, md ) ) {
					display: none;
				}

				& > *:not(.icon) {
					opacity: 0;
				}

				.icon {
					transform: rotate(180deg);
					color: #CFA074;
				}
			}

			&-item {
				display: flex;
				margin-bottom: 40px;

				@include media( map-get( $media, md ) ) {
					display: block;
					margin-top: 20px;
					margin-bottom: 20px;
				}
			}
		}
	}

	&:last-child {
		margin-bottom: 0;
	}

	&__btn {
		width: 100%;
		background: none;
		display: flex;
		align-items: flex-end;
		border-bottom: 1px solid #C4C4C4;
		padding: 15px 0 20px;

		@include media( map-get( $media, md ) ) {
			position: relative;
			padding: 16px 30px 34px 0;
			align-items: center;
			border-bottom: none;
			border-top: 1px solid #C4C4C4;
		}

		.icon {
			color: #505259;
			font-size: 15px;
			position: relative;
			top: -4px;

			@include media( map-get( $media, md ) ) {
				position: absolute;
				top: 20px;
				right: 0;
				margin-left: 16px;
				font-size: 10px;
				color: #3C3E45;
			}
		}
	}

	&__title {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 27px;
		line-height: 1;
		margin-right: 12px;
		font-family: map-get( $ff, alt );

		@include media( map-get( $media, md ) ) {
			font-weight: 500;
			font-size: 20px;
		}
	}

	&__date {
		font-weight: 600;
		font-size: 15px;
		line-height: 1;
		margin-right: 20px;
		margin-bottom: 2px;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 0;
			position: absolute;
			left: 0;
			bottom: 19px;
			font-size: 11px;
			margin-right: 0;
			font-weight: 40;
		}
	}

	&__status {
		height: 37px;
		padding: 0 28px;
		display: flex;
		align-items: center;
		white-space: nowrap;
		text-transform: uppercase;
		line-height: 1;
		color: #fff;
		margin-bottom: -3px;

		@include media( map-get( $media, md ) ) {
			position: absolute;
			bottom: 19px;
			right: 30px;
			height: 16px;
			padding: 0 11px;
			text-transform: lowercase;
			font-size: 10px;
			font-weight: 600;
		}

		span {
			margin-right: 0.3em;
			
			@include media( map-get( $media, md ) ) {
				display: none;
			}
		}

		&--complete {
			background: #CFA074;
		}

		&--form {
			background: #84B780;
		}

		&--cancel {
			background: #C4C4C4;
		}
	}

	&__price {
		margin-left: auto;
		font-size: 24px;
		font-weight: 600;
		line-height: 1;
		min-width: 152px;

		@include media( map-get( $media, md ) ) {
			font-size: 14px;
			min-width: 0;
		}
	}

	&-item {
		display: none;
		align-items: flex-start;
		background: #FFFFFF;
		box-shadow: 0px -3px 25px rgba(0, 0, 0, 0.15);
		padding: 60px 70px 50px;
		position: relative;

		@include media( map-get( $media, lg ) ) {
			padding: 20px 15px 60px;
		}

		@include media( map-get( $media, md ) ) {
			background: #F5F0EB;
			margin-left: -15px;
			margin-right: -15px;
			box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.25);
		}

		&:before {
			content: "";
			position: absolute;
			z-index: 1;
			bottom: 100%;
			height: 9px;
			left:0;
			width: 100%;
			background: linear-gradient(-45deg, #fff 7px,  transparent 0),
							linear-gradient(45deg, #fff 7px, transparent 0);
			background-position: left top;
			background-repeat: repeat-x;
			background-size: 18px;

			@include media( map-get( $media, md ) ) {
				background: linear-gradient(-45deg, #F5F0EB 7px,  transparent 0),
								linear-gradient(45deg, #F5F0EB 7px, transparent 0);
				background-repeat: repeat-x;
				background-size: 18px;
				background-position: left top;
			}
		}

		.box-zig__box--summa {

			@include media( map-get( $media, md ) ) {
				border-top: none;
				padding-top: 0;
			}
		}

		&__inf {

			@include media( map-get( $media, md ) ) {
				display: none;
			}
		}

		&__items {
			flex: 1;

			@include media( map-get( $media, md ) ) {
				margin-bottom: 15px;
			}

			.basket-items {
				margin-bottom: 0;

				@include media( map-get( $media, md ) ) {
					display: none;
				}
			}

			&.active {

				@include media( map-get( $media, md ) ) {
					.basket-items {
						display: block;
					}

					.order-item__trigger {
						border-bottom: none;
						margin-bottom: 10px;

						&:before {
							transform: translateY(-50%) rotate(180deg);
						}
					}
				}
			}

			.basket-item {
				box-shadow: none;
				padding: 0;
				padding-bottom: 24px;
				margin-bottom: 24px;
				border-bottom: 1px solid rgba(201, 204, 211, 0.65);

				@include media( map-get( $media, md ) ) {
					background: none;
					padding-bottom: 15px;
					margin-bottom: 15px;
				}

				@include media( map-get( $media, sm ) ) {
					min-height: 150px;
					padding-left: 150px;
					padding-right: 15px;
				}

				&:hover {

					@include media( map-get( $media-min, lg ), 'min' ) {
						box-shadow: none;
					}
				}

				&:last-child {
					margin-bottom: 0;

					@include media( map-get( $media-min, md ), 'min' ) {
						padding-bottom: 0;
						border-bottom: none;
					}
				}

				&__img {

					@include media( map-get( $media, sm ) ) {
						top: 0;
					}
				}

				&__tags {
					top: 15px;
					left: 0;

					@include media( map-get( $media, sm ) ) {
						left: 15px;
					}
				}

				&__bottom {
					max-width: initial;
					flex: 0 0 102px;
					margin-left: 0;
				}

				&__summa {
					white-space: nowrap;
				}

				&__counter {
					margin-left: auto;
					min-width: 0;
					width: initial;
					flex: 0 0 70px;
					color: #040200;
					font-size: 20px;
					line-height: 1;
					margin-right: 47px;

					@include media( map-get( $media, sm ) ) {
						width: 119px;
						background: #FFFFFF;
						height: 29px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 14px;
						margin: 0;
						top: 128px;
					}
				}

				.form__label {
					cursor: initial;

					&--check-other {

						.form__label-name {
							color: #BB2331;
						}
					}

					.form__label-name {

						@include media( map-get( $media, sm ) ) {
							position: relative;
							padding-left: 14px;

							&:before {
								content: '+';
								position: absolute;
								top: -1px;
								left: 0;
								font-size: 14px;
								font-weight: 600;
								color: #CFA074;
								line-height: 1;
							}
						}
					}
				}
			}
		}

		&__info {
			margin-right: 88px;
			flex: 0 0 277px;

			@include media( map-get( $media, lg ) ) {
				margin-right: 20px;
			}

			@include media( map-get( $media, md ) ) {
				margin-right: 0;
			}
		}

		&__top {
			display: flex;
			flex-direction: column;
			position: relative;

			@include media( map-get( $media, md ) ) {
				flex-direction: row;
				padding-bottom: 30px;
				border-bottom: 1px solid #C9CCD3;

				.order-item__status {
					position: static;
				}
			}
		}

		&__line {
			display: flex;
			align-items: flex-start;
			margin-bottom: 3px;
			order: -2;
		}

		&__title {
			line-height: 1;
			font-size: 32px;
			font-weight: 500;
			text-transform: uppercase;
			font-family: map-get( $ff, alt );
			margin-right: auto;

			@include media( map-get( $media, md ) ) {
				font-size: 20px;
				margin-right: 12px;
			}
		}

		&__del {
			align-self: center;
			display: flex;
			align-items: center;
			margin-left: 10px;
			background: none;
			font-size: 23px;
			color: #C4C4C4;
			transition: .3s;

			@include media( map-get( $media, md ) ) {
				font-size: 20px;
				margin-right: 10px;
			}

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					color: #000;
				}
			}
		}

		&__date {
			order: -1;
			font-size: 15px;
			font-weight: 600;
			margin-bottom: 15px;

			@include media( map-get( $media, md ) ) {
				position: absolute;
				bottom: 18px;
				line-height: 1;
				left: 0;
				font-size: 11px;
				margin: 0;
			}
		}

		&__toggle {
			display: none;

			@include media( map-get( $media, md ) ) {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				width: 30px;
				min-width: 30px;
				height: 16px;
				padding: 0;
				background: none;
				font-size: 10px;
			}
		}

		&__status {
			justify-content: center;
			width: 100%;
			margin-bottom: 28px;

			@include media( map-get( $media, md ) ) {
				width: initial;
				margin-left: auto;
				margin-bottom: 0;
			}
		}

		&__btn {
			display: flex;
			align-items: center;
			padding-right: 23px;

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {

					.icon {
						color: inherit;
						transition: .3s;
						transform: rotate(-180deg);
					}
				}
			}

			.icon {
				color: rgba(255, 255, 255, 0.24);
			}
		}

		&__trigger {
			display: none;

			@include media( map-get( $media, md ) ) {
				display: flex;
				align-items: center;
				text-transform: uppercase;
				font-size: 20px;
				line-height: 1;
				color: #CFA074;
				font-family: map-get( $ff, alt );
				padding-left: 22px;
				height: 52px;
				position: relative;
				border-bottom: 1px solid #C9CCD3;
				width: 100%;
				background: none;

				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					border-top: 5px solid #3C3E45;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
				}
			}
		}
	}
}