mixin input-custom(object)
	.form__label.input-custom
		if object.required
			input(type="text" name="" required).form__input
		else
			input(type="text" name="").form__input
		span.input-custom__area
			span.input-custom__placeholder(
				data-required= object.required ? "*" : "",
				data-placeholder= object.placeholder
			)
			span.input-custom__val(contenteditable="true")