.input-custom {
	position: relative;
	display: block;
	height: 50px;
	background: rgba(201, 204, 211, 0.4);
	line-height: 1;
	overflow: hidden;

	@include media( map-get( $media, md ) ) {
		height: 47px;
	}

	input.form__input {
		display: none;
	}

	&.edit {

		.input-custom__placeholder {
			opacity: 0;
			visibility: hidden;
		}
	}

	&__area {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		padding-left: 18px;
		cursor: text;
	}

	&__placeholder {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
		padding: inherit;

		&:before {
			content: attr(data-required);
			display: inline;
			font-size: 20px;
			color: #BB2331;
			display: inline-block;
			margin-right: 0.3em;
			
			@include media( map-get( $media, md ) ) {
				font-size: 12px;
			}
		}

		&:after {
			content: attr(data-placeholder);
			display: inline;
		}
	}

	&__val {
		position: relative;
		z-index: 2;
		display: block;
		width: 100%;
		max-height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		padding-right: 18px;
		min-height: 1.1em;
	}
}