.select-custom {
	position: relative;
	cursor: pointer;

	&.edit {

		.select-custom__placeholder {
			display: none;
		}
	}

	&.active {
		.select-custom__dropdown {
			display: block;
		}
	}

	&__select {
		height: 50px;
		background: #000;
		line-height: 1;
		background: rgba(201, 204, 211, 0.4);
		display: flex;
		align-items: center;
		padding: 0 70px 0 18px;
		overflow: hidden;

		@include media( map-get( $media, md ) ) {
			height: 47px;
		}
	}

	&__text {
		min-height: 1.1em;
		overflow-y: auto;
		overflow-x: hidden;
	}

	&__placeholder {}

	&__required {
		font-size: 20px;
		margin-right: 5px;
		color: #BB2331;
		display: inline-block;

		@include media( map-get( $media, md ) ) {
			font-size: 12px;
		}
	}

	&__arrow {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 50px;
		display: flex;
		align-items: center;
		justify-content: center;

		&:after {
			content: '';
			display: block;
			border-top: 5px solid #000;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
		}
	}

	&__dropdown {
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 100%;
		z-index: 3;
		display: none;
		background: #fff;

		li {
			padding: 4px 15px;
			cursor: pointer;

			&.selected {
				background: #ccc;
			}
		}
	}
}