mixin select-custom(object)
	.form__label
		.select-custom(class= object.value ? "edit" : "")
			.select-custom__select
				.select-custom__text!= object.value
				.select-custom__placeholder
					if object.required
						.select-custom__required *
					!= object.placeholder
				.select-custom__arrow
			.select-custom__dropdown
				ul
					if object.value
						li.selected!= object.value
					else
						li.selected Вариант 1
					li Вариант 2
					li Вариант 3
					li Вариант 4
					li Вариант 5