.slider {
	position: relative;

	&__item {
		padding: 0 19px;
		height: initial;

		@include media( map-get( $media, lg ) ) {
			padding: 0 10px;
		}

		@include media( map-get( $media, md ) ) {
			padding: 0 9px;
		}

		.card-alt {
			position: relative;
			height: 100%;
			display: flex;
			flex-direction: column;

			&__info {
				flex: 1;
				display: flex;
				flex-direction: column;
				padding-bottom: 35px;

				@include media( map-get( $media, md ) ) {
					padding-bottom: 24px;
				}
			}

			&__title {
				height: auto;
			}

			&__date {
				margin-top: auto;
			}
		}
	}

	.slick-list {
		margin: 0 -19px;

		@include media( map-get( $media, lg ) ) {
			margin: 0 -20px;
			padding: 0 10px;
		}

		@include media( map-get( $media, md ) ) {
			margin: 0 -20px;
			padding: 0 12px;
		}
	}

	.slick-track {
		display: flex;
	}

	&.cards {

		@include media( map-get( $media, md ) ) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	&-mobile {

		.slick-list {
			overflow: visible;
			margin-left: -20px;
			margin-right: -20px;
			padding: 0 10px;
		}

		.slick-slide {
			padding: 0 10px;
		}

		&-double {
			position: relative;

			&.cards {
				margin-top: 0;

				@include media( map-get( $media-min, lg ), 'min' ) {
					margin-top: -27px;
				}
			}

			@include media( map-get( $media, lg ) ) {
				margin-left: 0;
				margin-right: 0;
			}

			.slick-track {
				display: flex;
			}

			.slick-list {

				@include media( map-get( $media, lg ) ) {
					margin-left: -20px;
					margin-right: -20px;
					padding: 0 11px;
				}
			}

			.slick-slide {
				height: auto;
				padding: 0 9px;

				.card {
					height: 100%;
				}
			}

			&-alt {

				.slick-track {
					display: flex;
				}

				.slick-list {
	
					@include media( map-get( $media, md ) ) {
						margin-left: -16px;
						margin-right: -16px;
						padding: 0 8px;
					}
				}

				.slick-dots {
					right: 50%;
					transform: translateX(50%);
				}
			}
		}
	}

	&--simple {

		@include media( map-get( $media, md ) ) {
			display: flex;
			flex-wrap: wrap;
			margin-right: -18px;
			margin-bottom: -18px;
		}

		.slick-list {

			@include media( map-get( $media-min, lg ), 'min' ) {
				margin: 0 -15px;
			}
		}

		.slider__item {
			
			@include media( map-get( $media-min, lg ), 'min' ) {
				padding: 0 15px;
			}

			@include media( map-get( $media, md ) ) {
				padding: 0;
			}

			@include media( map-get( $media, md ) ) {
				margin-right: 18px;
				margin-bottom: 18px;
				position: relative;
				width: calc(50% - 18px);
				flex: calc(50% - 18px);

				&:nth-child(n + 4) {
					display: none;
				}

				&:first-child {
					width: 100vw;
					flex: 100vw;
					margin-right: 0;
					margin-left: -15px;
				}
			}
			
			& > * {
				width: 270px;

				@include media( 1239px ) {
					width: calc((100vw - 40px) / 4 - 30px);
				}

				@include media( map-get( $media, lg ) ) {
					width: calc((100vw - 10px) / 4 - 20px);
				}

				@include media( map-get( $media, md ) ) {
					width: 100%;
				}

				&.isBig {
					width: 570px;

					@include media( map-get( $media, md ) ) {
						width: 100%;
					}

					@include media( 1239px ) {
						width: calc((100vw - 40px) / 2 - 30px);
					}

					@include media( map-get( $media, lg ) ) {
						width: calc((100vw - 10px) / 2 - 20px);
					}
				}
			}
		}
	}

	&--default {

		.card {
			position: relative;
		}

		&-card {
			margin: 0;
			padding: 0;

			&.vis {

				.slick-list {
					
					@include media( map-get( $media-min, lg ), 'min' ) {
						padding-bottom: 300px;
						margin-bottom: -300px;
						position: relative;
						z-index: 100;
						margin-top: -40px;
						padding-top: 20px;
					}
				}
			}

			.slick-list {
				margin-top: -20px;
				margin-left: -40px;
				margin-right: -40px;
				padding-left: 20px;
				padding-right: 20px;
			}
			
			.cards__item {
				padding: 27px 20px;
	
				@include media( map-get( $media, lg ) ) {
					padding: 0 9px;
					margin-top: 23px;
				}
	
				.card__drop {
	
					@include media( map-get( $media-min, lg ), 'min' ) {
						margin-left: -20px;
						margin-right: -20px;
						padding-left: 20px;
						padding-right: 20px;
						padding-bottom: 27px;
					}
				}
	
				@include media( map-get( $media-min, lg ), 'min' ) {
					.counter {
	
						&__btn {
							width: 17px;
							font-size: 28px;
						}
	
						&__val {
							font-size: 20px;
	
							&-wrap {
								width: 60px;
							}
						}
					}
	
					.card__bottom {
	
						.btn {
							padding: 0 15px;
						}
					}
				}
			}
		}
	}

	&-mobile-alt {

		&.cards {
			
			@include media( map-get( $media, md ) ) {
				margin-top: 0;
				display: block;
			}
		}

		&.cards {
	
			@include media( map-get( $media, md ) ) {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	&-mobile-other {

		.slick-list {
			margin: 0 -15px;
			padding: 0 7px;
		}

		.slick-track {

			@include media( map-get( $media-min, sm ), 'min' ) {
				display: flex;
			}
		}

		.slick-slide {

			@include media( map-get( $media-min, sm ), 'min' ) {
				height: initial;
			}
		}

		.slick-dots {

			@include media( map-get( $media, sm ) ) {
				margin-bottom: 0;
				bottom: auto;
				top: 23px;
			}
		}
	}
}