.advant {
	margin-bottom: 89px;
	background: map-get( $color, dark );
	padding-top: 42px;
	padding-bottom: 84px;
	color: #fff;

	@include media( map-get( $media, md ) ) {
		padding-top: 21px;
		padding-bottom: 34px;
		background-repeat: no-repeat;
		background-image: url('../images/advant__pic.png');
		background-position: center 20px;
		margin-bottom: 30px;
	}

	&__list {
		display: flex;
		margin-bottom: 37px;
		justify-content: space-between;
		overflow: hidden;
		position: relative;
		z-index: 1;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 44px;
		}
	}

	&-item {
		text-align: center;
		flex: 0 0 26.5%;
		background-repeat: no-repeat;
		background-image: url('../images/advant__pic.png');
		background-position: center top;
		mix-blend-mode: overlay;
		position: relative;
		overflow: hidden;

		@include media( map-get( $media, md ) ) {
			background: none;
		}

		&:nth-child(2) {
			flex: 1;

			.advant-item__title {
				position: relative;

				&:after {
					// content: '';
					position: absolute;
					z-index: -1;
					left: 50%;
					top: .5em;
					border-bottom: 1px solid #BF9D68;
					width: 100vw;
					transform: translateX(-50%);
				}
			}

			.advant-item__text {
				max-width: 323px;
				margin-left: auto;
				margin-right: auto;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		&__pic {
			width: 60px;
			height: 35px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: map-get( $color, dark );
			background: #CF9F74;
			margin: 17px auto 28px;
			position: relative;

			@include media( map-get( $media, md ) ) {
				width: 38px;
				height: 22px;
				margin: 11px auto 20px;
			}

			@include media( map-get( $media, sm ) ) {
				width: 34px;
				height: 20px;
				margin-bottom: 18px;
			}

			&-text {
				letter-spacing: -0.08em;
				font-size: 18px;
				font-weight: 600;

				@include media( map-get( $media, md ) ) {
					font-size: 11px;
				}
			}

			span {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				width: 51px;
				height: 30px;
				border-left: 2px solid map-get( $color, dark );
				border-right: 2px solid map-get( $color, dark );

				@include media( map-get( $media, md ) ) {
					width: 34px;
					height: 20px;
					border-width: 1px;
				}

				@include media( map-get( $media, sm ) ) {
					width: 30px;
					height: 18px;
				}

				&:after,
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: -2px;
					z-index: 1;
					width: calc(100% + 4px);
					height: 100%;
					border-left: 2px solid map-get( $color, dark );
					border-right: 2px solid map-get( $color, dark );

					@include media( map-get( $media, md ) ) {
						border-width: 1px;
						width: calc(100% + 2px);
						left: -1px;
					}
				}

				&:after {
					transform: rotate(60deg);
				}
	
				&:before {
					transform: rotate(-60deg);
				}
			}

			.icon {
				font-size: 32px;

				@include media( map-get( $media, md ) ) {
					font-size: 20px;
				}

				@include media( map-get( $media, sm ) ) {
					font-size: 18px;
				}

				&-num {
					font-size: 42px;

					@include media( map-get( $media, md ) ) {
						font-size: 26px;
					}
	
					@include media( map-get( $media, sm ) ) {
						font-size: 20px;
					}
				}
			}

			span,
			.icon {
				position: relative;
				z-index: 2;
			}

			&:after,
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				background: inherit;
				width: 100%;
				height: 100%;
			}

			&:after {
				transform: rotate(60deg);
			}

			&:before {
				transform: rotate(-60deg);
			}
		}

		&__subtitle {
			color: #D5A880;
			font-size: 19px;
			line-height: 1.26;
			font-family: map-get( $ff, other );
			margin-bottom: 8px;

			@include media( map-get( $media, md ) ) {
				font-size: 14px;
				margin-bottom: 4px;
			}

			@include media( map-get( $media, sm ) ) {
				font-size: 10px;
				margin-bottom: 1px;
			}
		}

		&__title {
			line-height: 104%;
			font-size: 34px;
			font-family: map-get( $ff, alt );
			text-transform: uppercase;
			margin-bottom: 10px;
			max-width: 469px;
			margin-left: auto;
			margin-right: auto;

			@include media( map-get( $media, md ) ) {
				font-size: 22px;
				margin-bottom: 0;
			}

			@include media( map-get( $media, sm ) ) {
				font-size: 13px;
				white-space: nowrap;
			}

			span {
				display: inline-block;
				position: relative;
				z-index: 2;

				&:after,
				&:before {
					content: '';
					position: absolute;
					top: 0.5em;
					width: 500px;
					border-bottom: 1px solid #BF9D68;

					@include media( map-get( $media, md ) ) {
						display: none;
					}
				}

				&:after {
					left: 100%;
					margin-left: 10px;
				}

				&:before {
					right: 100%;
					margin-right: 10px;
				}
			}
		}

		&__text {
			line-height: 121%;

			@include media( map-get( $media, md ) ) {
				display: none;
			}
		}

		&__link {
			margin-top: 13px;

			@include media( map-get( $media, md ) ) {
				margin-top: 6px;
			}

			@include media( map-get( $media, sm ) ) {
				margin-top: 5px;
			}

			a {
				color: #CFA074;
				text-decoration: underline;
				font-size: 16px;
				display: inline-block;

				@include media( map-get( $media, md ) ) {
					font-size: 14px;
				}

				@include media( map-get( $media, sm ) ) {
					font-size: 9px;
				}

				&:hover {

					@include media( map-get( $media-min, lg ), 'min' ) {
						text-decoration: none;
					}
				}
			}
		}
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 48px;

		@include media( map-get( $media, lg ) ) {
			grid-gap: 20px;
		}

		@include media( map-get( $media, md ) ) {
			display: block;
		}
	}

	&-card {
		overflow: hidden;
		display: block;
		position: relative;

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {

				img {
					transform: scale(1.1);
				}

				.advant-card__content {
					background: rgba(0,0,0,.35);
				}
			}
		}

		&-wrap {

			@include media( map-get( $media, md ) ) {
				padding: 0 7px;
			}
		}

		&:before {
			content: '';
			display: block;
			padding-top: 94.5%;
		}

		img {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			transition: .3s;
		}

		&__content {
			transition: .3s;
			position: absolute;
			z-index: 2;
			top: 30px;
			bottom: 30px;
			right: 30px;
			left: 30px;
			background: rgba(0,0,0,.24);
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-size: 26px;
			line-height: 31px;
			text-transform: uppercase;
			font-family: map-get( $ff, alt );
			padding: 20px;

			@include media( map-get( $media, md ) ) {
				top: 15px;
				bottom: 15px;
				right: 15px;
				left: 15px;
				font-size: 16px;
				line-height: 19px;
				padding: 5px;
			}
		}
	}
}