mixin advant()
	.advant
		.container
			.advant__list
				.advant-item
					.advant-item__pic
						span
							+icon('spec')
					.advant-item__subtitle Специальный
					.advant-item__title
						span мясной откорм
					.advant-item__text Только специальный мясной откорм (от 100 до 360 дней зернового откорма, если Grass Fed, то Grain Finished).
				.advant-item
					.advant-item__pic
						//- span.advant-item__pic-text 24/7
						span
							+icon('num')
					.advant-item__subtitle
						span.mobile МО и Москва
						span.nomobile Московская область и Москва
					.advant-item__title
						span круглосуточная<wbr> и экспресс-<br class="nomobile">доставка
					.advant-item__text Только специальный мясной откорм (от 100 до 360 дней зернового откорма, если Grass Fed, то Grain Finished).
					.advant-item__link
						a(href="#") Подробнее о доставке
				.advant-item
					.advant-item__pic
						span
							+icon('bill')
					.advant-item__subtitle Уникальный
					.advant-item__title
						span ассортимент
					.advant-item__text Только специальный мясной откорм (от 100 до 360 дней зернового откорма, если Grass Fed, то Grain Finished).
			.advant__cards.slider-mobile-double-alt
				.advant-card-wrap
					a(href="#").advant-card
						img(src="images/advant__img-1.jpg", alt="")
						span.advant-card__content что приготовить к празднику?
				.advant-card-wrap
					a(href="#").advant-card
						img(src="images/advant__img-2.jpg", alt="")
						span.advant-card__content как выбрать стейк
				.advant-card-wrap
					a(href="#").advant-card
						img(src="images/advant__img-3.jpg", alt="")
						span.advant-card__content вино к мясным блюдам
				.advant-card-wrap
					a(href="#").advant-card
						img(src="images/advant__img-4.jpg", alt="")
						span.advant-card__content рыбные деликатесы