mixin card-alt(object)
	.card-alt(class= object.cardType ? `card-alt--${object.cardType}` : "",
				class= object.isVideo ? "isBig" : ""
				)
		a(href="#").card-alt__link
		.card-alt__view
			if object.isVideo
				+play()
				.card-alt__title= object.title
			.card-alt__img
				img(src=`images/${object.imgName}`, alt="")
			if object.tags.position === 'img'
				ul.card-alt__tags
					if object.isNew
						li.card-alt__tag.card-alt__tag--alt.card-alt__tag--mobile new
					each type,name in object.tags.list
						li.card-alt__tag(class= type ? `card-alt__tag--${type}` : '')= name
		if !object.isVideo
			.card-alt__info
				.card-alt__title= object.title
				if object.date
					.card-alt__date= object.date
				if object.tags.position === 'info'
					ul.card-alt__tags
						if object.isNew
							li.card-alt__tag.card-alt__tag--alt.card-alt__tag--mobile new
						each type,name in object.tags.list
							li.card-alt__tag(class= type ? `card-alt__tag--${type}` : '')= name
			if object.text
				.card-alt__text
					if object.isNew
						.card-alt__new new
					= object.text
