.card-alt {

	@include media( map-get( $media, md ) ) {

		@supports (flex-direction: column) {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
	}

	&:hover {

		.card-alt__title {
			color: map-get($color,accent);
		}
	}

	&.isBig {

		.card-alt {

			&__view {

				&:before {
					content: '';
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(60, 62, 69, 0.5);
				}
			}

			&__img {

				&:before {
					padding-top: 57.39%;
				}
			}

			&__title {
				position: absolute;
				line-height: 125%;
				font-size: 16px;
				font-weight: 600;
				color: #fff;
				top: 20px;
				left: 30px;
				right: 30px;
				z-index: 2;

				@include media( map-get( $media, md ) ) {
					top: 12px;
					left: 20px;
					right: 20px;
				}
			}

			&__tags {
				z-index: 2;
			}
		}
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
	}

	&__view {
		position: relative;
	}

	.play {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);

		@include media( map-get( $media-min, md ), 'min' ) {
			width: 73px;
			height: 73px;
			font-size: 40px;
		}
	}

	&__img {
		display: block;
		overflow: hidden;
		position: relative;

		&:before {
			content: '';
			display: block;
			padding-top: 68.44%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__info {
		position: relative;
		padding: 12px 15px 20px;
		background: map-get( $color, text );
		color: #fff;

		@include media( map-get( $media, md ) ) {
			padding: 10px 12px 30px;

			@supports (flex-direction: column) {
				flex: 1;
			}
		}

		@include media( map-get( $media, sm ) ) {
			padding: 7px 11px 20px;
		}
	}

	&__title {
		font-size: 16px;
		font-weight: 600;
		line-height: 125%;
		margin-bottom: 7px;
		height: 60px;
		overflow: hidden;
		transition: color .3s;

		@include media( map-get( $media, md ) ) {
			font-size: 14px;
			line-height: 110%;
			height: auto;
			overflow: visible;
			margin-bottom: 0;
		}

		@include media( map-get( $media, sm ) ){
			font-size: 10px;
		}
	}

	&__date {
		color: #CFA074;
		font-size: 16px;
		line-height: 125%;

		@include media( map-get( $media, md ) ) {
			display: none;
		}
	}

	&__tags {
		position: absolute;
		bottom: 0;
		right: 0;
		display: flex;
	}

	&__tag {
		background: #C9CCD3;
		padding: 0 18px;
		line-height: 29px;
		color: #3C3E45;
		font-size: 14px;
		text-transform: lowercase;

		@include media( map-get( $media, md ) ) {
			line-height: 24px;
			font-size: 12px;
		}

		@include media( map-get( $media, sm ) ) {
			line-height: 16px;
			font-size: 10px;
			padding: 0 11px;
		}

		&--accent {
			background: map-get( $color, accent );
			color: #fff;
		}

		&--alt {
			background: map-get( $color, alt );
			color: #fff;
		}

		&--mobile {
			display: none;

			@include media( map-get( $media, md ) ) {
				display: flex;
			}
		}
	}

	&__new {
		display: inline-block;
		line-height: 22px;
		font-size: 12px;
		font-weight: 600;
		color: #fff;
		padding: 0 12px;
		margin-right: 4px;
		background: map-get( $color, alt );
	}

	&__text {
		margin-top: 16px;
		line-height: 154%;
		font-size: 13px;

		@include media( map-get( $media, md ) ) {
			display: none;
		}
	}

	&--light {

		.card-alt {

			&__img {

				&:before {
					padding-top: 51.51%;
				}
			}

			&__tag {
				background: #C9CCD3;
				
				&--accent {
					background: #CF9F74;
					color: #fff;
				}
			}
			
			&__info {
				background: none;
				padding: 12px 0 0 0;
				color: #3C3E45;
			}

			&__title {
				height: auto;
				margin-bottom: 0;
			}
		}
	}

	&--other {

		@include media( map-get( $media-min, lg ), 'min' ) {

			&:hover .card-alt__info {
				color: map-get($color, accent);
			}
		}

		.card-alt {

			&__info {
				padding: 10px 0 0 0;
				background: none;
			}

			&__title {
				transition: color .3s;

				@include media( map-get( $media-min, lg ), 'min' ) {
					line-height: 133%;
					font-size: 15px;
				}
			}

			&__img {

				&:before {
					padding-top: 51.74%;
				}
			}
		}
	}
}