.item {
	margin-top: -160px;
	background: #fff;
	position: relative;
	z-index: 10;
	padding: 54px 62px 30px 637px;
	margin-bottom: 60px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	border-radius: 1px;
	min-height: 600px;
	display: flex;
	flex-direction: column;

	@include media( map-get( $media, lg ) ) {
		padding: 30px 30px 30px 510px;
		margin-top: -80px;
		min-height: 410px;
		margin-bottom: 50px;
	}

	@include media( map-get( $media, md ) ) {
		box-shadow: none;
		padding: 0;
		margin-top: 24px;
		margin-bottom: 40px;
	}

	&__tag {
		display: flex;
		align-items: center;
		height: 22px;
		padding: 0 14px;
		color: #fff;
		font-size: 13px;
		font-weight: 600;
		margin-right: 4px;
		margin-bottom: 4px;

		@include media( map-get( $media, md ) ) {
			height: 16px;
			margin-right: 3px;
			margin-bottom: 3px;
			padding: 0 8px;
			font-size: 10px;
		}

		&--dark {
			background: map-get( $color, dark );
		}

		&--alt {
			background: map-get( $color, alt );
		}
	
		&s {
			display: flex;
			flex-wrap: wrap;
			margin-right: -4px;
			margin-bottom: 7px;

			@include media( map-get( $media, md ) ) {
				margin-right: -3px;
			}
		}
	}

	&__title {
		margin-bottom: 14px;
		text-transform: uppercase;
		font-size: 46px;
		font-weight: 500;
		line-height: 109%;
		font-family: map-get( $ff, alt );

		@include media( map-get( $media, lg ) ) {
			font-size: 38px;
		}

		@include media( map-get( $media, md ) ) {
			font-size: 30px;
		}

		&:first-child {
			margin-top: -0.2em;
		}
	}

	&__price {
		display: flex;
		align-items: center;
		font-weight: 600;
		margin-bottom: 17px;
		line-height: 1;

		@include media( map-get( $media, lg ) ) {
			margin-bottom: 15px;
		}

		&-old {
			font-size: 15px;
			margin-right: 10px;
			color: #CFA074;
			text-decoration: line-through;

			@include media( map-get( $media, lg ) ) {
				font-size: 14px;
			}

			@include media( map-get( $media, md ) ) {
				font-size: 12px;
				margin-right: 5px;
			}
		}

		&-new {
			font-size: 25px;

			@include media( map-get( $media, lg ) ) {
				font-size: 22px;
			}

			@include media( map-get( $media, md ) ) {
				font-size: 18px;
			}
		}

		&-sale {
			display: flex;
			align-items: center;
			padding: 0 6px;
			height: 22px;
			color: #fff;
			font-weight: 600;
			font-size: 13px;
			margin-left: 14px;
			background: #E09E60;

			@include media( map-get( $media, sm ) ) {
				min-width: 34px;
				justify-content: center;
				height: 16px;
				font-size: 10px;
			}

			span {

				@include media( map-get( $media, sm ) ) {
					display: none;
				}
			}
		}
	}

	&__text {
		line-height: 133%;
		font-size: 15px;
		opacity: 0.56;
		margin-bottom: 23px;

		@include media( map-get( $media, lg ) ) {
			margin-bottom: 20px;
		}

		@include media( map-get( $media, md ) ) {
			font-size: 13px;
			margin-bottom: 35px;
		}
	}

	&__view {
		position: absolute;
		top: 56px;
		left: 129px;
		width: 470px;
		height: 470px;

		@include media( map-get( $media, lg ) ) {
			width: 380px;
			height: 380px;
			top: 30px;
			left: 100px;
		}

		@include media( map-get( $media, md ) ) {
			position: relative;
			top: 0;
			left: 0;
			margin-bottom: 20px;
			height: 100vw;
			// max-height: 470px;
			margin-left: -15px;
			width: 100vw;
		}
		
	}

	&__stats {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 2;
	}

	&__deliv {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 2;
	}

	.stats {

		@include media( map-get( $media, md ) ) {
			top: 12px;
			right: 18px;
		}

		li {
			@include media( map-get( $media, md ) ) {
				width: 42px;
				height: 48px;
			}
		}

		&--down {

			@include media( map-get( $media, md ) ) {
				top: auto;
				bottom: 20px;
			}
		}
	}

	&__slider {
		position: relative;
		z-index: 1;

		.slick-dots {

			@include media( map-get( $media-min, lg ), 'min' ) {
				margin: -7px 18px 0 0;
			}

			@include media( map-get( $media-min, md ), 'min' ) {
				right: 100%;
				height: 100%;
				overflow: hidden;
				display: block;
				top: 0;
				margin: -7px 13px 0 0;
			}

			@include media( map-get( $media, md ) ) {
				margin-bottom: 14px;
				right: 50%;
				transform: translateX(50%);
			}

			li {

				@include media( map-get( $media-min, lg ), 'min' ) {
					width: 93px;
					height: 93px;
					border-width: 3px;
				}

				@include media( map-get( $media-min, md ), 'min' ) {
					width: 70px;
					height: 70px;
					border: 2px solid transparent;
					padding: 5px;
					cursor: pointer;
					transition: border .3s;
				}

				&.slick-active {

					@include media( map-get( $media-min, md ), 'min' ) {
						border-color: #CFA074;
					}
				}

				&:not(.slick-active):hover {

					@include media( map-get( $media-min, md ), 'min' ) {
						border-color: rgba(#CFA074,.5);
					}
				}

				button {

					@include media( map-get( $media-min, md ), 'min' ) {
						width: 100%;
						height: 100%;
						overflow: hidden;
					}
				}

				img {

					@include media( map-get( $media-min, md ), 'min' ) {
						max-width: 100%;
						max-height: 100%;
					}

					@include media( map-get( $media, md ) ) {
						display: none;
					}
				}
			}
		}
	}

	&__slide {
		height: 470px;
		display: flex !important;
		align-items: center;
		justify-content: center;

		@include media( map-get( $media, lg ) ) {
			height: 380px;
		}

		@include media( map-get( $media, md ) ) {
			height: 100vw;
			// max-height: 470px;
		}

		img {
			display: block;
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__val {
		margin-bottom: 28px;
		display: flex;

		@include media( map-get( $media, md ) ) {
			margin-left: -14px;
			margin-bottom: 10px;
		}

		@include media( map-get( $media, sm ) ) {
			flex-wrap: wrap;
		}

		.jq-selectbox__select,
		.form__select {
			height: 43px;
		}

		.form__select {

			&--accent {
				width: 101px;
			}
		}

		.jq-selectbox__select-text {
			text-transform: uppercase;
			text-align: center;
		}

		.jq-selectbox__select {
			padding: 0 25px 0 0;
		}
	}

	&__box {

		@include media( map-get( $media, md ) ) {
			margin-left: 14px;
			margin-bottom: 18px;
		}

		&-title {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 13px;
			line-height: 131%;
			margin-bottom: 5px;
		}

		&--more {

			@include media( map-get( $media, low ) ) {
				flex: 1;
			}

			.item__box-val {
				display: flex;
	
				.form__select--flex {
					flex: 1;
					min-width: 165px;

					.jq-selectbox__select-text {
						text-transform: none;
					}
				}
			}
		}
	}

	&__counter {
		margin-left: 16px;
		width: 184px;

		@include media( map-get( $media, md ) ) {
			margin-left: 14px;
		}

		.counter {
			background: #EDEDED;
			height: 43px;

			&__btn {
				font-size: 38px;

				&:first-child {
					padding-left: 16px;
				}

				&:last-child {
					padding-right: 16px;
				}
			}

			&__val {
				font-size: 22px;

				&-wrap {
					flex: 1;
					width: auto;
				}
			}
		}
	}

	&__list {
		margin-bottom: 25px;

		.form__label {
			margin-bottom: 8px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.form__check-box {
			margin-right: 12px;

			@include media( map-get( $media, md ) ) {
				margin-right: 8px;
			}
		}
	}

	&__action {
		margin-top: auto;
		display: flex;
		align-items: center;
		white-space: nowrap;
		margin-bottom: 6px;
		position: relative;

		@include media( map-get( $media, xl ) ) {
			justify-content: center;
			flex-wrap: wrap;
		}

		&:last-child {
			margin-bottom: 38px;

			@include media( map-get( $media, lg ) ) {
				margin-bottom: 0;
			}
		}
	}

	&__summa {
		font-size: 30px;
		font-weight: 600;
		margin-right: 30px;
		order: 1;

		@include media( map-get( $media, lg ) ) {
			font-size: 26px;
			margin-right: 20px;
		}

		@include media( map-get( $media, xl ) ) {
			margin-right: 15px;
			margin-right: 30px;
		}

		&-info {
			order: 5;
			line-height: 111%;
			color: rgba(60, 62, 69, 0.56);
			font-size: 14px;
			margin-top: 6px;
			width: 100%;
			white-space: initial;
			position: absolute;
			top: 100%;
			left: 0;

			@include media( map-get( $media, lg ) ) {
				margin-bottom: 0;
			}

			@include media( map-get( $media, xl ) ) {
				order: 4;
				line-height: 108%;
				font-size: 12px;
				display: flex;
				justify-content: center;
				text-align: center;
				margin-bottom: 19px;
				position: static;

				span {
					@include media( map-get( $media, xl ) ) {
						display: block;
						max-width: 205px;
					}
				}
			}
		}
	}

	&__basket {
		order: 2;
		margin-right: 20px;
		padding: 0 10px;
		flex: 1;
		max-width: 207px;

		@include media( map-get( $media, lg ) ) {
			font-size: 18px;
		}

		@include media( map-get( $media, md ) ) {
			order: 2;
			margin-right: 30px;
			height: 49px;
		}

		@include media( map-get( $media, xl ) ) {
			margin-right: 0;
			width: 100%;
			flex: 0 0 100%;
			max-width: 100%;
			order: 5;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		margin-right: 20px;
		font-size: 26px;
		background: none;
		transition: color .3s;

		@include media( map-get( $media, lg ) ) {
			font-size: 24px;
		}

		@include media( map-get( $media, sm ) ) {
			font-size: 22px;
		}

		&:last-child {
			margin-right: 0;
		}

		&.active {
			color: #CF9F74;
		}

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				color: rgba(#CF9F74,7);
			}
		}

		.icon {

			&-share {
				font-size: 1.1538em;
			}
		}

		&s {
			display: flex;
			order: 3;

			@include media( 1050px ) {
				margin-right: 30px;
			}

			@include media( map-get( $media, md ) ) {
				margin-right: 0;
			}
		}

		&--favorite {
			color: map-get($color, accent);

			.icon {

				&-heart-full {
					display: none;
				}
			}

			&.active {

				.icon {
	
					&-heart-full {
						display: flex;
					}
	
					&-heart {
						display: none;
					}
				}
			}
		}
	}

	&__tabs {

		.text {

			@include media( map-get( $media-min, md ), 'min' ) {
				font-size: 15px;
			}
		}
	}
}