mixin main-slider()
	.main-slider
		.main-slider__item(style="background-image: url(images/main-slider__img-1.jpg);")
			.container
				.main-slider__content
					.main-slider__title.title-page НЬЮ-ЙОРК СТЕЙК
					.main-slider__text Только специальный мясной откорм (от 100 до 360 дней зернового откорма, если Grass Fed, то Grain Finished).
					a(href="#").main-slider__btn.btn.btn--light.btn--md купить сейчас
		.main-slider__item(style="background-image: url(images/main-slider__img-1.jpg);")
			.container
				.main-slider__content
					.main-slider__title.title-page НЬЮ-ЙОРК СТЕЙК
					.main-slider__text Только специальный мясной откорм (от 100 до 360 дней зернового откорма, если Grass Fed, то Grain Finished).
					a(href="#").main-slider__btn.btn.btn--light.btn--md купить сейчас
		.main-slider__item(style="background-image: url(images/main-slider__img-1.jpg);")
			.container
				.main-slider__content
					.main-slider__title.title-page НЬЮ-ЙОРК СТЕЙК
					.main-slider__text Только специальный мясной откорм (от 100 до 360 дней зернового откорма, если Grass Fed, то Grain Finished).
					a(href="#").main-slider__btn.btn.btn--light.btn--md купить сейчас