.main-slider {
	position: relative;

	.slick-dots {
		display: flex !important;
		bottom: 34px;
		z-index: 1;
		margin: 0;
		right: 50%;
		transform: translateX(50%);

		@include media( map-get( $media, md ) ) {
			display: none !important;
		}

		li {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}

			button {
				width: 13px;
				height: 13px;
				background: #fff;
			}

			&.slick-active {

				button {
					background: #3C3E45;
				}
			}
		}
	}

	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		background: rgba(57, 59, 65, 0.5);
		font-size: 24px;
		color: #fff;
		width: 61px;
		height: 61px;
		transition: .3s;

		@include media( map-get( $media, md ) ) {
			width: 38px;
			height: 38px;
			font-size: 15px;
		}

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				background: #393B41;
			}
		}

		&.slick-prev {
			left: 0;
		}

		&.slick-next {
			right: 0;
		}
	}

	&__item {
		// min-height: 462px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.container {
		display: flex;
		justify-content: flex-end;
	}

	&__content {
		background: rgba(57, 59, 65, 0.58);
		margin: 42px 0 46px;
		color: #fff;
		padding: 37px 42px 35px 40px;
		max-width: 396px;
		margin-right: 10px;

		@include media( 1300px ) {
			margin-left: 57px;
			margin-right: 57px;
		}

		@include media( map-get( $media, md ) ) {
			max-width: 100%;
			margin: 11px 43px 17px;
			text-align: center;
			padding: 20px 15px 20px;
		}
	}

	&__title {
		text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
		margin-bottom: 16px;

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 10px;
			font-size: 32px;
		}
	}

	&__text {
		font-weight: 600;
		font-size: 15px;
		line-height: 113%;
		margin-bottom: 25px;

		@include media( map-get( $media, sm ) ) {
			font-size: 10px;
			line-height: 1;
			margin-bottom: 23px;
		}
	}

	&__btn {
		font-size: 17px;
		font-weight: 600;
		border-width: 2px;
		border-color: #FFC28A;
		color: #FFC28A;
		padding: 0 41px;

		@include media( map-get( $media, md ) ) {
			height: 26px;
			border-width: 1px;
			font-size: 10px;
			padding: 0 10px;
		}
	}
}