mixin share()
	.share&attributes(attributes)
		.share__title ПОНРАВИЛОСЬ? РАССКАЖИ ДРУЗЬЯМ
		ul
			li
				a(href="#", style="background-image: url(images/share__twitter.svg);")
			li
				a(href="#", style="background-image: url(images/share__facebook.svg);")
			li
				a(href="#", style="background-image: url(images/share__instagram.svg);")