.share {
	margin: 30px 0;

	&--nomobile {

		@include media( map-get( $media, md ) ) {
			display: none;
		}
	}

	&__title {
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 14px;
		font-weight: bold;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -8px -8px;
	}

	li {
		margin: 0px 8px 8px;
	}

	a {
		display: flex;
		width: 28px;
		height: 28px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	&-btn {
		text-align: center;
		height: auto;
		padding: 15px;
		font-size: 12px;
		line-height: 117%;
		margin-top: 35px;

		@include media( map-get( $media, md ) ) {
			height: auto;
		}

		.icon {
			font-size: 23px;
			width: 1px;
		}

		&--mobile {
			display: none;

			@include media( map-get( $media, md ) ) {
				display: flex;
			}
		}
	}

	&-box {
		position: relative;

		&.active {
			.share-box__content {
				display: block;
			}

			.share-box__btn {

				.icon {
					color: map-get($color, accent);
				}
			}
		}

		&__btn {
			display: flex;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
			background: none;
		}

		&__content {
			display: none;
			position: absolute;
			top: 100%;
			right: -10px;
			margin-top: 10px;
			box-shadow: 0 0 10px rgba(0,0,0,.2);
			background: #fff;

			&:after {
				content: "";
				position: absolute;
				z-index: 1;
				top: -7px;
				right: 12px;
				width: 20px;
				height: 20px;
				box-shadow: 0 0 10px rgba(0,0,0,.2);
				transform: rotate(45deg);
			}

			&:before {
				content: "";
				position: absolute;
				z-index: 2;
				top: -7px;
				right: 12px;
				width: 20px;
				height: 20px;
				background: #fff;
				transform: rotate(45deg);
			}

			ul {
				padding: 10px;
				position: relative;
				z-index: 3;
				flex-wrap: nowrap;
				font-size: 20px;
				background: #fff;
				margin-bottom: 0;
				margin-right: 0;
				flex-wrap: nowrap;

				li {
					margin-bottom: 0;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}