.alert {
	
	& > span {
		display: inline-flex;
		padding: 6px 17px;
		color: #fff;
		background: map-get( $color, accent );
		line-height: 1;
	}

	&--alt {

		& > span {
			background: #EDBCB9;
		}
	}

	&--other {

		& > span {
			background: #BBC4E3;
		}
	}
}