.banner {
	padding: 40px 0 60px;
	background-size: cover;
	background-position: center;
	position: relative;

	@include media( map-get( $media, lg ) ) {
		padding: 40px 0;
	}

	@include media( map-get( $media, sm ) ) {
		padding-top: 0;
		padding-bottom: 33px;
	}

	&--pb {

		@include media( map-get( $media-min, lg ), 'min' ) {
			padding-bottom: 210px !important;
		}

		@include media( map-get( $media-min, md ), 'min' ) {
			padding-bottom: 120px !important;
		}
	}

	&:not(.banner--simple) {

		@include media( map-get( $media, sm ) ) {
			background: #CFA074 !important;
			padding: 15px 0;
		}

		&:before {

			@include media( map-get( $media, sm ) ) {
				display: none;
			}
		}

		.banner__title {
			
			@include media( map-get( $media, sm ) ) {
				font-size: 14px;
				text-transform: none;
				line-height: 121%;
			}
		}
	}

	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(57, 59, 65, 0.58);
	}

	&__content {
		max-width: 806px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: #fff;
		position: relative;
		z-index: 2;
	}

	&__breadcrumbs {
		margin-bottom: 18px;
		display: flex;
		justify-content: center;

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 30px;
		}

		&--mobile {
			display: none;

			.breadcrumbs {
				padding: 0;
			}
	
			@include media( map-get( $media, sm ) ) {
				display: block;
				margin: 0;
			}

			& + .banner__title {
				margin-top: 30px;
	
				@include media( map-get( $media, lg ) ) {
					margin-top: 0;
				}

				@include media( map-get( $media, sm ) ) {
					display: none;
				}
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		margin-bottom: 14px;

		@include media( map-get( $media, sm ) ) {
			font-family: map-get( $ff, main );
		}

		&:last-child {
			margin-bottom: 20px;

			@include media( map-get( $media, lg ) ) {
				margin-bottom: 0;
			}
		}

		&:first-child {
			margin-top: 30px;

			@include media( map-get( $media, lg ) ) {
				margin-top: 0;
			}
		}

		.mobile {
			@include media( map-get( $media, lg ) ) {
				display: block;
			}
		}

		.nomobile {
			@include media( map-get( $media, lg ) ) {
				display: none;
			}
		}
	}

	&__text {
		font-weight: 600;
		font-size: 17px;
		line-height: 118%;

		@include media( map-get( $media, lg ) ) {
			font-size: 15px;
		}

		@include media( map-get( $media, md ) ) {
			font-size: 14px;
		}

		@include media( map-get( $media, sm ) ) {
			font-size: 12px;
		}
	}
}