.progress {
	display: block;
	position: relative;

	&-line {
		display: block;
		height: 7px;
		background: #DBDBDB;
		position: relative;

		span {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			background: map-get( $color, accent );
		}

		&--price {

			span {

				&:after {
					content: attr(data-price);
					position: absolute;
					z-index: 1;
					right: 0;
					bottom: 100%;
					margin-bottom: 7px;
					transform: translateX(50%);
					color: #CFA074;
					line-height: 1;
					font-size: 15px;
					font-weight: 600;

					@include media( map-get( $media, sm ) ) {
						font-size: 13px;
					}
				}
			}
		}
	}

	&-summa {
		position: absolute;
		bottom: 100%;
		margin-bottom: 7px;
		right: 0;
		color: #C4C4C4;
		font-size: 15px;
		font-weight: 600;
		line-height: 1;

		@include media( map-get( $media, sm ) ) {
			font-size: 12px;
		}
	}

	&__title {
		position: absolute;
		bottom: 100%;
		margin-bottom: 7px;
		left: 0;
		display: flex;
		align-items: center;
		line-height: 1;

		@include media( map-get( $media, sm ) ) {
			position: static;
			display: flex;
			align-items: flex-start;
		}

		.icon {
			font-size: 20px;
			margin-right: 9px;
			color: #CFA074;
			position: relative;
			top: -3px;

			@include media( map-get( $media, sm ) ) {
				font-size: 17px;
				margin-right: 8px;
				top: 0;
			}
		}

		& > span {
			text-transform: uppercase;

			@include media( map-get( $media, sm ) ) {
				font-size: 10px;
				line-height: 1.1;
				display: block;
				max-width: 63px;
				min-width: 63px;
				text-transform: none;
				margin-right: 15px;
			}

			span {
				font-weight: 600;

				@include media( map-get( $media, sm ) ) {
					display: block;
				}
			}
		}
	}

	&-cont {
		margin-top: 19px;
		display: flex;
		align-items: flex-start;

		@include media( map-get( $media, sm ) ) {
			margin-top: 12px;
		}
	}

	&-links {
		padding-top: 6px;

		@include media( map-get( $media, sm ) ) {
			display: none;
		}

		li {
			margin-bottom: 17px;

			&:last-child {
				margin-bottom: 0;
			}

			a {
				display: flex;
				align-items: center;
				color: #CFA074;
				font-weight: 600;
				line-height: 1;

				&:hover {

					@include media( map-get( $media-min, lg ), 'min' ) {

						span {
							text-decoration: none;
						}
					}
				}

				.icon {
					margin-right: 6px;
					width: 16px;
					display: flex;
					justify-content: center;
					font-size: 10px;

					&-lamp {
						font-size: 16px;
						color: #505259;
						align-self: flex-end;
					}
				}

				span {
					text-decoration: underline;
				}
			}
		}
	}

	&-box {
		border: 1px solid #C4C4C4;
		position: relative;
		margin-left: auto;
		padding: 10px 20px;

		@include media( map-get( $media, sm ) ) {
			padding: 8px 20px;
		}

		&:before {
			content: '';
			position: absolute;
			bottom: 100%;
			right: 15px;
			width: 10px;
			height: 10px;
			border-top: 1px solid #C4C4C4;
			border-right: 1px solid #C4C4C4;
			transform: rotate(-45deg);
			background: #fff;
			margin-bottom: -4px;
		}

		&__items {
			display: flex;
			margin-right: -40px;

			@include media( map-get( $media, sm ) ) {
				display: block;
				margin-right: -10px;
			}
		}

		&__item {
			margin-right: 40px;
			position: relative;
			padding-left: 53px;
			display: block;
			min-height: 41px;

			@include media( map-get( $media, sm ) ) {
				padding-left: 0;
				min-height: 0;
				margin-right: 10px;
				display: inline-block;
			}

			&--simple {
				padding-left: 0;
				display: flex;
				align-items: center;

				&:last-child {
					text-align: center;
				}
			}

			&:before {
				content: '+';
				position: absolute;
				transform: translateY(-50%);
				line-height: 1;
				top: 50%;
				right: 100%;
				margin-right: 14px;
				color: #CFA074;
				font-weight: 600;
				font-size: 27px;

				@include media( map-get( $media, sm ) ) {
					margin-right: 0;
					right: -7px;
					margin-top: -1px;
					font-size: 9px;
				}
			}

			&:first-child {

				@include media( map-get( $media, sm ) ) {

					&:not(:last-child) {

						br {
							display: none;
						}
					}
				}

				@include media( map-get( $media, xl ) ) {
					display: block;
				}

				&:before {
					display: none;

					@include media( map-get( $media, sm ) ) {
						display: block;
					}
				}
			}

			&:last-child {

				@include media( map-get( $media, sm ) ) {

					&:before {
						display: none;
					}
				}
			}

			&-img {
				position: absolute;
				top: 0;
				left: 0;
				width: 41px;
				height: 41px;
				overflow: hidden;

				@include media( map-get( $media, sm ) ) {
					display: none;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}

			&-title {
				display: block;
				font-size: 11px;
				line-height: 118%;
				font-weight: bold;
				color: #CFA074;
				text-transform: uppercase;

				@include media( map-get( $media, sm ) ) {
					font-size: 9px;
					line-height: 1;
					margin: 0;
				}
			}

			&-name {
				display: block;
				font-size: 12px;
				line-height: 117%;
				max-width: 80px;

				@include media( map-get( $media, sm ) ) {
					display: none;
				}
			}
		}
	}
}