.part {
	display: flex;
	flex-wrap: wrap;
	margin-right: -30px;
	margin-bottom: -70px;
	margin-top: 100px;

	@include media( map-get( $media, lg ) ) {
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 0;
	}

	&-wrap {

		@include media( map-get( $media-min, lg ), 'min' ) {
			position: relative;
		}
	}

	&-img {

		@include media( map-get( $media-min, lg ), 'min' ) {
			position: absolute;
			left: 0;
			bottom: 100%;
			margin-bottom: -220px;
			max-width: 50%;
		}

		@include media( map-get( $media, lg ) ) {
			margin-top: 30px;
			display: flex;
			justify-content: center;
			margin-bottom: 30px;
		}

		img {
			display: block;
			max-width: 100%;
		}

		svg {
			display: block;
			max-width: 100%;

			& > *:not(.active) {

				&.area {
					opacity: 0;
				}
	
				&.name {
					fill: #C2C2C2;
				}
			}
		}
	}

	&-box {
		flex: 0 0 calc(16.6666% - 30px);
		margin-right: 30px;
		margin-bottom: 70px;

		@include media( map-get( $media, lg ) ) {
			flex: 1;
			margin-right: 0;
			padding: 0 8px;
			min-width: 0;
			margin-bottom: 0;
			display: flex !important;
			flex-direction: column;
		}

		&:first-child {

			@include media( map-get( $media-min, lg ), 'min' ) {
				margin-left: 50%;
				min-height: 220px;
			}
		}

		&:nth-child(n+3) {

			@include media( map-get( $media-min, lg ), 'min' ) {
				max-width: 193px;
			}
		}

		&.hover,
		&:hover {

			.part-box-title span {
				border-bottom-color: transparent;
				color: #CF9F74;
				font-weight: 600;
			}
		}

		&-title {
			font-size: 21px;
			line-height: 1.33;
			text-transform: uppercase;
			margin-bottom: 8px;

			@include media( map-get( $media, sm ) ) {
				padding-right: 100px;
			}

			span {
				display: inline;
				border-bottom: 2px dashed #CFA074;
			}
		}

		&-subtitle {
			font-weight: 600;
			margin-bottom: 18px;
			color: #CFA074;
			line-height: 157%;

			@include media( map-get( $media, sm ) ) {
				padding-right: 100px;
			}
		}

		&-list {

			@include media( map-get( $media, lg ) ) {
				border: 1px solid #D6D6D6;
				padding: 20px;
				flex: 1;
			}

			a {
				text-decoration: underline;
				line-height: 157%;
			}
		}
	}
}