.card {
	display: flex;
	flex-direction: column;
	height: 100%;

	@include media( map-get( $media, lg ) ) {
		position: relative;
	}

	.jq-selectbox__dropdown {
		top: 100% !important;
		bottom: auto !important;
	}

	&__view {
		position: relative;
		margin-bottom: 20px;
		z-index: 5;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 11px;
		}

		.stats--top {
			
			@include media( map-get( $media, md ) ) {
				display: none;
			}
		}
	}

	&__img {
		position: relative;
		overflow: hidden;

		&:before {
			content: '';
			display: block;
			padding-top: 100%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__basket {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%,50%);
		font-weight: 600;
		font-size: 13px;
		color: #fff;
		height: 32px;
		background: #BB2331;
		padding: 0 15px;
		display: flex;
		align-items: center;
		white-space: nowrap;

		@include media( map-get( $media, md ) ) {
			display: none;
		}
	}

	&__title {
		text-align: center;
		font-size: 15px;
		line-height: 133%;
		margin-bottom: auto;
	}

	&__favorite {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		visibility: hidden;

		@include media( map-get( $media, lg ) ) {
			opacity: 1;
			visibility: visible;
		}

		.icon {
			font-size: 40px;
			color: #fff;
			transition: .3s;
			display: flex;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);

			@include media( map-get( $media, md ) ) {
				font-size: 23px;
			}

			&-heart {
				opacity: 1;
				visibility: visible;
			}

			&-heart-full {
				opacity: 0;
				visibility: hidden;
			}
		}

		&.active {
			opacity: 1;
			visibility: visible;

			.icon {
	
				&-heart {
					opacity: 0;
					visibility: hidden;
				}
	
				&-heart-full {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	&__info {
		flex: 1;
		display: flex;
		flex-direction: column;
		position: relative;

		@include media( map-get( $media, lg ) ) {
			position: static;

			& > *:not(.card__drop) {
				display: none;
			}
		}
	}

	&__line {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 17px;
	}

	&__price {
		display: flex;
		align-items: baseline;
		font-weight: 600;
		line-height: 1;
		white-space: nowrap;

		&-old {
			color: #CFA074;
			font-size: 15px;
			text-decoration: line-through;
			margin-right: 18px;
		}

		&-new {
			color: #040200;
			font-size: 23px;
		}
	}

	&__sale {
		display: flex;
		align-items: center;
		height: 22px;
		line-height: 1;
		padding: 0 6px;
		background: #E09E60;
		font-weight: 600;
		font-size: 13px;
		color: #fff;
		margin-left: 18px;
		white-space: nowrap;

		@include media( map-get( $media, lg ) ) {
			display: none;
		}
	}

	&__tag {
		display: flex;
		align-items: center;
		height: 22px;
		line-height: 1;
		padding: 0 12px;
		font-weight: 600;
		font-size: 13px;
		color: #fff;
		margin-right: 3px;

		@include media( map-get( $media, lg ) ) {
			margin: 0;
			justify-content: center;
		}

		@include media( map-get( $media, md ) ) {
			height: 16px;
			font-size: 10px;
			padding: 0 8px;
			min-width: 34px;
		}

		&:last-child {
			margin-right: 0;
		}

		&--alt {
			background: map-get( $color, alt );
		}

		&--dark {
			background: map-get( $color, dark );
		}

		&--accent {
			background: map-get( $color, accent );
		}

		&--mobile {
			
			@include media( map-get( $media-min, lg ), 'min' ) {
				display: none;
			}
		}

		&s {
			display: flex;
			flex-wrap: wrap;
			margin-right: 10px;

			@include media( map-get( $media, lg ) ) {
				position: absolute;
				top: 12px;
				left: 0;
				display: block;
			}

			& + .card__price {

				@include media( map-get( $media-min, lg ), 'min' ) {
					position: relative;

					.card__price-old {
						margin-right: 0;
						position: absolute;
						top: 100%;
						margin-top: 5px;
						left: 0;
						right: 0;
						text-align: center;
					}
				}
			}
		}
	}

	&__drop {
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
		right: 0;
		background: #fff;
		display: none;
		z-index: 100;

		@include media( map-get( $media, lg ) ) {
			display: block;
			position: static;
			height: 100%;
			display: flex;
			flex-direction: column;
			padding-bottom: 17px;
			background: none;
		}

		.card__title {
			margin-bottom: 13px;

			@include media( map-get( $media-min, lg ), 'min' ) {
				font-weight: 600;
				font-size: 18px;
			}

			@include media( map-get( $media, md ) ) {
				font-size: 11px;
				line-height: 1;
				margin-bottom: 8px;
			}
		}

		.card__line {

			@include media( map-get( $media, lg ) ) {
				margin-top: auto;
			}
		}

		.card__price {

			&-new {
				font-size: 25px;

				@include media( map-get( $media, md ) ) {
					font-size: 14px;
				}
			}

			&-old {
				
				@include media( map-get( $media, md ) ) {
					font-size: 10px;
					margin-right: 5px;
				}
			}
		}
	}

	&__text {
		text-align: center;
		color: #8F8F8F;
		line-height: 1;
		margin-bottom: 14px;

		@include media( map-get( $media, lg ) ) {
			display: none;
		}
	}

	&__bottom {
		margin-top: 29px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media( map-get( $media, md ) ) {
			display: block;
			position: relative;
			margin-top: 12px;
			height: 31px;

			.btn {
				height: 100%;
				width: 100%;
				font-size: 11px;
			}

			&.active {

				.card__counter {
					display: block;
				}

				.btn {
					display: none;
				}
			}
		}
	}

	&__counter {

		@include media( map-get( $media, md ) ) {
			display: none;
			height: 100%;

			.counter {
				height: 100%;

				&__btn {
					height: 100%;
					width: 31px;
					display: flex;
					align-items: center;
					justify-content: center;
					background: #393B41;
					font-weight: 300;
					font-size: 27px;
				}

				&__val {
					font-size: 14px;

					&-wrap {
						width: auto;
						flex: 1;
						background: #EDEDED;
					}
				}
			}
		}
	}

	&__val {
		display: flex;
		align-items: center;
		justify-content: center;

		@include media( map-get( $media, lg ) ) {
			display: none;
		}

		&-title {
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 600;
			margin-right: 10px;
		}

		&-area {
			.jq-selectbox {
				max-width: 200px;
			}
			.jq-selectbox__select-text {
				width: auto !important;
			}
		}
	}
}