mixin card(object)
	.card
		.card__view
			.card__img
				img(src=`images/${object.imgName}`, alt="")
			if object.inBasket
				.card__basket 2 шт в Корзине
			if object.stats
				+stat(object.stats,'top')
			if object.deliv
				+stat(object.deliv,'down')
			a(href="#").card__favorite.btn--trigger
				+icon('heart')
				+icon('heart-full')
		.card__info
			.card__title= object.title
			.card__line
				if object.tags
					ul.card__tags
						each type,name in object.tags
							li(class=`card__tag--${type}`).card__tag= name
				.card__price
					if object.price.old
						.card__price-old= object.price.old
					if object.price.new
						.card__price-new!= object.price.new
				if object.price.old
					.card__sale - 25%
		
			.card__drop
				.card__title= object.title
				.card__text Максимальная степень мраморности, нереальная сочность и нежность
				.card__val
					.card__val-title Размер
					.card__val-area
						select.form__select
							option(value="") Маленький ≈ 150 гр
							option(value="" selected) Средний ≈ 300 гр
							option(value="") Большой ≈ 500 гр
				.card__line
					if object.tags || object.price.old
						ul.card__tags
							if object.tags
								each type,name in object.tags
									li(class=`card__tag--${type}`).card__tag= name
							if object.price.old
								li(class=`card__tag--accent`).card__tag.card__tag--mobile %
					.card__price
						if object.price.old
							.card__price-old= object.price.old
						if object.price.new
							.card__price-new!= object.price.new
					if object.price.old
						.card__sale - 25%
				.card__bottom(class= object.inBasket ? "active" : "")
					.card__counter
						+counter()
					a(href="#").btn.btn--dark.btn--sm В КОРЗИНУ


