.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 52px;
	padding: 0 32px;
	cursor: pointer;
	text-decoration: none;
	font-family: map-get($ff, main), Arial, sans-serif;
	transition: .3s;
	border: 1px solid map-get( $color, accent );
	color: map-get( $color, accent );
	line-height: 1;
	font-size: 16px;
	text-transform: uppercase;

	@include media( map-get( $media, md ) ) {
		font-size: 12px;
		height: 42px;
	}

	span {
		margin-bottom: -0.1em;
	}

	.icon {

		&:first-child {
			margin-right: 12px;
		}

		&:last-child {
			margin-left: 12px;
		}
	}

	&--dark {
		background: map-get( $color, dark );
		border-color: map-get( $color, dark );
		color: #fff;
	}

	&--gray {
		background: map-get( $color, gr );
	}

	&--accent {
		background: map-get( $color, accent );
		color: #fff;

		&:hover {

			@include media( map-get( $media-min, lg ), 'min' ) {
				color: #fff;
			}
		}
	}

	&--alt {
		background: map-get( $color, alt );
		border-color: map-get( $color, alt );
		color: #fff;
		font-weight: 600;
		height: 43px;
	}

	&--other {
		border-width: 2px;
		border-color: #FFC28A;
		color: #FFC28A;
		font-weight: 600;
		font-size: 17px;
	}

	&--p-lg {
		padding: 0 72px;
	}

	&--p-md {
		padding: 0 50px;
	}

	&--full {
		width: 100%;
		flex: 1;
	}

	&--lg {
		height: 59px;
	}

	&--md {
		height: 56px;
	}

	&--sm {
		height: 49px;
	}

	&--xl {
		height: 40px;
	}

	&--min {
		height: 26px;
	}

	&--low {
		height: 22px;
	}

	&--f-min {
		font-size: 13px;
	}

	&--f-xl {
		font-size: 14px;
	}

	&--f-lg {
		font-size: 18px;
	}

	&-icon {
		padding: 0;
		border-bottom: none;
		height: auto;
	}
}