.page {
	margin-top: 54px;
	margin-bottom: 100px;

	@include media( map-get( $media, sm ) ) {
		margin-bottom: 80px;
		margin-top: 35px;
	}

	&--basket {

		@include media( map-get( $media, sm ) ) {
			margin-bottom: 0;
		}
	}

	&--orders {

		@include media( map-get( $media-min, lg ), 'min' ) {
			margin-bottom: 200px;
		}

		@include media( map-get( $media, md ) ) {
			margin-top: 30px;
		}

		@include media( map-get( $media, sm ) ) {
			margin-top: 30px;
		}
	}

	&.checkout-step {

		.basket {
			display: none;
		}

		.checkout--aside,
		.checkout {
			display: block;
		}
	}

	&--mb {
		margin-bottom: 75px;
	}

	&--mt {
		margin-top: 47px;

		@include media( map-get( $media, lg ) ) {
			margin-top: 30px;
		}

		@include media( map-get( $media, md ) ) {
			margin-top: 22px;
		}

		&-lg {

			@include media( map-get( $media-min, lg ), 'min' ) {
				margin-top: 105px;
			}
		}
	}

	&-more {
		margin-top: 25px;
		display: flex;
		justify-content: center;

		@include media( map-get( $media, sm ) ) {
			margin-top: 30px;
		}

		&--mobile {
			display: none;

			@include media( map-get( $media, md ) ) {
				display: flex;
			}
		}
		
		.btn {
			max-width: 300px;
			width: 100%;
		}

		&--alt {

			.btn {
				max-width: 100%;
				width: auto;

				@include media( map-get( $media-min, md ), 'min' ) {
					padding: 0 52px;
				}
			}
		}
	}

	&-search {
		padding: 31px 0 24px;
		background: map-get( $color, gr );

		@include media( map-get( $media, md ) ) {
			padding: 0;
			background: transparent;
			margin-top: 16px;
		}

		&--nomobile {

			@include media( map-get( $media, md ) ) {
				display: none;
			}
		}

		&__form {
			width: 100%;
			max-width: 571px;
			margin-left: auto;
			margin-right: auto;
			background: #fff;
			height: 43px;
			position: relative;
			display: flex;

			@include media( map-get( $media, md ) ) {
				background: #EDEDED;
				height: 40px;
			}

			& > .icon {
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				bottom: 0;
				width: 53px;
				font-size: 20px;
				color: #CFA074;
				display: flex;
				align-items: center;
				justify-content: center;

				@include media( map-get( $media, md ) ) {
					width: 40px;
					color: rgba(80, 82, 89, 0.65);
				}
			}

			input {
				position: relative;
				z-index: 2;
				padding: 0 15px 0 53px;
				text-align: center;
				min-width: 0;
				flex: 1;
				background: transparent;

				@include placeholder(rgba(60, 62, 69, 0.6));

				@include media( map-get( $media, md ) ) {
					padding-left: 40px;
				}
			}

			button {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 43px;
				color: #CF9F74;
				font-size: 16px;
				background: transparent;

				@include media( map-get( $media, md ) ) {
					width: 40px;
				}
			}
		}
	}

	&-line {
		display: flex;
		align-items: center;

		@include media( map-get( $media, lg ) ) {
			margin-bottom: 23px;
		}

		.cards-nums {

			@include media( map-get( $media, md ) ) {
				display: none;
			}
		}
	}

	&-date {
		margin-right: auto;
		font-weight: 600;
		color: map-get( $color, accent );

		@include media( map-get( $media, md ) ) {
			margin-left: auto;
		}

		&__line {
			display: flex;
			align-items: baseline;
			white-space: nowrap;
			cursor: pointer;
			position: relative;

			.date-select {
				height: auto;
				background: none;
				box-shadow: none;
				position: static;

				select {
					position: absolute;
					z-index: -1;
					height: 0;
				}

				.jq-selectbox__select {
					background: none;
					box-shadow: none;
					padding: 0;
					border-bottom: 1px solid;
					height: initial;
					color: #CF9F74;
					position: static;

					&:after {
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}
				}

				.jq-selectbox__select-text {
					font-weight: 600;
					padding-left: 5px;
					color: #CF9F74;
					line-height: 1;
				}

				.jq-selectbox__trigger {
					display: none;
				}

				.jq-selectbox__dropdown {
					left: 0;
					min-width: 100%;
					background: #FFFFFF;
					border: 1px solid #E4DBD9;
					border-radius: 0;
					
					@include media( map-get( $media, xl ) ) {
						width: 100vw !important;
						left: 50% !important;
						transform: translateX(-50%) !important;
					}

					li {
						border-bottom: 1px solid #E4DBD9;
						white-space: nowrap;
						display: flex;
						align-items: center;
						padding: 0 30px;
						height: 39px;
						cursor: pointer;
						font-size: 14px;
						color: #CFA074;

						@include media( map-get( $media, xl ) ) {
							justify-content: center;
							text-align: center;
						}

						&:last-child {
							border-bottom: none;
						}

						&.sel {
							display: none;
						}

						&:hover {
							background: none;
							color: #CFA074;
						}
					}
				}
			}

			span {
				border-bottom: 1px solid;
				line-height: 1;
			}

			.icon {
				margin-left: 10px;
				font-size: 1.2em;
				align-self: center;
			}

			&:hover {
				
				@include media( map-get( $media-min, lg ), 'min' ) {

					span {
						text-decoration: none;
					}
				}
			}
		}
	}

	&-filter {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 22px;
		border-bottom: 1px solid rgba(196, 196, 196, 0.57);
		margin-bottom: 20px;
		margin-right: -10px;

		@include media( map-get( $media, md ) ) {
			justify-content: center;
		}

		& > * {
			margin-right: 10px;
			margin-bottom: 5px;
		}

		&--mobile {
			display: none;

			@include media( map-get( $media, md ) ) {
				display: flex;
			}
		}
	}

	&-controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 12px;

		@include media( map-get( $media, md ) ) {
			margin-bottom: 17px;
		}
	}

	&-link {
		display: flex;
		align-items: center;
		color: #CFA074;

		&--mobile {
			display: none;

			@include media( map-get( $media, md ) ) {
				display: flex;
			}
		}

		& > span {
			font-weight: 600;
			line-height: 121%;
			text-decoration: underline;

			&:hover {

				@include media( map-get( $media-min, lg ), 'min' ) {
					text-decoration: none;
				}
			}

			span {

				@include media( map-get( $media, md ) ) {
					display: none;
				}
			}
		}

		.icon {
			font-size: 0.9em;

			&:first-child {
				margin-right: 12px;

				@include media( map-get( $media, md ) ) {
					margin-right: 8px;
				}
			}

			&:last-child {
				margin-left: 12px;

				@include media( map-get( $media, md ) ) {
					margin-left: 8px;
				}
			}
		}
	}

	&-box {
		margin: 0 auto;
		width: 100%;

		&--min {
			max-width: 300px;
		}

		&--md {
			max-width: 881px;
		}

		&--center {
			text-align: center;
		}

		&__title {
			margin-bottom: 35px;

			@include media( map-get( $media, md ) ) {
				margin-bottom: 15px;
			}
		}

		.social {
			margin-bottom: 42px;

			@include media( map-get( $media, md ) ) {
				margin-bottom: 15px;
			}

			ul {
				justify-content: center;
			}
		}

		.form__label--check-alt {
			margin-top: 41px;

			@include media( map-get( $media, md ) ) {
				margin-top: 15px;
			}
		}

		.form__action {
			margin-top: 38px;

			@include media( map-get( $media, md ) ) {
				margin-top: 15px;
			}
		}

		&__line {
			display: flex;
			margin-top: 30px;

			@include media( map-get( $media, md ) ) {
				margin-top: 15px;
			}

			&--center {
				justify-content: center;
			}

			a {
				text-decoration: underline;
				font-weight: 600;
				font-size: 15px;
				color: #CFA074;

				@include media( map-get( $media, md ) ) {
					font-size: 12px;
				}

				&:hover {

					@include media( map-get( $media-min, lg ), 'min' ) {
						text-decoration: none;
					}
				}
			}
		}
	}

	&__col {
		margin-right: 50px;
		flex: 0 0 316px;

		@include media( map-get( $media, md ) ) {
			flex: 0 0 250px;
		}

		@include media( map-get( $media, sm ) ) {
			margin-right: 0;
			margin-bottom: 20px;
		}

		&s {
			display: flex;
			margin-right: -50px;

			@include media( map-get( $media, md ) ) {
				margin-bottom: 30px;
			}

			@include media( map-get( $media, sm ) ) {
				display: block;
				margin-right: 0;
			}

			& + hr {
				@include media( map-get( $media-min, lg ), 'min' ) {
					margin-bottom: 50px;
				}
			}
		}

		.play {
			@include media( map-get( $media-min, lg ), 'min' ) {
				width: 80px;
				height: 80px;
				font-size: 45px;
			}
		}

		.article__banner-title {

			@include media( map-get( $media-min, lg ), 'min' ) {
				top: 22px;
				left: 32px;
				right: 32px;
			}
		}

		&--flex{ 
			flex: 1;

			@include media( map-get( $media, md ) ) {
				flex: 1;
			}
		}

		&--md {
			flex: 0 0 356px;

			@include media( map-get( $media, md ) ) {
				flex: 0 0 356px;
			}

			.article__box {
				width: 100%;
				max-width: 100%;
				margin-right: 0;
			}
		}
	}

	&--mz {

		@include media( map-get( $media, md ) ) {
			margin: 0 !important;
			padding: 0 !important;

			.container {
				padding: 0;
			}

			.page-box {
				max-width: 100%;
			}
		}
	}
}