.inner {
	display: flex;

	@include media( map-get( $media, md ) ) {
		display: block;
	}

	&__main {
		flex: 0 0 calc(100% - 368px);
		width: calc(100% - 368px);
		max-width: calc(100% - 368px);

		@include media( map-get( $media, lg ) ) {
			flex: 0 0 calc(100% - 336px);
			width: calc(100% - 336px);
			max-width: calc(100% - 336px);
		}

		@include media( map-get( $media, md ) ) {
			width: 100%;
			max-width: 100%;
		}

		.title {
			padding-bottom: 26px;
			border-bottom: 1px solid #CDCDCD;
			margin-bottom: 40px;

			@include media( map-get( $media, md ) ) {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 16px;
			}
		}
	}

	&__aside {
		width: 306px;
		flex: 0 0 306px;
		margin-left: 62px;
		position: relative;

		@include media( map-get( $media, lg ) ) {
			margin-left: 30px;
		}

		&--nomobile {
			
			@include media( map-get( $media, md ) ) {
				display: none;
			}
		}

		.card-alt {
			margin-bottom: 35px;
			position: relative;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&--basket {

		@include media( map-get( $media, lg ) ) {
			display: block;
		}

		.inner {

			&__main {

				@include media( map-get( $media, lg ) ) {
					width: 100%;
					max-width: 100%;
				}
			}

			&__aside {
				width: 342px;
				flex: 0 0 342px;
				margin-left: 32px;
				position: relative;

				@include media( map-get( $media, lg ) ) {
					width: 100%;
					margin-left: 0;
				}
			}
		}
	}
}

.aside {

	&__title {
		position: absolute;
		left: 0;
		bottom: 100%;
		letter-spacing: 0.03em;
		font-weight: 300;
		color: #CFA074;
	}

	&-box {

		&--fixed {}
	}
}