.article {

	&__banner {
		position: relative;
		margin-bottom: 33px;

		@include media( map-get( $media, md ) ) {
			margin-left: -20px;
			margin-right: -20px;
			margin-bottom: 30px;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(#3C3E45,.25);
		}

		img {
			display: block;
			width: 100%;
			position: relative;
			z-index: 1;
		}

		&-link {
			position: absolute;
			z-index: 4;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.play {
			transition: .3s;
			position: absolute;
			z-index: 3;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}

		&-title {
			position: absolute;
			z-index: 3;
			top: 27px;
			left: 40px;
			right: 40px;
			font-weight: 600;
			font-size: 16px;
			color: #fff;
			line-height: 125%;

			@include media( map-get( $media, md ) ) {
				top: 13px;
				left: 20px;
				right: 20px;
			}
		}
	}

	&__box {
		margin-right: 20px;
		width: calc(50% - 21px);
		max-width: 316px;
		flex: 0 0 calc(50% - 21px);
		margin-bottom: 20px;
		line-height: 157%;

		@include media( map-get( $media, xl ) ) {
			margin-bottom: 18px;
			width: 100%;
			max-width: 100%;
			margin-right: 0;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&--single {
			width: 100%;
			max-width: 100%;
			margin-bottom: 54px;

			@include media( map-get( $media, md ) ) {
				margin: 30px -20px 40px;
				background: #F5F0EB;
				width: initial;
				max-width: initial;
				padding: 29px 20px;
			}

			@include media( map-get( $media, xl ) ) {
				margin-right: -20px;
				width: initial;
				max-width: initial;
			}

			.article__box-title {
				margin-bottom: 20px;

				@include media( map-get( $media, md ) ) {
					margin-bottom: 12px;
				}
			}
		}

		&-title {
			font-weight: bold;
			text-transform: uppercase;
		}

		&-num {
			margin-bottom: 20px;

			@include media( map-get( $media, md ) ) {
				margin-bottom: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&:before {
				counter-increment: numList;
				content: counter(numList);
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 22px;
				height: 22px;
				background: #3C3E45;
				color: #fff;
				margin-right: 0.3em;
			}

			&s {
				counter-reset: numList;
			}
		}

		&s {
			display: flex;
			flex-wrap: wrap;
			margin-right: -21px;
			margin-bottom: -20px;

			@include media( map-get( $media, xl ) ) {
				display: block;
				margin-right: 0;
				margin-bottom: 0;
			}
		}
	}
}